### w3schools - Python

- Link
  - https://www.w3schools.com/python/default.asp

In [5]:
print("Hello, World!")

Hello, World!

- 파이썬 버전 확인

In [6]:
import sys

print(sys.version)

3.13.2 (tags/v3.13.2:4f8bb39, Feb  4 2025, 15:23:48) [MSC v.1942 64 bit (AMD64)]

* 파이썬 구문 실행

In [7]:
print("hello!")

hello!

* 파이썬 들여쓰기

In [8]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [9]:
if 5 > 2:
  print("Five is greater than two!")
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [12]:
# 동일한 코드 블록에서 동일한 수의 공백을 사용해야 합니다. 그렇지 않으면 Python에서 오류가 발생합니다.
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (2828717955.py, line 4)

* 파이썬 변수

In [13]:
x = 5
y = "Hello, World!"

* 파이썬 주석

In [14]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [15]:
print("Hello, World!") #This is a comment

Hello, World!

In [16]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [17]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [18]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

* 변수 생성

In [19]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [20]:
# 변수는 특정 유형 으로 선언될 필요가 없으며 , 설정된 후에도 유형을 변경할 수 있습니다.
x = 4
x = "Sally"
print(x)

Sally

In [23]:
# 변수의 데이터 유형을 지정하려면 캐스팅을 사용하면 됩니다.
x = str(3)
y = int(3)
z= float(3)

In [24]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [25]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

* 작은 따옴표, 큰 따옴표

In [28]:
x = "John"
# is the same as
x = 'John'

print(x)

John

In [31]:
# 변수 이름은 대소문자를 구분합니다.
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

* 변수 이름

  - 변수 이름은 문자 또는 밑줄 문자로 시작해야 합니다.
  - 변수 이름은 숫자로 시작할 수 없습니다.
  - 변수 이름에는 영숫자 문자와 밑줄(Az, 0-9, _)만 포함될 수 있습니다.
  - 변수 이름은 대소문자를 구분합니다(age, Age 및 AGE는 세 개의 다른 변수입니다)
  - 변수 이름은 Python 키워드 중 하나가 될 수 없습니다 .

In [32]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [33]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

In [35]:
# Camel Case (첫 번째 단어를 제외한 모든 단어는 대문자로 시작합니다.)
myVariableName = "John"

# Pascal Case (각 단어는 대문자로 시작합니다.)
MyVariableName = "John"

# Snake Case (각 단어는 밑줄 문자로 구분됩니다.)
my_variable_name = "John"

* 여러 변수에 대한 여러 값

In [36]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

* 하나의 값을 여러 변수에

In [37]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

* 컬렉션 풀기
  - list, 등 의 값 컬렉션이 있는 경우, tuplePython에서는 값을 변수로 추출할 수 있습니다. 이를 언패킹 이라고 합니다 .

In [38]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

* 출력 변수

In [39]:
x = "Python is awesome"
print(x)

Python is awesome

In [40]:
# 함수 에서는 print()쉼표로 구분된 여러 변수를 출력합니다.
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [42]:
# +연산자를 사용하여 여러 변수를 출력할 수도 있습니다.
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

# "Python "and 뒤에 있는 공백 문자에 주목하세요. 공백 "is "문자가 없으면 결과는 "Pythonisawesome"이 됩니다.
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Python is awesome
Pythonisawesome

In [44]:
# 함수 에서 연산자 print()를 사용하여 문자열과 숫자를 결합하려고 하면 + Python에서 오류가 발생합니다.
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
x = 5
y = "John"
print(x, y)

5 John

* 전역 변수

  - 함수 외부에서 생성된 변수(이전 페이지의 모든 예제처럼)를 전역 변수라고 합니다.
  - 전역 변수는 함수 내부와 외부 모두에서 누구나 사용할 수 있습니다.

In [46]:
# 함수 외부에서 변수를 생성하고 함수 내부에서 사용합니다.
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [53]:
# 전역 변수와 동일한 이름으로 함수 내부에 변수를 생성합니다.
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

* 글로벌 키워드
  
   - 일반적으로 함수 내부에 변수를 생성하면 해당 변수는 지역 변수가 되어 해당 함수 내부에서만 사용할 수 있습니다.
   - 함수 내부에 전역 변수를 생성하려면 global키워드를 사용하면 됩니다.

In [54]:
# 키워드를 사용하면 global변수는 전역 범위에 속합니다.
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [60]:
# 또한, global함수 내에서 전역 변수를 변경하려면 키워드를 사용하세요.
# 함수 내에서 전역 변수의 값을 변경하려면 global다음 키워드를 사용하여 변수를 참조합니다.

x = "awesome"

print("Python is " + x)

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is awesome
Python is fantastic

* 내장 데이터 유형

  - 텍스트 유형: str
  - 숫자형 유형: int, float, complex
  - 시퀀스 유형: list, tuple, range
  - 매핑 유형: dict
  - 세트 유형: set,frozenset
  - 부울 유형: bool
  - 이진 유형: bytes, bytearray, memoryview
  - 없음 유형: NoneType

* 데이터 유형 가져오기

  - 다음 type() 함수를 사용하면 모든 객체의 데이터 유형을 얻을 수 있습니다.

In [61]:
x = 5
print(type(x))

<class 'int'>

* 데이터 유형 설정

  - Python에서는 변수에 값을 할당할 때 데이터 유형이 설정됩니다.

In [62]:
x = "Hello World"
print(type(x))

x = 20
print(type(x))

x = 20.5
print(type(x))

x = 1j
print(type(x))

x = ["apple", "banana", "cherry"]
print(type(x))

x = ("apple", "banana", "cherry")
print(type(x))

x = range(6)
print(type(x))

x = { "name" : "John", "age" : 36 }
print(type(x))

x = { "apple", "banana", "cherry" }
print(type(x))

x = frozenset({"apple", "banana", "cherry"})
print(type(x))

x = True
print(type(x))

x = b"Hello"
print(type(x))

x = bytearray(5)
print(type(x))

x = memoryview(bytes(5))
print(type(x))

x = None
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

* 특정 데이터 유형 설정

  - 데이터 유형을 지정하려면 다음 생성자 함수를 사용할 수 있습니다.

In [64]:
x = str("Hello World")
print(type(x))

x = int(20)
print(type(x))

x = float(20.5)
print(type(x))

x = complex(1j)
print(type(x))

x = list(("apple", "banana", "cherry"))
print(type(x))

x = tuple(("apple", "banana", "cherry"))
print(type(x))

x = range(6)
print(type(x))

x = dict(name = "John", age = 36)
print(type(x))

x = set(("apple", "banana", "cherry"))
print(type(x))

x = frozenset(("apple", "banana", "cherry"))
print(type(x))

x = bool(5)
print(type(x))

x = bytes(5)
print(type(x))

x = bytearray(5)
print(type(x))

x = memoryview(bytes(5))
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

* 파이썬 숫자

  - int
  - float
  - complex

In [65]:
# 숫자형 변수는 값을 할당할 때 생성됩니다.
x = 1
y = 2.8
z = 1j

In [66]:
# Python에서 객체의 유형을 확인하려면 다음 type()함수를 사용하세요.
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# int (Int 또는 정수는 소수점이 없는 양수 또는 음수의 정수이며, 길이는 제한이 없습니다.)
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [68]:
# Float (부동 소수점 숫자 또는 "부동 소수점 숫자"는 하나 이상의 소수점을 포함하는 양수 또는 음수 숫자입니다.)
x = 1.10
x = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'int'>
<class 'float'>

In [69]:
# Float는 10의 거듭제곱을 나타내는 "e"를 사용한 과학적 숫자일 수도 있습니다.
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [71]:
# Complex (복소수는 허수부에 "j"를 붙여서 표기합니다.)
x = 3+5j
y = 5j
z= -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
# 유형 변환 (int(), float() 및 complex() 메서드를 사용하여 한 유형에서 다른 유형으로 변환할 수 있습니다.)
# 참고: 복소수를 다른 숫자 유형으로 변환할 수 없습니다.
x = 1
y = 2.8
z = 1j

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

print(a)
print(b)
print(c)

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
1.0
2
(1+0j)

* 난수

  - Python에는 난수를 만드는 random() 함수가 없지만, Python에는 난수를 만드는 데 사용할 수 있는 random이라는 내장 모듈이 있습니다.

In [75]:
# random 모듈을 가져와서 1에서 9까지의 난수를 표시합니다.
import random

print(random.randrange(1, 10))

6

* 파이썬 캐스팅

* 변수 유형 지정
  
  - 변수에 타입을 지정해야 할 때가 있습니다. 이는 캐스팅을 통해 가능합니다. Python은 객체 지향 언어이므로 클래스를 사용하여 기본 타입을 포함한 데이터 타입을 정의합니다.
  - 따라서 파이썬에서의 캐스팅은 생성자 함수를 사용하여 수행됩니다.
    - int() - 정수 리터럴, 모든 소수점을 제거한 부동 소수점 리터럴 또는 문자열 리터럴(문자열이 정수를 나타내는 경우)에서 정수를 생성합니다.
    - float() - 정수 리터럴, float 리터럴 또는 문자열 리터럴에서 float 숫자를 구성합니다(문자열이 float 또는 정수를 나타내는 경우)
    - str() - 문자열, 정수 리터럴, 부동 소수점 리터럴을 포함한 다양한 데이터 유형에서 문자열을 구성합니다.

In [ ]:
# int
x = int(1)
y = int(2.8)
z = int("3")

In [77]:
# float
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")

In [78]:
# str
z = str("s1")
y = str(2)
z = str(3.0)