### w3schools - Python

- Link
  - https://www.w3schools.com/python/default.asp

In [5]:
print("Hello, World!")

Hello, World!

- 파이썬 버전 확인

In [6]:
import sys

print(sys.version)

3.13.2 (tags/v3.13.2:4f8bb39, Feb  4 2025, 15:23:48) [MSC v.1942 64 bit (AMD64)]

* 파이썬 구문 실행

In [7]:
print("hello!")

hello!

* 파이썬 들여쓰기

In [8]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [9]:
if 5 > 2:
  print("Five is greater than two!")
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [12]:
# 동일한 코드 블록에서 동일한 수의 공백을 사용해야 합니다. 그렇지 않으면 Python에서 오류가 발생합니다.
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (2828717955.py, line 4)

* 파이썬 변수

In [13]:
x = 5
y = "Hello, World!"

* 파이썬 주석

In [14]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [15]:
print("Hello, World!") #This is a comment

Hello, World!

In [16]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [17]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [18]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

* 변수 생성

In [19]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [20]:
# 변수는 특정 유형 으로 선언될 필요가 없으며 , 설정된 후에도 유형을 변경할 수 있습니다.
x = 4
x = "Sally"
print(x)

Sally

In [23]:
# 변수의 데이터 유형을 지정하려면 캐스팅을 사용하면 됩니다.
x = str(3)
y = int(3)
z= float(3)

In [24]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [25]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

* 작은 따옴표, 큰 따옴표

In [28]:
x = "John"
# is the same as
x = 'John'

print(x)

John

In [31]:
# 변수 이름은 대소문자를 구분합니다.
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

* 변수 이름

  - 변수 이름은 문자 또는 밑줄 문자로 시작해야 합니다.
  - 변수 이름은 숫자로 시작할 수 없습니다.
  - 변수 이름에는 영숫자 문자와 밑줄(Az, 0-9, _)만 포함될 수 있습니다.
  - 변수 이름은 대소문자를 구분합니다(age, Age 및 AGE는 세 개의 다른 변수입니다)
  - 변수 이름은 Python 키워드 중 하나가 될 수 없습니다 .

In [32]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [33]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

In [35]:
# Camel Case (첫 번째 단어를 제외한 모든 단어는 대문자로 시작합니다.)
myVariableName = "John"

# Pascal Case (각 단어는 대문자로 시작합니다.)
MyVariableName = "John"

# Snake Case (각 단어는 밑줄 문자로 구분됩니다.)
my_variable_name = "John"

* 여러 변수에 대한 여러 값

In [36]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

* 하나의 값을 여러 변수에

In [37]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

* 컬렉션 풀기
  - list, 등 의 값 컬렉션이 있는 경우, tuplePython에서는 값을 변수로 추출할 수 있습니다. 이를 언패킹 이라고 합니다 .

In [38]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

* 출력 변수

In [39]:
x = "Python is awesome"
print(x)

Python is awesome

In [40]:
# 함수 에서는 print()쉼표로 구분된 여러 변수를 출력합니다.
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [42]:
# +연산자를 사용하여 여러 변수를 출력할 수도 있습니다.
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

# "Python "and 뒤에 있는 공백 문자에 주목하세요. 공백 "is "문자가 없으면 결과는 "Pythonisawesome"이 됩니다.
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Python is awesome
Pythonisawesome

In [44]:
# 함수 에서 연산자 print()를 사용하여 문자열과 숫자를 결합하려고 하면 + Python에서 오류가 발생합니다.
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
x = 5
y = "John"
print(x, y)

5 John

* 전역 변수

  - 함수 외부에서 생성된 변수(이전 페이지의 모든 예제처럼)를 전역 변수라고 합니다.
  - 전역 변수는 함수 내부와 외부 모두에서 누구나 사용할 수 있습니다.

In [46]:
# 함수 외부에서 변수를 생성하고 함수 내부에서 사용합니다.
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [53]:
# 전역 변수와 동일한 이름으로 함수 내부에 변수를 생성합니다.
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

* 글로벌 키워드
  
   - 일반적으로 함수 내부에 변수를 생성하면 해당 변수는 지역 변수가 되어 해당 함수 내부에서만 사용할 수 있습니다.
   - 함수 내부에 전역 변수를 생성하려면 global키워드를 사용하면 됩니다.

In [54]:
# 키워드를 사용하면 global변수는 전역 범위에 속합니다.
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [60]:
# 또한, global함수 내에서 전역 변수를 변경하려면 키워드를 사용하세요.
# 함수 내에서 전역 변수의 값을 변경하려면 global다음 키워드를 사용하여 변수를 참조합니다.

x = "awesome"

print("Python is " + x)

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is awesome
Python is fantastic

* 내장 데이터 유형

  - 텍스트 유형: str
  - 숫자형 유형: int, float, complex
  - 시퀀스 유형: list, tuple, range
  - 매핑 유형: dict
  - 세트 유형: set,frozenset
  - 부울 유형: bool
  - 이진 유형: bytes, bytearray, memoryview
  - 없음 유형: NoneType

* 데이터 유형 가져오기

  - 다음 type() 함수를 사용하면 모든 객체의 데이터 유형을 얻을 수 있습니다.

In [61]:
x = 5
print(type(x))

<class 'int'>

* 데이터 유형 설정

  - Python에서는 변수에 값을 할당할 때 데이터 유형이 설정됩니다.

In [62]:
x = "Hello World"
print(type(x))

x = 20
print(type(x))

x = 20.5
print(type(x))

x = 1j
print(type(x))

x = ["apple", "banana", "cherry"]
print(type(x))

x = ("apple", "banana", "cherry")
print(type(x))

x = range(6)
print(type(x))

x = { "name" : "John", "age" : 36 }
print(type(x))

x = { "apple", "banana", "cherry" }
print(type(x))

x = frozenset({"apple", "banana", "cherry"})
print(type(x))

x = True
print(type(x))

x = b"Hello"
print(type(x))

x = bytearray(5)
print(type(x))

x = memoryview(bytes(5))
print(type(x))

x = None
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

* 특정 데이터 유형 설정

  - 데이터 유형을 지정하려면 다음 생성자 함수를 사용할 수 있습니다.

In [64]:
x = str("Hello World")
print(type(x))

x = int(20)
print(type(x))

x = float(20.5)
print(type(x))

x = complex(1j)
print(type(x))

x = list(("apple", "banana", "cherry"))
print(type(x))

x = tuple(("apple", "banana", "cherry"))
print(type(x))

x = range(6)
print(type(x))

x = dict(name = "John", age = 36)
print(type(x))

x = set(("apple", "banana", "cherry"))
print(type(x))

x = frozenset(("apple", "banana", "cherry"))
print(type(x))

x = bool(5)
print(type(x))

x = bytes(5)
print(type(x))

x = bytearray(5)
print(type(x))

x = memoryview(bytes(5))
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

* 파이썬 숫자

  - int
  - float
  - complex

In [65]:
# 숫자형 변수는 값을 할당할 때 생성됩니다.
x = 1
y = 2.8
z = 1j

In [66]:
# Python에서 객체의 유형을 확인하려면 다음 type()함수를 사용하세요.
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# int (Int 또는 정수는 소수점이 없는 양수 또는 음수의 정수이며, 길이는 제한이 없습니다.)
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [68]:
# Float (부동 소수점 숫자 또는 "부동 소수점 숫자"는 하나 이상의 소수점을 포함하는 양수 또는 음수 숫자입니다.)
x = 1.10
x = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'int'>
<class 'float'>

In [69]:
# Float는 10의 거듭제곱을 나타내는 "e"를 사용한 과학적 숫자일 수도 있습니다.
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [71]:
# Complex (복소수는 허수부에 "j"를 붙여서 표기합니다.)
x = 3+5j
y = 5j
z= -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
# 유형 변환 (int(), float() 및 complex() 메서드를 사용하여 한 유형에서 다른 유형으로 변환할 수 있습니다.)
# 참고: 복소수를 다른 숫자 유형으로 변환할 수 없습니다.
x = 1
y = 2.8
z = 1j

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

print(a)
print(b)
print(c)

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
1.0
2
(1+0j)

* 난수

  - Python에는 난수를 만드는 random() 함수가 없지만, Python에는 난수를 만드는 데 사용할 수 있는 random이라는 내장 모듈이 있습니다.

In [75]:
# random 모듈을 가져와서 1에서 9까지의 난수를 표시합니다.
import random

print(random.randrange(1, 10))

6

* 파이썬 캐스팅

* 변수 유형 지정
  
  - 변수에 타입을 지정해야 할 때가 있습니다. 이는 캐스팅을 통해 가능합니다. Python은 객체 지향 언어이므로 클래스를 사용하여 기본 타입을 포함한 데이터 타입을 정의합니다.
  - 따라서 파이썬에서의 캐스팅은 생성자 함수를 사용하여 수행됩니다.
    - int() - 정수 리터럴, 모든 소수점을 제거한 부동 소수점 리터럴 또는 문자열 리터럴(문자열이 정수를 나타내는 경우)에서 정수를 생성합니다.
    - float() - 정수 리터럴, float 리터럴 또는 문자열 리터럴에서 float 숫자를 구성합니다(문자열이 float 또는 정수를 나타내는 경우)
    - str() - 문자열, 정수 리터럴, 부동 소수점 리터럴을 포함한 다양한 데이터 유형에서 문자열을 구성합니다.

In [ ]:
# int
x = int(1)
y = int(2.8)
z = int("3")

In [77]:
# float
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")

In [78]:
# str
z = str("s1")
y = str(2)
z = str(3.0)

* 문자열

  - 파이썬에서 문자열은 작은따옴표나 큰따옴표로 묶습니다.
  - 'hello' 는 "hello" 와 같습니다.
  - 다음 print() 함수를 사용하여 문자열 리터럴을 표시할 수 있습니다.

In [80]:
print("Hello")
print('Hello')

Hello
Hello

* 인용문 안의 인용문

   - 문자열을 둘러싼 따옴표와 일치하지 않는 한 문자열 내부에 따옴표를 사용할 수 있습니다.

In [81]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

* 변수에 문자열 할당

  - 변수에 문자열을 할당하려면 변수 이름 뒤에 등호와 문자열을 입력합니다.

In [82]:
a = "Hello"
print(a)

Hello

* 다중줄 문자열

  - 세 개의 따옴표를 사용하여 여러 줄의 문자열을 변수에 할당할 수 있습니다.
  - 참고: 결과적으로 줄 바꿈은 코드와 같은 위치에 삽입됩니다.

In [83]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
# 또는 작은따옴표 세 개
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

- 문자열은 배열입니다.
- 다른 많은 인기 프로그래밍 언어와 마찬가지로 Python의 문자열은 유니코드 문자의 배열입니다.
- 하지만 파이썬에는 문자 데이터 유형이 없습니다. 단일 문자는 길이가 1인 문자열일 뿐입니다.
- 대괄호를 사용하여 문자열의 요소에 접근할 수 있습니다.

In [85]:
# 위치 1에 있는 문자를 가져옵니다(첫 번째 문자는 위치 0에 있다는 것을 기억하세요)
a = "Hello, World!"
print(a[1])

e

* 문자열 반복

  - 문자열은 배열이므로 for루프를 사용하여 문자열의 문자를 반복할 수 있습니다.

In [1]:
# "banana"라는 단어의 글자를 반복하세요:
for x in "banana":
    print(x)

b
a
n
a
n
a

* 문자열 길이

  - 문자열의 길이를 구하려면 len()함수를 사용하세요.

In [2]:
a = "Hello, World!"
print(len(a))

13

* 문자열 확인

  - 문자열에 특정 구문이나 문자가 있는지 확인하려면 in 키워드를 사용할 수 있습니다.

In [3]:
# 다음 텍스트에 "무료"가 있는지 확인하세요.
txt = "The best things in life are free!"
print("free" in txt)

True

In [4]:
# 다음과 같은 문장에서 if 를 사용하세요.
# "free"가 있는 경우에만 인쇄합니다.
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [5]:
# 아닌 경우 체크하세요
# 문자열에 특정 구문이나 문자가 존재하지 않는지 확인하려면 not in 키워드를 사용할 수 있습니다.

# 다음 텍스트에 "expensive"가 없는지 확인하세요
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [6]:
# 다음과 같은 문장에서 if 사용하세요.
# "expensive"가 존재하지 않는 경우에만 인쇄합니다.
txt = "The best things in life are free!"
if "extensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

* 파이썬 - 문자열 슬라이싱
  
   - 슬라이스 구문을 사용하면 다양한 문자를 반환할 수 있습니다.
   - 문자열의 일부를 반환하려면 콜론으로 구분하여 시작 인덱스와 끝 인덱스를 지정합니다.

In [10]:
# 2부터 5까지의 문자를 가져옵니다(포함되지 않음).
# 참고: 첫 번째 문자의 인덱스는 0입니다.
b = "Hello, World!"
print(b[2:5])
print(b[2])
print(b[5])

llo
l
,

In [8]:
# 처음부터 5번째 위치까지의 문자를 가져옵니다(포함되지 않음).
b = "Hello, World!"
print(b[:5])

Hello

In [11]:
# 끝까지 슬라이스
# 끝 인덱스를 생략하면 범위가 끝까지 이동합니다.

# 2번째 위치부터 끝까지 문자를 가져옵니다.
b = "Hello, World!"
print(b[2:])

llo, World!

In [14]:
# 음수 인덱싱
# 문자열의 끝에서 슬라이스를 시작하려면 음수 인덱스를 사용합니다.

# 캐릭터를 얻으세요.
# 출처: "World!"의 "o" (위치 -5)
# (단, 포함되지 않음: "World!"의 "d" (위치 -2)

b = "Hello, World!"
print(b[-5:-2])

orl

* 문자열 수정

  - Python에는 문자열에 사용할 수 있는 내장 메서드 세트가 있습니다.

In [16]:
# upper()메서드는 문자열을 대문자로 반환합니다.
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [17]:
# lower()메서드는 문자열을 소문자로 반환합니다.
a = "Hello, World!"
print(a.lower())

hello, world!

- 공백 제거
- 공백은 실제 텍스트 앞이나 뒤에 있는 공백이며, 이 공백을 제거하고 싶은 경우가 많습니다.

In [18]:
# strip()방법은 시작이나 끝의 공백을 제거합니다.
a = " Hello, World! "
print(a.strip())

Hello, World!

In [19]:
# 문자열 바꾸기
# replace()메서드는 문자열을 다른 문자열로 바꿉니다.
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

- 분할 문자열
  - split()메서드는 지정된 구분 기호 사이의 텍스트가 목록 항목이 되는 목록을 반환합니다.

In [20]:
# split()메서드는 구분 기호 인스턴스를 찾으면 문자열을 하위 문자열로 분할합니다.
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

- 문자열 연결
    - 두 개의 문자열을 연결하거나 결합하려면 + 연산자를 사용하면 됩니다.

In [23]:
# 그 사이에 공백을 추가하려면 " "를 추가하세요.
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [24]:
# 변수 a와 변수 b를 변수 c로 병합합니다.
a = "Hello"
b = "World"
c = a + "  " + b
print(c)

Hello  World

- 문자열 형식
  - Python 변수 장에서 배웠듯이 문자열과 숫자를 다음과 같이 결합할 수 없습니다.

In [25]:
age = 36
#This will produce an error:
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [27]:
# 하지만 f-string이나 format() 메서드를 사용하면 문자열과 숫자를 결합할 수 있습니다.
age = 36
name = "John"
print("My name is {}, I am {}".format(name, age))

My name is John, I am 36

- F-String
  - F-String은 Python 3.6에서 도입되었으며, 현재는 문자열을 포맷하는 데 선호되는 방법입니다.
  - 문자열을 f-문자열로 지정하려면 f문자열 리터럴 앞에 을 넣고 {}변수와 다른 연산에 대한 자리 표시자로 중괄호를 추가하기만 하면 됩니다.

In [29]:
# F-String 문자열을 만듭니다.
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

- 플레이스홀더와 수정자
  - 플레이스홀더에는 값을 형식화하기 위한 변수, 연산, 함수 및 수정자가 포함될 수 있습니다.

In [32]:
# 변수 price 에 대한 플레이스홀더를 추가합니다.
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [34]:
# 플레이스홀더에는 값의 형식을 지정하는 수정자가 포함될 수 있습니다.
# 수정자는 콜론을 추가하고 :그 뒤에 합법적인 서식 유형을 지정하여 포함됩니다. 즉, .2f소수점 이하 두 자리로 이루어진 고정 소수점 숫자를 의미합니다.

# 소수점 이하 2자리까지 가격을 표시하세요.
price = 29
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 29.00 dollars

In [35]:
# 플레이스홀더에서 수학 연산을 수행하고 결과를 반환합니다.
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

* 파이썬 - 이스케이프 문자

  - 이스케이프 문자
    - 문자열에 허용되지 않는 문자를 삽입하려면 이스케이프 문자를 사용하세요.
    - 이스케이프 문자는 백슬래시 \뒤에 삽입하려는 문자를 입력하는 것입니다.
    - 불법 문자의 예로는 큰따옴표로 둘러싸인 문자열 내부의 큰따옴표가 있습니다.

In [37]:
# 큰따옴표로 둘러싸인 문자열 안에 큰따옴표를 사용하면 오류가 발생합니다.
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (1597675808.py, line 2)

In [ ]:
# 문제를 해결하려면 이스케이프 문자를 사용하세요.
# 이스케이프 문자를 사용하면 일반적으로 허용되지 않는 큰따옴표를 사용할 수 있습니다.

txt = "We are the so-called \"Vikings\" from the north."

In [ ]:
txt = 'It\'s alright.'
print(txt)

txt = "This will insert one \\ (backslash)."
print(txt)

txt = "Hello\nWorld!"
print(txt)

txt = "Hello\rWorld!"
print(txt)

txt = "Hello\tWorld!"
print(txt) 

# 이 예제에서는 한 문자(백스페이스)를 지웁니다.
txt = "Hello \bWorld!"
print(txt) 

# 백슬래시 뒤에 정수 3개를 입력하면 8진수 값이 반환됩니다.
txt = "\110\145\154\154\157"
print(txt)

# 백슬래시 뒤에 'x'와 16진수를 입력하면 16진수 값이 나타납니다.
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

It's alright.
This will insert one \ (backslash).
Hello
World!
World!
Hello	World!
HelloWorld!
Hello
Hello

* 문자열 메서드

  - Python에는 문자열에 사용할 수 있는 내장 메서드 세트가 있습니다.
  - 참고: 모든 문자열 메서드는 새 값을 반환합니다. 원본 문자열은 변경되지 않습니다.
  - https://www.w3schools.com/python/python_strings_methods.asp

* 파이썬 Booleans
  
   - 부울은 True 또는 False 두 값 중 하나를 나타냅니다.
   - 프로그래밍에서는 표현식이 참인지 거짓인지 알아야 하는 경우가 많습니다.
   - Python에서는 모든 표현식을 평가하여 참 또는 거짓, 두 가지 결과 중 하나를 얻을 수 있습니다.
   - 두 값을 비교하면 표현식이 평가되고 Python은 부울 값을 반환합니다.

In [45]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [49]:
# if 문에서 조건을 실행하면 Python은 True 또는 False를 반환합니다.

# 조건이 참인지 거짓인지에 따라 메시지를 표시합니다.
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

- 값 및 변수 평가
  - bool() 함수를 사용하면 모든 값을 평가하여 True 또는 False 값을 반환할 수 있습니다.

In [50]:
# 문자열과 숫자를 평가합니다.
print(bool("Hello"))
print(bool(15))

True
True

In [51]:
# 두 가지 변수를 평가합니다.
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

- 대부분의 값은 참입니다.
- 어떤 종류의 내용이 있으면 거의 모든 값은 참으로 평가됩니다.
- 빈 문자열을 제외한 모든 문자열은 참입니다.
- 0을 제외한 모든 숫자는 참입니다.
- 빈 문자열을 제외한 모든 목록, 튜플, 집합, 사전은 참입니다.

In [52]:
# 다음은 True를 반환합니다.
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [55]:
# 일부 값은 False입니다.
# 실제로 (), [], {}, "", 숫자 0, None과 같은 빈 값을 제외하고는 False로 평가되는 값은 많지 않습니다. 물론 False 값은 False로 평가됩니다.

# 다음은 False를 반환합니다.
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [61]:
# 이 경우 또 다른 값 또는 객체는 False로 평가되며, __len__ 함수가 0 또는 False를 반환하는 클래스에서 만들어진 객체가 있는 경우입니다.
class myclass():
    def __len__(self):
        return 0

myobj = myclass()
print(bool(myobj))

False

In [63]:
# 함수는 부울 값을 반환할 수 있습니다.
# 부울 값을 반환하는 함수를 만들 수 있습니다.

def myFunction():
    return True

print(myFunction())

True

In [64]:
# 함수의 부울 답변을 기반으로 코드를 실행할 수 있습니다.

# 함수가 True를 반환하면 "YES!"를 출력하고, 그렇지 않으면 "NO!"를 출력합니다.
def myFunction():
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

In [66]:
# Python에는 isinstance() 함수와 같이 부울 값을 반환하는 많은 내장 함수가 있는데, 이 함수를 사용하면 객체가 특정 데이터 유형인지 확인할 수 있습니다.

# 객체가 정수인지 아닌지 확인하세요.
x = 200
print(isinstance(x, int))
print(isinstance(x, str))

True
False

* 파이썬 연산자
  
    - 연산자는 변수와 값에 대한 연산을 수행하는 데 사용됩니다.
    - 아래 예에서 우리는 +연산자를 사용하여 두 값을 더합니다.

In [67]:
print(10 + 5)

15

- Python은 연산자를 다음 그룹으로 나눕니다.
   - 산술 연산자
   - 할당 연산자
   - 비교 연산자
   - 논리 연산자
   - 항등 연산자
   - 멤버십 운영자
   - 비트 연산자

In [70]:
# 산술 연산자
# 산술 연산자는 숫자 값과 함께 사용되어 일반적인 수학 연산을 수행합니다.

x = 5
y = 3
print(x + y)

x = 5
y = 3
print(x - y)

x = 5
y = 3
print(x * y)

x = 12
y = 3
print(x / y)

x = 5
y = 2
print(x % y)

x = 2
y = 5
print(x ** y) # 2*2*2*2*2와 동일

x = 15
y = 2
print(x // y) # floor 나누기 // 결과를 가장 가까운 정수로 반올림합니다.

8
2
15
4.0
1
32
7

In [ ]:
# 할당 연산자
# 할당 연산자는 변수에 값을 할당하는 데 사용됩니다.
# 할당 연산자는 '변수에 값을 저장'하거나, 
# 기존 값에 연산을 적용한 뒤 그 결과를 다시 변수에 저장하는 역할을 합니다.
# 예: x += 3  →  x = x + 3 과 동일한 의미

# -------------------------------
# 1. 기본 할당 (=)
# -------------------------------
x = 5               # x에 숫자 5를 저장 (기본적인 할당)
print(x)            # 출력: 5

# -------------------------------
# 2. 덧셈 후 할당 (+=)
# -------------------------------
x = 5               # x를 다시 5로 초기화
x += 3              # x = x + 3 → 5 + 3 = 8
print(x)            # 출력: 8

# -------------------------------
# 3. 뺄셈 후 할당 (-=)
# -------------------------------
x = 5
x -= 3              # x = x - 3 → 5 - 3 = 2
print(x)            # 출력: 2

# -------------------------------
# 4. 곱셈 후 할당 (*=)
# -------------------------------
x = 5
x *= 3              # x = x * 3 → 5 * 3 = 15
print(x)            # 출력: 15

# -------------------------------
# 5. 나눗셈 후 할당 (/=)
# -------------------------------
x = 5
x /= 3              # x = x / 3 → 5 ÷ 3 = 1.6666...
# 주의: '/'는 항상 float(실수형) 결과를 반환합니다.
print(x)            # 출력: 1.6666666666666667

# -------------------------------
# 6. 나머지 후 할당 (%=)
# -------------------------------
x = 5
x %= 3              # x = x % 3 → 5를 3으로 나눈 나머지 = 2
print(x)            # 출력: 2

# -------------------------------
# 7. 몫 후 할당 (//=)
# -------------------------------
x = 5
x //= 3             # x = x // 3 → 5 ÷ 3의 몫 = 1
# '//'는 정수 나눗셈 (소수점 버림)
print(x)            # 출력: 1

# -------------------------------
# 8. 제곱 후 할당 (**=)
# -------------------------------
x = 5
x **= 3             # x = x ** 3 → 5³ = 125
# '**'는 제곱(거듭제곱) 연산자입니다.
print(x)            # 출력: 125

# -------------------------------
# 9. 비트 AND 후 할당 (&=)
# -------------------------------
x = 5               # 5 = 0b0101 (2진수)
x &= 3              # 3 = 0b0011
# AND 연산: 0101 & 0011 → 0001 (십진수 1)
print(x)            # 출력: 1

# -------------------------------
# 10. 비트 OR 후 할당 (|=)
# -------------------------------
x = 5               # 0b0101
x |= 3              # 0b0011
# OR 연산: 0101 | 0011 → 0111 (십진수 7)
print(x)            # 출력: 7

# -------------------------------
# 11. 비트 XOR 후 할당 (^=)
# -------------------------------
x = 5               # 0b0101
x ^= 3              # 0b0011
# XOR 연산: 0101 ^ 0011 → 0110 (십진수 6)
# XOR은 서로 다를 때만 1을 반환합니다.
print(x)            # 출력: 6

# -------------------------------
# 12. 비트 오른쪽 시프트 후 할당 (>>=)
# -------------------------------
x = 5               # 0b0101
x >>= 3             # 오른쪽으로 3비트 이동 → 0000 (십진수 0)
# 오른쪽 시프트는 2의 n제곱으로 나누는 효과가 있습니다.
# 즉, 5 >> 3 은 5 // 8 과 같습니다.
print(x)            # 출력: 0

# -------------------------------
# 13. 비트 왼쪽 시프트 후 할당 (<<=)
# -------------------------------
x = 5               # 0b0101
x <<= 3             # 왼쪽으로 3비트 이동 → 0101000 (십진수 40)
# 왼쪽 시프트는 2의 n제곱을 곱하는 효과가 있습니다.
# 즉, 5 << 3 은 5 * 8 과 같습니다.
print(x)            # 출력: 40

# -------------------------------
# 14. 바다코끼리 연산자 (:=)
# -------------------------------
# 파이썬 3.8 이상에서 도입된 "할당식" 연산자입니다.
# 표현식 내에서 변수를 동시에 '할당'하고 '사용'할 수 있습니다.
# 예시: print(x := 3)는 x에 3을 저장하고, 동시에 3을 출력함.
print(x := 3)       # 출력: 3
# 위 코드는 내부적으로 아래와 동일:
# x = 3
# print(x)

5
8
2
15
1.6666666666666667
2
1
125
1
7
6
0
40
3

In [ ]:
# 비교 연산자
# 비교 연산자는 두 값을 비교하는 데 사용됩니다.

x = 5
y = 3
print(x == y)

x = 5
y = 3
print(x != y)

x = 5
y = 3
print(x > y)

x = 5
y = 3
print(x < y)

x = 5
y = 3
print(x >= y)

x = 5
y = 3
print(x <= y)

False
True
True
False
True
False

In [74]:
# 논리 연산자
# 논리 연산자는 조건문을 결합하는 데 사용됩니다.

x = 5
print(x > 3 and x < 10) # 5가 3보다 크고 5가 10보다 작으므로 True를 반환합니다.

x = 5
print(x > 3 or x < 4) # 조건 중 하나가 참이기 때문에 True를 반환합니다(5는 3보다 크지만 5는 4보다 작지 않습니다).

x = 5
print(not(x > 3 and x < 10)) # not은 결과를 반전하는 데 사용되므로 False를 반환합니다.

True
True
False

In [75]:
# 항등 연산자
# 항등 연산자는 객체가 같은지 여부가 아니라 실제로 동일한 객체이고 동일한 메모리 위치를 가지고 있는지 여부를 비교하는 데 사용됩니다.

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z) # z와 x는 같은 객체이므로 True를 반환합니다.
print(x is y) # x와 y는 같은 내용을 가지고 있더라도 같은 객체가 아니므로 False를 반환합니다.
print(x == y) # "is"와 "=="의 차이점을 보여주기 위해: 이 비교는 x와 y가 같으므로 True를 반환합니다.

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is not z) # z와 x는 같은 객체이므로 False를 반환합니다.
print(x is not y) # x와 y는 같은 내용을 가지고 있더라도 같은 객체가 아니므로 True를 반환합니다.
print(x != y) # "is not"과 "!="의 차이점을 보여주기 위해: 이 비교는 x와 y가 같으므로 False를 반환합니다.

True
False
True
False
True
False

In [76]:
# 멤버십 연산자
# 멤버십 연산자는 객체에 시퀀스가 ​​표현되는지 테스트하는 데 사용됩니다.

x = ["apple", "banana"]
print("banana" in x) # "banana" 값을 갖는 시퀀스가 ​​목록에 있으므로 True를 반환합니다.

x = ["apple", "banana"]
print("pineapple" not in x) # "pineapple" 값을 가진 시퀀스가 ​​리스트에 없으므로 True를 반환합니다.

True
True

In [83]:
# 비트 연산자
# 비트 연산자는 (이진) 숫자를 비교하는 데 사용됩니다.

print(6 & 3)
"""
& 연산자는 각 비트를 비교하여 둘 다 1이면 1로 설정하고, 그렇지 않으면 0으로 설정합니다.

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

10진수와 2진수 값:
0 = 0000000000000000
1 = 0000000000000001
2 = 00000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 00000000000000101
6 = 00000000000000110
7 = 0000000000000111
"""

print(6 | 3)
"""
| 연산자는 각 비트를 비교하여 하나 또는 둘 다 1이면 1로 설정하고, 그렇지 않으면 0으로 설정합니다.

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

10진수와 2진수 값:
0 = 0000000000000000
1 = 0000000000000001
2 = 00000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 00000000000000101
6 = 00000000000000110
7 = 0000000000000111
"""

print(6 ^ 3)
"""
^ 연산자는 각 비트를 비교하여 하나만 1이면 1로 설정하고, 그렇지 않으면(둘 다 1이거나 둘 다 0이면) 0으로 설정합니다.

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
=====================

10진수와 2진수 값:
0 = 0000000000000000
1 = 0000000000000001
2 = 00000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 00000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

print(~3)
"""
~ 연산자는 각 비트를 반전합니다(0은 1이 되고 1은 0이 됩니다).

반전된 3은 -4가 됩니다.
3 = 0000000000000011
-4 = 11111111111111100

10진수와 2진수 값:
4 = 0000000000000100
3 = 00000000000000011
2 = 0000000000000010
1 = 0000000000000001
0 = 0000000000000000
-1 = 111111111111111111
-2 = 11111111111111110
-3 = 11111111111111101
-4 = 1111111111111100
"""

print(3 << 2)
"""
<< 연산자는 오른쪽에서 지정된 개수(이 경우 2)의 0을 삽입하고, 가장 왼쪽의 비트를 같은 개수만큼 제거합니다.

왼쪽에서 00을 삽입하면:
3 = 0000000000000011
다음과 같이 됩니다.
12 = 0000000000001100

10진수와 2진수 값:
0 = 0000000000000000
1 = 0000000000000001
2 = 00000000000000010
3 = 0000000000000011
4 = 00000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 00000000000000111
8 = 0000000000001000
9 = 00000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

print(8 >> 2)
"""
>> 연산자는 각 비트를 지정된 횟수만큼 오른쪽으로 이동합니다. 왼쪽의 빈 공간은 0으로 채워집니다.

각 비트를 오른쪽으로 두 번 이동하면 8은 2가 됩니다.
8 = 0000000000001000
다음이 됩니다.
2 = 0000000000000010

10진수와 2진수 값:
0 = 0000000000000000
1 = 0000000000000001
2 = 00000000000000010
3 = 00000000000000011
4 = 00000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 00000000000000111
8 = 0000000000001000
9 = 00000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2
7
5
-4
12
2

'\n>> 연산자는 각 비트를 지정된 횟수만큼 오른쪽으로 이동합니다. 왼쪽의 빈 공간은 0으로 채워집니다.\n\n각 비트를 오른쪽으로 두 번 이동하면 8은 2가 됩니다.\n8 = 0000000000001000\n다음이 됩니다.\n2 = 0000000000000010\n\n10진수와 2진수 값:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 00000000000000010\n3 = 00000000000000011\n4 = 00000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 00000000000000111\n8 = 0000000000001000\n9 = 00000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n'

- 연산자 우선 순위
- 연산자 우선순위는 연산이 수행되는 순서를 설명합니다.
- https://www.w3schools.com/python/python_operators.asp

In [ ]:
# 괄호는 가장 높은 우선순위를 가지므로 괄호 안의 표현식이 먼저 평가되어야 합니다.
print((6 + 3) - (6 + 3))

0

In [85]:
# 곱셈 *은 덧셈 +보다 우선순위가 높으므로 곱셈은 덧셈보다 먼저 평가됩니다.
print(100 + 5 * 3)

115

In [86]:
# 덧셈 +와 뺄셈 -는 동일한 우선순위를 가지므로 표현식을 왼쪽에서 오른쪽으로 평가합니다.
print(5 + 4 - 7 + 3)

5