### w3schools - Python

- Link
  - https://www.w3schools.com/python/default.asp

In [5]:
print("Hello, World!")

Hello, World!

- 파이썬 버전 확인

In [6]:
import sys

print(sys.version)

3.13.2 (tags/v3.13.2:4f8bb39, Feb  4 2025, 15:23:48) [MSC v.1942 64 bit (AMD64)]

* 파이썬 구문 실행

In [7]:
print("hello!")

hello!

* 파이썬 들여쓰기

In [8]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [9]:
if 5 > 2:
  print("Five is greater than two!")
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [12]:
# 동일한 코드 블록에서 동일한 수의 공백을 사용해야 합니다. 그렇지 않으면 Python에서 오류가 발생합니다.
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (2828717955.py, line 4)

* 파이썬 변수

In [13]:
x = 5
y = "Hello, World!"

* 파이썬 주석

In [14]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [15]:
print("Hello, World!") #This is a comment

Hello, World!

In [16]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [17]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [18]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

* 변수 생성

In [19]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [20]:
# 변수는 특정 유형 으로 선언될 필요가 없으며 , 설정된 후에도 유형을 변경할 수 있습니다.
x = 4
x = "Sally"
print(x)

Sally

In [23]:
# 변수의 데이터 유형을 지정하려면 캐스팅을 사용하면 됩니다.
x = str(3)
y = int(3)
z= float(3)

In [24]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [25]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

* 작은 따옴표, 큰 따옴표

In [28]:
x = "John"
# is the same as
x = 'John'

print(x)

John

In [31]:
# 변수 이름은 대소문자를 구분합니다.
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

* 변수 이름

  - 변수 이름은 문자 또는 밑줄 문자로 시작해야 합니다.
  - 변수 이름은 숫자로 시작할 수 없습니다.
  - 변수 이름에는 영숫자 문자와 밑줄(Az, 0-9, _)만 포함될 수 있습니다.
  - 변수 이름은 대소문자를 구분합니다(age, Age 및 AGE는 세 개의 다른 변수입니다)
  - 변수 이름은 Python 키워드 중 하나가 될 수 없습니다 .

In [32]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [33]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

In [35]:
# Camel Case (첫 번째 단어를 제외한 모든 단어는 대문자로 시작합니다.)
myVariableName = "John"

# Pascal Case (각 단어는 대문자로 시작합니다.)
MyVariableName = "John"

# Snake Case (각 단어는 밑줄 문자로 구분됩니다.)
my_variable_name = "John"

* 여러 변수에 대한 여러 값

In [36]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

* 하나의 값을 여러 변수에

In [37]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

* 컬렉션 풀기
  - list, 등 의 값 컬렉션이 있는 경우, tuplePython에서는 값을 변수로 추출할 수 있습니다. 이를 언패킹 이라고 합니다 .

In [38]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

* 출력 변수

In [39]:
x = "Python is awesome"
print(x)

Python is awesome

In [40]:
# 함수 에서는 print()쉼표로 구분된 여러 변수를 출력합니다.
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [42]:
# +연산자를 사용하여 여러 변수를 출력할 수도 있습니다.
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

# "Python "and 뒤에 있는 공백 문자에 주목하세요. 공백 "is "문자가 없으면 결과는 "Pythonisawesome"이 됩니다.
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Python is awesome
Pythonisawesome

In [44]:
# 함수 에서 연산자 print()를 사용하여 문자열과 숫자를 결합하려고 하면 + Python에서 오류가 발생합니다.
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
x = 5
y = "John"
print(x, y)

5 John

* 전역 변수

  - 함수 외부에서 생성된 변수(이전 페이지의 모든 예제처럼)를 전역 변수라고 합니다.
  - 전역 변수는 함수 내부와 외부 모두에서 누구나 사용할 수 있습니다.

In [46]:
# 함수 외부에서 변수를 생성하고 함수 내부에서 사용합니다.
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [53]:
# 전역 변수와 동일한 이름으로 함수 내부에 변수를 생성합니다.
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

* 글로벌 키워드
  
   - 일반적으로 함수 내부에 변수를 생성하면 해당 변수는 지역 변수가 되어 해당 함수 내부에서만 사용할 수 있습니다.
   - 함수 내부에 전역 변수를 생성하려면 global키워드를 사용하면 됩니다.

In [54]:
# 키워드를 사용하면 global변수는 전역 범위에 속합니다.
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [60]:
# 또한, global함수 내에서 전역 변수를 변경하려면 키워드를 사용하세요.
# 함수 내에서 전역 변수의 값을 변경하려면 global다음 키워드를 사용하여 변수를 참조합니다.

x = "awesome"

print("Python is " + x)

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is awesome
Python is fantastic

* 내장 데이터 유형

  - 텍스트 유형: str
  - 숫자형 유형: int, float, complex
  - 시퀀스 유형: list, tuple, range
  - 매핑 유형: dict
  - 세트 유형: set,frozenset
  - 부울 유형: bool
  - 이진 유형: bytes, bytearray, memoryview
  - 없음 유형: NoneType

* 데이터 유형 가져오기

  - 다음 type() 함수를 사용하면 모든 객체의 데이터 유형을 얻을 수 있습니다.

In [61]:
x = 5
print(type(x))

<class 'int'>

* 데이터 유형 설정

  - Python에서는 변수에 값을 할당할 때 데이터 유형이 설정됩니다.

In [62]:
x = "Hello World"
print(type(x))

x = 20
print(type(x))

x = 20.5
print(type(x))

x = 1j
print(type(x))

x = ["apple", "banana", "cherry"]
print(type(x))

x = ("apple", "banana", "cherry")
print(type(x))

x = range(6)
print(type(x))

x = { "name" : "John", "age" : 36 }
print(type(x))

x = { "apple", "banana", "cherry" }
print(type(x))

x = frozenset({"apple", "banana", "cherry"})
print(type(x))

x = True
print(type(x))

x = b"Hello"
print(type(x))

x = bytearray(5)
print(type(x))

x = memoryview(bytes(5))
print(type(x))

x = None
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

* 특정 데이터 유형 설정

  - 데이터 유형을 지정하려면 다음 생성자 함수를 사용할 수 있습니다.

In [64]:
x = str("Hello World")
print(type(x))

x = int(20)
print(type(x))

x = float(20.5)
print(type(x))

x = complex(1j)
print(type(x))

x = list(("apple", "banana", "cherry"))
print(type(x))

x = tuple(("apple", "banana", "cherry"))
print(type(x))

x = range(6)
print(type(x))

x = dict(name = "John", age = 36)
print(type(x))

x = set(("apple", "banana", "cherry"))
print(type(x))

x = frozenset(("apple", "banana", "cherry"))
print(type(x))

x = bool(5)
print(type(x))

x = bytes(5)
print(type(x))

x = bytearray(5)
print(type(x))

x = memoryview(bytes(5))
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

* 파이썬 숫자

  - int
  - float
  - complex

In [65]:
# 숫자형 변수는 값을 할당할 때 생성됩니다.
x = 1
y = 2.8
z = 1j

In [66]:
# Python에서 객체의 유형을 확인하려면 다음 type()함수를 사용하세요.
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# int (Int 또는 정수는 소수점이 없는 양수 또는 음수의 정수이며, 길이는 제한이 없습니다.)
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [68]:
# Float (부동 소수점 숫자 또는 "부동 소수점 숫자"는 하나 이상의 소수점을 포함하는 양수 또는 음수 숫자입니다.)
x = 1.10
x = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'int'>
<class 'float'>

In [69]:
# Float는 10의 거듭제곱을 나타내는 "e"를 사용한 과학적 숫자일 수도 있습니다.
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [71]:
# Complex (복소수는 허수부에 "j"를 붙여서 표기합니다.)
x = 3+5j
y = 5j
z= -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
# 유형 변환 (int(), float() 및 complex() 메서드를 사용하여 한 유형에서 다른 유형으로 변환할 수 있습니다.)
# 참고: 복소수를 다른 숫자 유형으로 변환할 수 없습니다.
x = 1
y = 2.8
z = 1j

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

print(a)
print(b)
print(c)

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
1.0
2
(1+0j)

* 난수

  - Python에는 난수를 만드는 random() 함수가 없지만, Python에는 난수를 만드는 데 사용할 수 있는 random이라는 내장 모듈이 있습니다.

In [75]:
# random 모듈을 가져와서 1에서 9까지의 난수를 표시합니다.
import random

print(random.randrange(1, 10))

6

* 파이썬 캐스팅

* 변수 유형 지정
  
  - 변수에 타입을 지정해야 할 때가 있습니다. 이는 캐스팅을 통해 가능합니다. Python은 객체 지향 언어이므로 클래스를 사용하여 기본 타입을 포함한 데이터 타입을 정의합니다.
  - 따라서 파이썬에서의 캐스팅은 생성자 함수를 사용하여 수행됩니다.
    - int() - 정수 리터럴, 모든 소수점을 제거한 부동 소수점 리터럴 또는 문자열 리터럴(문자열이 정수를 나타내는 경우)에서 정수를 생성합니다.
    - float() - 정수 리터럴, float 리터럴 또는 문자열 리터럴에서 float 숫자를 구성합니다(문자열이 float 또는 정수를 나타내는 경우)
    - str() - 문자열, 정수 리터럴, 부동 소수점 리터럴을 포함한 다양한 데이터 유형에서 문자열을 구성합니다.

In [ ]:
# int
x = int(1)
y = int(2.8)
z = int("3")

In [77]:
# float
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")

In [78]:
# str
z = str("s1")
y = str(2)
z = str(3.0)

* 문자열

  - 파이썬에서 문자열은 작은따옴표나 큰따옴표로 묶습니다.
  - 'hello' 는 "hello" 와 같습니다.
  - 다음 print() 함수를 사용하여 문자열 리터럴을 표시할 수 있습니다.

In [80]:
print("Hello")
print('Hello')

Hello
Hello

* 인용문 안의 인용문

   - 문자열을 둘러싼 따옴표와 일치하지 않는 한 문자열 내부에 따옴표를 사용할 수 있습니다.

In [81]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

* 변수에 문자열 할당

  - 변수에 문자열을 할당하려면 변수 이름 뒤에 등호와 문자열을 입력합니다.

In [82]:
a = "Hello"
print(a)

Hello

* 다중줄 문자열

  - 세 개의 따옴표를 사용하여 여러 줄의 문자열을 변수에 할당할 수 있습니다.
  - 참고: 결과적으로 줄 바꿈은 코드와 같은 위치에 삽입됩니다.

In [83]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
# 또는 작은따옴표 세 개
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

- 문자열은 배열입니다.
- 다른 많은 인기 프로그래밍 언어와 마찬가지로 Python의 문자열은 유니코드 문자의 배열입니다.
- 하지만 파이썬에는 문자 데이터 유형이 없습니다. 단일 문자는 길이가 1인 문자열일 뿐입니다.
- 대괄호를 사용하여 문자열의 요소에 접근할 수 있습니다.

In [85]:
# 위치 1에 있는 문자를 가져옵니다(첫 번째 문자는 위치 0에 있다는 것을 기억하세요)
a = "Hello, World!"
print(a[1])

e

* 문자열 반복

  - 문자열은 배열이므로 for루프를 사용하여 문자열의 문자를 반복할 수 있습니다.

In [1]:
# "banana"라는 단어의 글자를 반복하세요:
for x in "banana":
    print(x)

b
a
n
a
n
a

* 문자열 길이

  - 문자열의 길이를 구하려면 len()함수를 사용하세요.

In [2]:
a = "Hello, World!"
print(len(a))

13

* 문자열 확인

  - 문자열에 특정 구문이나 문자가 있는지 확인하려면 in 키워드를 사용할 수 있습니다.

In [3]:
# 다음 텍스트에 "무료"가 있는지 확인하세요.
txt = "The best things in life are free!"
print("free" in txt)

True

In [4]:
# 다음과 같은 문장에서 if 를 사용하세요.
# "free"가 있는 경우에만 인쇄합니다.
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [5]:
# 아닌 경우 체크하세요
# 문자열에 특정 구문이나 문자가 존재하지 않는지 확인하려면 not in 키워드를 사용할 수 있습니다.

# 다음 텍스트에 "expensive"가 없는지 확인하세요
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [6]:
# 다음과 같은 문장에서 if 사용하세요.
# "expensive"가 존재하지 않는 경우에만 인쇄합니다.
txt = "The best things in life are free!"
if "extensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

* 파이썬 - 문자열 슬라이싱
  
   - 슬라이스 구문을 사용하면 다양한 문자를 반환할 수 있습니다.
   - 문자열의 일부를 반환하려면 콜론으로 구분하여 시작 인덱스와 끝 인덱스를 지정합니다.

In [10]:
# 2부터 5까지의 문자를 가져옵니다(포함되지 않음).
# 참고: 첫 번째 문자의 인덱스는 0입니다.
b = "Hello, World!"
print(b[2:5])
print(b[2])
print(b[5])

llo
l
,

In [8]:
# 처음부터 5번째 위치까지의 문자를 가져옵니다(포함되지 않음).
b = "Hello, World!"
print(b[:5])

Hello

In [11]:
# 끝까지 슬라이스
# 끝 인덱스를 생략하면 범위가 끝까지 이동합니다.

# 2번째 위치부터 끝까지 문자를 가져옵니다.
b = "Hello, World!"
print(b[2:])

llo, World!

In [14]:
# 음수 인덱싱
# 문자열의 끝에서 슬라이스를 시작하려면 음수 인덱스를 사용합니다.

# 캐릭터를 얻으세요.
# 출처: "World!"의 "o" (위치 -5)
# (단, 포함되지 않음: "World!"의 "d" (위치 -2)

b = "Hello, World!"
print(b[-5:-2])

orl

* 문자열 수정

  - Python에는 문자열에 사용할 수 있는 내장 메서드 세트가 있습니다.

In [16]:
# upper()메서드는 문자열을 대문자로 반환합니다.
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [17]:
# lower()메서드는 문자열을 소문자로 반환합니다.
a = "Hello, World!"
print(a.lower())

hello, world!

- 공백 제거
- 공백은 실제 텍스트 앞이나 뒤에 있는 공백이며, 이 공백을 제거하고 싶은 경우가 많습니다.

In [18]:
# strip()방법은 시작이나 끝의 공백을 제거합니다.
a = " Hello, World! "
print(a.strip())

Hello, World!

In [19]:
# 문자열 바꾸기
# replace()메서드는 문자열을 다른 문자열로 바꿉니다.
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

- 분할 문자열
  - split()메서드는 지정된 구분 기호 사이의 텍스트가 목록 항목이 되는 목록을 반환합니다.

In [20]:
# split()메서드는 구분 기호 인스턴스를 찾으면 문자열을 하위 문자열로 분할합니다.
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

- 문자열 연결
    - 두 개의 문자열을 연결하거나 결합하려면 + 연산자를 사용하면 됩니다.

In [23]:
# 그 사이에 공백을 추가하려면 " "를 추가하세요.
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [24]:
# 변수 a와 변수 b를 변수 c로 병합합니다.
a = "Hello"
b = "World"
c = a + "  " + b
print(c)

Hello  World

- 문자열 형식
  - Python 변수 장에서 배웠듯이 문자열과 숫자를 다음과 같이 결합할 수 없습니다.

In [25]:
age = 36
#This will produce an error:
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [27]:
# 하지만 f-string이나 format() 메서드를 사용하면 문자열과 숫자를 결합할 수 있습니다.
age = 36
name = "John"
print("My name is {}, I am {}".format(name, age))

My name is John, I am 36

- F-String
  - F-String은 Python 3.6에서 도입되었으며, 현재는 문자열을 포맷하는 데 선호되는 방법입니다.
  - 문자열을 f-문자열로 지정하려면 f문자열 리터럴 앞에 을 넣고 {}변수와 다른 연산에 대한 자리 표시자로 중괄호를 추가하기만 하면 됩니다.

In [29]:
# F-String 문자열을 만듭니다.
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

- 플레이스홀더와 수정자
  - 플레이스홀더에는 값을 형식화하기 위한 변수, 연산, 함수 및 수정자가 포함될 수 있습니다.

In [32]:
# 변수 price 에 대한 플레이스홀더를 추가합니다.
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [34]:
# 플레이스홀더에는 값의 형식을 지정하는 수정자가 포함될 수 있습니다.
# 수정자는 콜론을 추가하고 :그 뒤에 합법적인 서식 유형을 지정하여 포함됩니다. 즉, .2f소수점 이하 두 자리로 이루어진 고정 소수점 숫자를 의미합니다.

# 소수점 이하 2자리까지 가격을 표시하세요.
price = 29
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 29.00 dollars

In [35]:
# 플레이스홀더에서 수학 연산을 수행하고 결과를 반환합니다.
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

* 파이썬 - 이스케이프 문자

  - 이스케이프 문자
    - 문자열에 허용되지 않는 문자를 삽입하려면 이스케이프 문자를 사용하세요.
    - 이스케이프 문자는 백슬래시 \뒤에 삽입하려는 문자를 입력하는 것입니다.
    - 불법 문자의 예로는 큰따옴표로 둘러싸인 문자열 내부의 큰따옴표가 있습니다.

In [37]:
# 큰따옴표로 둘러싸인 문자열 안에 큰따옴표를 사용하면 오류가 발생합니다.
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (1597675808.py, line 2)

In [ ]:
# 문제를 해결하려면 이스케이프 문자를 사용하세요.
# 이스케이프 문자를 사용하면 일반적으로 허용되지 않는 큰따옴표를 사용할 수 있습니다.

txt = "We are the so-called \"Vikings\" from the north."

In [ ]:
txt = 'It\'s alright.'
print(txt)

txt = "This will insert one \\ (backslash)."
print(txt)

txt = "Hello\nWorld!"
print(txt)

txt = "Hello\rWorld!"
print(txt)

txt = "Hello\tWorld!"
print(txt) 

# 이 예제에서는 한 문자(백스페이스)를 지웁니다.
txt = "Hello \bWorld!"
print(txt) 

# 백슬래시 뒤에 정수 3개를 입력하면 8진수 값이 반환됩니다.
txt = "\110\145\154\154\157"
print(txt)

# 백슬래시 뒤에 'x'와 16진수를 입력하면 16진수 값이 나타납니다.
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

It's alright.
This will insert one \ (backslash).
Hello
World!
World!
Hello	World!
HelloWorld!
Hello
Hello

* 문자열 메서드

  - Python에는 문자열에 사용할 수 있는 내장 메서드 세트가 있습니다.
  - 참고: 모든 문자열 메서드는 새 값을 반환합니다. 원본 문자열은 변경되지 않습니다.
  - https://www.w3schools.com/python/python_strings_methods.asp

* 파이썬 Booleans
  
   - 부울은 True 또는 False 두 값 중 하나를 나타냅니다.
   - 프로그래밍에서는 표현식이 참인지 거짓인지 알아야 하는 경우가 많습니다.
   - Python에서는 모든 표현식을 평가하여 참 또는 거짓, 두 가지 결과 중 하나를 얻을 수 있습니다.
   - 두 값을 비교하면 표현식이 평가되고 Python은 부울 값을 반환합니다.

In [45]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [49]:
# if 문에서 조건을 실행하면 Python은 True 또는 False를 반환합니다.

# 조건이 참인지 거짓인지에 따라 메시지를 표시합니다.
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

- 값 및 변수 평가
  - bool() 함수를 사용하면 모든 값을 평가하여 True 또는 False 값을 반환할 수 있습니다.

In [50]:
# 문자열과 숫자를 평가합니다.
print(bool("Hello"))
print(bool(15))

True
True

In [51]:
# 두 가지 변수를 평가합니다.
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

- 대부분의 값은 참입니다.
- 어떤 종류의 내용이 있으면 거의 모든 값은 참으로 평가됩니다.
- 빈 문자열을 제외한 모든 문자열은 참입니다.
- 0을 제외한 모든 숫자는 참입니다.
- 빈 문자열을 제외한 모든 목록, 튜플, 집합, 사전은 참입니다.

In [52]:
# 다음은 True를 반환합니다.
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [55]:
# 일부 값은 False입니다.
# 실제로 (), [], {}, "", 숫자 0, None과 같은 빈 값을 제외하고는 False로 평가되는 값은 많지 않습니다. 물론 False 값은 False로 평가됩니다.

# 다음은 False를 반환합니다.
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [61]:
# 이 경우 또 다른 값 또는 객체는 False로 평가되며, __len__ 함수가 0 또는 False를 반환하는 클래스에서 만들어진 객체가 있는 경우입니다.
class myclass():
    def __len__(self):
        return 0

myobj = myclass()
print(bool(myobj))

False

In [63]:
# 함수는 부울 값을 반환할 수 있습니다.
# 부울 값을 반환하는 함수를 만들 수 있습니다.

def myFunction():
    return True

print(myFunction())

True

In [64]:
# 함수의 부울 답변을 기반으로 코드를 실행할 수 있습니다.

# 함수가 True를 반환하면 "YES!"를 출력하고, 그렇지 않으면 "NO!"를 출력합니다.
def myFunction():
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

In [66]:
# Python에는 isinstance() 함수와 같이 부울 값을 반환하는 많은 내장 함수가 있는데, 이 함수를 사용하면 객체가 특정 데이터 유형인지 확인할 수 있습니다.

# 객체가 정수인지 아닌지 확인하세요.
x = 200
print(isinstance(x, int))
print(isinstance(x, str))

True
False

* 파이썬 연산자
  
    - 연산자는 변수와 값에 대한 연산을 수행하는 데 사용됩니다.
    - 아래 예에서 우리는 +연산자를 사용하여 두 값을 더합니다.

In [67]:
print(10 + 5)

15

- Python은 연산자를 다음 그룹으로 나눕니다.
   - 산술 연산자
   - 할당 연산자
   - 비교 연산자
   - 논리 연산자
   - 항등 연산자
   - 멤버십 운영자
   - 비트 연산자

In [70]:
# 산술 연산자
# 산술 연산자는 숫자 값과 함께 사용되어 일반적인 수학 연산을 수행합니다.

x = 5
y = 3
print(x + y)

x = 5
y = 3
print(x - y)

x = 5
y = 3
print(x * y)

x = 12
y = 3
print(x / y)

x = 5
y = 2
print(x % y)

x = 2
y = 5
print(x ** y) # 2*2*2*2*2와 동일

x = 15
y = 2
print(x // y) # floor 나누기 // 결과를 가장 가까운 정수로 반올림합니다.

8
2
15
4.0
1
32
7

In [ ]:
# 할당 연산자
# 할당 연산자는 변수에 값을 할당하는 데 사용됩니다.
# 할당 연산자는 '변수에 값을 저장'하거나, 
# 기존 값에 연산을 적용한 뒤 그 결과를 다시 변수에 저장하는 역할을 합니다.
# 예: x += 3  →  x = x + 3 과 동일한 의미

# -------------------------------
# 1. 기본 할당 (=)
# -------------------------------
x = 5               # x에 숫자 5를 저장 (기본적인 할당)
print(x)            # 출력: 5

# -------------------------------
# 2. 덧셈 후 할당 (+=)
# -------------------------------
x = 5               # x를 다시 5로 초기화
x += 3              # x = x + 3 → 5 + 3 = 8
print(x)            # 출력: 8

# -------------------------------
# 3. 뺄셈 후 할당 (-=)
# -------------------------------
x = 5
x -= 3              # x = x - 3 → 5 - 3 = 2
print(x)            # 출력: 2

# -------------------------------
# 4. 곱셈 후 할당 (*=)
# -------------------------------
x = 5
x *= 3              # x = x * 3 → 5 * 3 = 15
print(x)            # 출력: 15

# -------------------------------
# 5. 나눗셈 후 할당 (/=)
# -------------------------------
x = 5
x /= 3              # x = x / 3 → 5 ÷ 3 = 1.6666...
# 주의: '/'는 항상 float(실수형) 결과를 반환합니다.
print(x)            # 출력: 1.6666666666666667

# -------------------------------
# 6. 나머지 후 할당 (%=)
# -------------------------------
x = 5
x %= 3              # x = x % 3 → 5를 3으로 나눈 나머지 = 2
print(x)            # 출력: 2

# -------------------------------
# 7. 몫 후 할당 (//=)
# -------------------------------
x = 5
x //= 3             # x = x // 3 → 5 ÷ 3의 몫 = 1
# '//'는 정수 나눗셈 (소수점 버림)
print(x)            # 출력: 1

# -------------------------------
# 8. 제곱 후 할당 (**=)
# -------------------------------
x = 5
x **= 3             # x = x ** 3 → 5³ = 125
# '**'는 제곱(거듭제곱) 연산자입니다.
print(x)            # 출력: 125

# -------------------------------
# 9. 비트 AND 후 할당 (&=)
# -------------------------------
x = 5               # 5 = 0b0101 (2진수)
x &= 3              # 3 = 0b0011
# AND 연산: 0101 & 0011 → 0001 (십진수 1)
print(x)            # 출력: 1

# -------------------------------
# 10. 비트 OR 후 할당 (|=)
# -------------------------------
x = 5               # 0b0101
x |= 3              # 0b0011
# OR 연산: 0101 | 0011 → 0111 (십진수 7)
print(x)            # 출력: 7

# -------------------------------
# 11. 비트 XOR 후 할당 (^=)
# -------------------------------
x = 5               # 0b0101
x ^= 3              # 0b0011
# XOR 연산: 0101 ^ 0011 → 0110 (십진수 6)
# XOR은 서로 다를 때만 1을 반환합니다.
print(x)            # 출력: 6

# -------------------------------
# 12. 비트 오른쪽 시프트 후 할당 (>>=)
# -------------------------------
x = 5               # 0b0101
x >>= 3             # 오른쪽으로 3비트 이동 → 0000 (십진수 0)
# 오른쪽 시프트는 2의 n제곱으로 나누는 효과가 있습니다.
# 즉, 5 >> 3 은 5 // 8 과 같습니다.
print(x)            # 출력: 0

# -------------------------------
# 13. 비트 왼쪽 시프트 후 할당 (<<=)
# -------------------------------
x = 5               # 0b0101
x <<= 3             # 왼쪽으로 3비트 이동 → 0101000 (십진수 40)
# 왼쪽 시프트는 2의 n제곱을 곱하는 효과가 있습니다.
# 즉, 5 << 3 은 5 * 8 과 같습니다.
print(x)            # 출력: 40

# -------------------------------
# 14. 바다코끼리 연산자 (:=)
# -------------------------------
# 파이썬 3.8 이상에서 도입된 "할당식" 연산자입니다.
# 표현식 내에서 변수를 동시에 '할당'하고 '사용'할 수 있습니다.
# 예시: print(x := 3)는 x에 3을 저장하고, 동시에 3을 출력함.
print(x := 3)       # 출력: 3
# 위 코드는 내부적으로 아래와 동일:
# x = 3
# print(x)

5
8
2
15
1.6666666666666667
2
1
125
1
7
6
0
40
3

In [ ]:
# 비교 연산자
# 비교 연산자는 두 값을 비교하는 데 사용됩니다.

x = 5
y = 3
print(x == y)

x = 5
y = 3
print(x != y)

x = 5
y = 3
print(x > y)

x = 5
y = 3
print(x < y)

x = 5
y = 3
print(x >= y)

x = 5
y = 3
print(x <= y)

False
True
True
False
True
False

In [74]:
# 논리 연산자
# 논리 연산자는 조건문을 결합하는 데 사용됩니다.

x = 5
print(x > 3 and x < 10) # 5가 3보다 크고 5가 10보다 작으므로 True를 반환합니다.

x = 5
print(x > 3 or x < 4) # 조건 중 하나가 참이기 때문에 True를 반환합니다(5는 3보다 크지만 5는 4보다 작지 않습니다).

x = 5
print(not(x > 3 and x < 10)) # not은 결과를 반전하는 데 사용되므로 False를 반환합니다.

True
True
False

In [75]:
# 항등 연산자
# 항등 연산자는 객체가 같은지 여부가 아니라 실제로 동일한 객체이고 동일한 메모리 위치를 가지고 있는지 여부를 비교하는 데 사용됩니다.

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z) # z와 x는 같은 객체이므로 True를 반환합니다.
print(x is y) # x와 y는 같은 내용을 가지고 있더라도 같은 객체가 아니므로 False를 반환합니다.
print(x == y) # "is"와 "=="의 차이점을 보여주기 위해: 이 비교는 x와 y가 같으므로 True를 반환합니다.

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is not z) # z와 x는 같은 객체이므로 False를 반환합니다.
print(x is not y) # x와 y는 같은 내용을 가지고 있더라도 같은 객체가 아니므로 True를 반환합니다.
print(x != y) # "is not"과 "!="의 차이점을 보여주기 위해: 이 비교는 x와 y가 같으므로 False를 반환합니다.

True
False
True
False
True
False

In [76]:
# 멤버십 연산자
# 멤버십 연산자는 객체에 시퀀스가 ​​표현되는지 테스트하는 데 사용됩니다.

x = ["apple", "banana"]
print("banana" in x) # "banana" 값을 갖는 시퀀스가 ​​목록에 있으므로 True를 반환합니다.

x = ["apple", "banana"]
print("pineapple" not in x) # "pineapple" 값을 가진 시퀀스가 ​​리스트에 없으므로 True를 반환합니다.

True
True

In [83]:
# 비트 연산자
# 비트 연산자는 (이진) 숫자를 비교하는 데 사용됩니다.

print(6 & 3)
"""
& 연산자는 각 비트를 비교하여 둘 다 1이면 1로 설정하고, 그렇지 않으면 0으로 설정합니다.

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

10진수와 2진수 값:
0 = 0000000000000000
1 = 0000000000000001
2 = 00000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 00000000000000101
6 = 00000000000000110
7 = 0000000000000111
"""

print(6 | 3)
"""
| 연산자는 각 비트를 비교하여 하나 또는 둘 다 1이면 1로 설정하고, 그렇지 않으면 0으로 설정합니다.

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

10진수와 2진수 값:
0 = 0000000000000000
1 = 0000000000000001
2 = 00000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 00000000000000101
6 = 00000000000000110
7 = 0000000000000111
"""

print(6 ^ 3)
"""
^ 연산자는 각 비트를 비교하여 하나만 1이면 1로 설정하고, 그렇지 않으면(둘 다 1이거나 둘 다 0이면) 0으로 설정합니다.

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
=====================

10진수와 2진수 값:
0 = 0000000000000000
1 = 0000000000000001
2 = 00000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 00000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

print(~3)
"""
~ 연산자는 각 비트를 반전합니다(0은 1이 되고 1은 0이 됩니다).

반전된 3은 -4가 됩니다.
3 = 0000000000000011
-4 = 11111111111111100

10진수와 2진수 값:
4 = 0000000000000100
3 = 00000000000000011
2 = 0000000000000010
1 = 0000000000000001
0 = 0000000000000000
-1 = 111111111111111111
-2 = 11111111111111110
-3 = 11111111111111101
-4 = 1111111111111100
"""

print(3 << 2)
"""
<< 연산자는 오른쪽에서 지정된 개수(이 경우 2)의 0을 삽입하고, 가장 왼쪽의 비트를 같은 개수만큼 제거합니다.

왼쪽에서 00을 삽입하면:
3 = 0000000000000011
다음과 같이 됩니다.
12 = 0000000000001100

10진수와 2진수 값:
0 = 0000000000000000
1 = 0000000000000001
2 = 00000000000000010
3 = 0000000000000011
4 = 00000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 00000000000000111
8 = 0000000000001000
9 = 00000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

print(8 >> 2)
"""
>> 연산자는 각 비트를 지정된 횟수만큼 오른쪽으로 이동합니다. 왼쪽의 빈 공간은 0으로 채워집니다.

각 비트를 오른쪽으로 두 번 이동하면 8은 2가 됩니다.
8 = 0000000000001000
다음이 됩니다.
2 = 0000000000000010

10진수와 2진수 값:
0 = 0000000000000000
1 = 0000000000000001
2 = 00000000000000010
3 = 00000000000000011
4 = 00000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 00000000000000111
8 = 0000000000001000
9 = 00000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2
7
5
-4
12
2

'\n>> 연산자는 각 비트를 지정된 횟수만큼 오른쪽으로 이동합니다. 왼쪽의 빈 공간은 0으로 채워집니다.\n\n각 비트를 오른쪽으로 두 번 이동하면 8은 2가 됩니다.\n8 = 0000000000001000\n다음이 됩니다.\n2 = 0000000000000010\n\n10진수와 2진수 값:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 00000000000000010\n3 = 00000000000000011\n4 = 00000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 00000000000000111\n8 = 0000000000001000\n9 = 00000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n'

- 연산자 우선 순위
- 연산자 우선순위는 연산이 수행되는 순서를 설명합니다.
- https://www.w3schools.com/python/python_operators.asp

In [ ]:
# 괄호는 가장 높은 우선순위를 가지므로 괄호 안의 표현식이 먼저 평가되어야 합니다.
print((6 + 3) - (6 + 3))

0

In [85]:
# 곱셈 *은 덧셈 +보다 우선순위가 높으므로 곱셈은 덧셈보다 먼저 평가됩니다.
print(100 + 5 * 3)

115

In [86]:
# 덧셈 +와 뺄셈 -는 동일한 우선순위를 가지므로 표현식을 왼쪽에서 오른쪽으로 평가합니다.
print(5 + 4 - 7 + 3)

5

* Lists

  - 리스트는 하나의 변수에 여러 항목을 저장하는 데 사용됩니다.
  - 리스트는 파이썬에서 데이터 컬렉션을 저장하는 데 사용되는 4가지 내장 데이터 유형 중 하나이고, 나머지 3가지는 튜플 , 세트 , ​​딕셔너리 이며 , 각각 다른 특성과 사용법을 가지고 있습니다.
  - 목록은 대괄호를 사용하여 생성됩니다.

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

* List Items

   - List Items 은 정렬이 가능하고 변경 가능하며 중복 값을 허용합니다.
   - List Items 에는 인덱싱이 지정되어 있으며, 첫 번째 항목의 인덱스는 [0]이고, 두 번째 항목의 인덱스는 [1]입니다.

* Ordered

  - list 가 정렬되어 있다는 것은 각 항목에 정해진 순서가 있으며, 그 순서는 변경되지 않는다는 것을 의미합니다.
  - list 에 새 항목을 추가하면 새 항목은 목록 끝에 배치됩니다.
  - 참고: 순서를 변경하는 목록 메서드도 있지만, 일반적으로 항목의 순서는 변경되지 않습니다.

* Changeable
  
  - list 는 변경 가능합니다. 즉, 목록이 만들어진 후에 목록에 있는 항목을 변경, 추가, 제거할 수 있습니다.

* Allow Duplicates
   
   - list 는 인덱싱되므로 목록에는 동일한 값을 가진 항목이 있을 수 있습니다.

In [2]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

* List Length
  
   - list 에 항목이 몇 개 있는지 확인하려면 len() 함수를 사용하세요.

In [3]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

* List Items - Data Types
   
   - List Items 은 모든 데이터 유형이 될 수 있습니다.

In [4]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

* list 에는 다양한 데이터 유형이 포함될 수 있습니다.

In [5]:
list1 = ["abc", 34, True, 40, "male"]

* type()

   - Python의 관점에서 볼 때, 리스트는 'list'라는 데이터 유형을 가진 객체로 정의됩니다.

In [6]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

* The list() Constructor

   - 새로운 목록을 생성할 때 list() 생성자를 사용하는 것도 가능합니다.

In [8]:
# list() 생성자를 사용하여 List 만들기
thislist = list(("apple", "banana", "cherry")) # 이중 둥근 괄호에 주목하세요
print(thislist)

['apple', 'banana', 'cherry']

* 파이썬 컬렉션(배열)
   
    - Python 프로그래밍 언어에는 4가지 컬렉션 데이터 유형이 있습니다.
       - 목록은 정렬되고 변경 가능한 컬렉션입니다. 중복된 멤버를 허용합니다.
       - 튜플은 순서가 있고 변경할 수 없는 컬렉션입니다. 중복된 멤버를 허용합니다.
       - 집합은 순서가 없고, 변경 불가능하며, 인덱싱되지 않은 컬렉션입니다. 중복된 멤버가 없습니다.
       - 사전은 정렬되고** 변경 가능한 컬렉션입니다. 중복된 멤버는 없습니다.

* Access List Items

   - List Items 에는 인덱싱이 되어 있으며, 인덱스 번호를 참조하여 액세스할 수 있습니다.
   - 참고: 첫 번째 항목의 인덱스는 0입니다.

In [10]:
# list 의 두 번째 항목을 인쇄합니다.
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

* 음수 인덱싱

   - 음수 인덱싱은 끝에서 시작한다는 의미입니다.
   - -1은 마지막 항목을 참조하고, -2는 두 번째로 마지막 항목을 참조합니다.

In [13]:
# list 의 마지막 항목을 인쇄합니다.
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

* Range of Indexes

   - 범위의 시작점과 끝점을 지정하여 인덱스 범위를 지정할 수 있습니다.
   - 범위를 지정하면 지정된 항목이 포함된 새 목록이 반환됩니다.
   - 참고: 검색은 인덱스 2(포함)에서 시작하여 인덱스 5(포함되지 않음)에서 끝납니다.
   - 첫 번째 항목의 인덱스는 0이라는 것을 기억하세요.
   - 시작 값을 생략하면 범위는 첫 번째 항목에서 시작됩니다.
   - 끝값을 생략하면 범위가 목록의 끝까지 이어집니다.

In [14]:
# 세 번째, 네 번째, 다섯 번째 항목을 반환합니다.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [18]:
# 처음부터 "kiwi" 전의 모든 항목을 반환합니다.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [19]:
# "cherry"부터 끝까지의 항목을 반환합니다.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

* Range of Negative Indexes
  
    - 목록의 끝에서 검색을 시작하려면 음수 인덱스를 지정하세요.

In [21]:
# "orange"(-4)부터 "mango"(-1)까지의 항목을 반환합니다. 단, "orange"(-4)는 포함되지 않습니다.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

* Check if Item Exists
  
    - 지정된 항목이 목록에 있는지 확인하려면 in 키워드를 사용합니다.

In [22]:
# 목록에 "apple"이 있는지 확인하세요.
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

* Change Item Value

   - 특정 항목의 값을 변경하려면 색인 번호를 참조하세요.

In [23]:
# 두 번째 항목을 변경하세요.
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

* Change a Range of Item Values
   
    - 특정 범위 내 항목의 값을 변경하려면 새 값이 포함된 목록을 정의하고 새 값을 삽입할 인덱스 번호 범위를 참조하세요.

In [25]:
# "banana"와 "cherry" 값을 "blackcurrant"와 "watermelon" 값으로 변경합니다.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
print(thislist[1:3])
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['banana', 'cherry']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

* 교체하는 항목보다 삽입하는 항목이 많은 경우 새 항목은 지정한 위치에 삽입되고 나머지 항목은 그에 따라 이동합니다.
* 참고: 삽입된 항목의 수가 교체된 항목의 수와 일치하지 않으면 목록의 길이가 변경됩니다.

In [27]:
# 두 번째 값을 두 개의 새 값으로 바꿔서 변경합니다.
thislist = ["apple", "banana", "cherry"]
print(thislist[1:2])
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['banana']
['apple', 'blackcurrant', 'watermelon', 'cherry']

In [29]:
# 두 번째와 세 번째 값을 하나의 값으로 바꿔서 변경합니다.
thislist = ["apple", "banana", "cherry"]
print(thislist[1:3])
thislist[1:3] = ["watermelon"]
print(thislist)

['banana', 'cherry']
['apple', 'watermelon']

* Insert Items

   - 기존 값을 바꾸지 않고 새 목록 항목을 삽입하려면 insert() 메서드를 사용할 수 있습니다.
   - insert() 메서드는 지정된 인덱스에 항목을 삽입합니다.

In [32]:
# 세 번째 항목에 "수박"을 삽입하세요.
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

* Add List Items
  
   - 목록의 끝에 항목을 추가하려면 append() 메서드를 사용합니다.

In [36]:
# append() 메서드를 사용하여 항목을 추가합니다.
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

* Insert Items
  
    - 지정된 인덱스에 목록 항목을 삽입하려면 insert() 메서드를 사용합니다.
    - insert() 메서드는 지정된 인덱스에 항목을 삽입합니다.

In [39]:
# 두 번째 위치에 항목을 삽입합니다.
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

* Extend List

   - 다른 목록의 요소를 현재 목록에 추가하려면 extend() 메서드를 사용합니다.
   - 요소는 목록의 끝에 추가됩니다.

In [40]:
# thislist 에 tropical 요소를 추가합니다.
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

* Add Any Iterable

    - extend() 메서드는 목록을 추가할 필요가 없으며, 반복 가능한 객체(튜플, 세트, ​​사전 등)를 추가할 수 있습니다.

In [41]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

* Remove List Items

   - 지정된 항목 제거
      - remove()메서드는 지정된 항목을 제거합니다.

In [43]:
# "바나나"를 제거하세요.
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [44]:
# 첫번째 "banana"를 제거하세요.
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

* 지정된 인덱스 제거
   - pop()메서드는 지정된 인덱스를 제거합니다.
   - 인덱스를 지정하지 않으면 pop()메서드는 마지막 항목을 제거합니다.

In [45]:
# 두 번째 항목을 제거합니다.
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [46]:
# 마지막 항목을 제거합니다.
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

* 키워드 del는 지정된 인덱스도 제거합니다.

In [47]:
# 첫 번째 항목을 제거합니다.
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

* 키워드 del를 사용하면 목록을 완전히 삭제할 수도 있습니다.

In [50]:
thislist = ["apple", "banana", "cherry"]
del thislist

* Clear the List

    - clear() 메서드는 list 를 비웁니다.
    - list 는 여전히 ​​남아 있지만 내용이 없습니다.

In [51]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

* Loop Lists

   - 목록을 반복합니다.
   - for 루프를 사용하여 목록 항목을 반복할 수 있습니다.

In [52]:
# 목록에 있는 모든 항목을 하나씩 인쇄합니다.
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

* 인덱스 번호를 반복합니다.

    - 인덱스 번호를 참조하여 목록 항목을 반복할 수도 있습니다.
    - range() 및 len() 함수를 사용하여 적절한 반복 가능 항목을 만듭니다.

In [54]:
# 모든 항목을 해당 색인 번호를 참조하여 인쇄하세요.
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

* While 루프 사용

   - while 루프를 사용하여 목록 항목을 반복할 수 있습니다.
   - len() 함수를 사용하여 목록의 길이를 확인한 다음, 0부터 시작하여 목록 항목의 인덱스를 참조하여 목록 항목을 반복합니다.
   - 반복할 때마다 인덱스를 1씩 증가시키는 것을 잊지 마세요.

In [55]:
# while 루프를 사용하여 모든 인덱스 번호를 살펴보며 모든 항목을 인쇄합니다.
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

* 리스트 이해를 사용한 루핑

    - 리스트 컴프리헨션은 리스트를 반복하기 위한 가장 짧은 구문을 제공합니다.

In [58]:
# 목록에 있는 모든 항목을 출력하는 간단한 for 루프
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

* List Comprehension

   - 리스트 내포는 기존 리스트의 값을 기반으로 새 리스트를 만들 때 더 짧은 구문을 제공합니다.
   - 예:
      - 과일 리스트를 기반으로 이름에 "a"가 포함된 과일만 포함하는 새 리스트를 만들려고 합니다.
      - 리스트 내포가 없다면 조건문이 포함된 for 문을 작성해야 합니다.

In [59]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [62]:
# 리스트 이해를 사용하면 단 한 줄의 코드로 이 모든 작업을 수행할 수 있습니다.
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

* The Syntax

newlist = [expression for item in iterable if condition == True]

- 반환 값은 새로운 목록이며, 기존 목록은 변경되지 않습니다.
- 조건은 True로 평가되는 항목만 허용하는 필터와 같습니다.

In [63]:
# "apple"이 아닌 항목만 허용합니다.
newlist = [x for x in fruits if x != "apple"]

* if x != "apple" 조건은 "apple"을 제외한 모든 요소에 대해 True를 반환하여 새 목록에 "apple"을 제외한 모든 과일이 포함되도록 합니다.
* 조건은 선택 사항이므로 생략할 수 있습니다.

In [64]:
# if 문이 없는 경우
newlist = [x for x in fruits]

* Iterable

   - 반복 가능한 객체는 리스트, 튜플, 세트 등 반복 가능한 객체가 될 수 있습니다.

In [65]:
# range() 함수를 사용하면 반복 가능한 객체를 만들 수 있습니다.
newlist = [x for x in range(10)]

In [66]:
# 5보다 작은 숫자만 허용
newlist = [x for x in range(10) if x < 5]

* Expression

   - 표현식은 반복의 현재 항목이지만, 새 목록의 목록 항목처럼 되기 전에 조작할 수 있는 결과이기도 합니다.

In [68]:
# 새 목록의 값을 대문자로 설정합니다.
newlist = [x.upper() for x in fruits]

In [69]:
# 새 목록의 모든 값을 'hello'로 설정합니다.
newlist = ['hello' for x in fruits]

* 표현식은 필터처럼 조건을 포함할 수 없지만, 결과를 조작하는 방법으로 사용할 수 있습니다.

In [70]:
# "banana" 대신 "orange"를 반환합니다.
newlist = [x if x != "banana" else "orange" for x in fruits]

* Sort Lists

   - 목록을 영숫자순으로 정렬
      - 목록 객체에는 기본적으로 목록을 영숫자순(오름차순)으로 정렬하는 sort() 메서드가 있습니다.

In [71]:
# 목록을 알파벳순으로 정렬하기
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
print(thislist)
thislist.sort()
print(thislist)

['orange', 'mango', 'kiwi', 'pineapple', 'banana']
['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [72]:
# 목록을 숫자순으로 정렬하세요.
thislist = [100, 50, 65, 82, 23]
print(thislist)
thislist.sort()
print(thislist)

[100, 50, 65, 82, 23]
[23, 50, 65, 82, 100]

* 내림차순 정렬

    - 내림차순으로 정렬하려면 키워드 인수 reverse = True를 사용합니다.

In [73]:
# 목록을 내림차순으로 정렬
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
print(thislist)
thislist.sort(reverse = True)
print(thislist)

['orange', 'mango', 'kiwi', 'pineapple', 'banana']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [74]:
thislist = [100, 50, 65, 82, 23]
print(thislist)
thislist.sort(reverse = True)
print(thislist)

[100, 50, 65, 82, 23]
[100, 82, 65, 50, 23]

* 정렬 기능 사용자 정의

    - 키워드 인수 key = function을 사용하여 함수를 사용자 지정할 수도 있습니다.
    - 함수는 목록을 정렬하는 데 사용할 숫자(가장 작은 숫자부터)를 반환합니다.

In [76]:
# 숫자가 50에 얼마나 가까운지에 따라 목록을 정렬하세요.
def myfunc(n):
    return abs(n - 50) # abs() 는 주어진 숫자의 절대값을 반환하는 내장 함수

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

* Case Insensitive Sort

   - 기본적으로 sort() 메서드는 대소문자를 구분하므로 모든 대문자가 소문자보다 먼저 정렬됩니다.

In [77]:
# 대소문자 구분 정렬은 예상치 못한 결과를 초래할 수 있습니다.
thislist = ["banana", "Orange", "Kiwi", "cherry"]
print(thislist)
thislist.sort()
print(thislist)

['banana', 'Orange', 'Kiwi', 'cherry']
['Kiwi', 'Orange', 'banana', 'cherry']

* 다행히 목록을 정렬할 때 내장 함수를 키 함수로 사용할 수 있습니다.
* 대소문자를 구분하지 않는 정렬 함수가 필요하다면 str.lower를 키 함수로 사용하세요.

In [78]:
# 대소문자를 구분하지 않는 목록 정렬을 수행해 보세요.
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

* 역순

    - 알파벳 순서에 관계없이 목록의 순서를 반대로 바꾸고 싶다면 어떻게 해야 할까요?
    - reverse() 메서드는 요소의 현재 정렬 순서를 반대로 바꿉니다.

In [79]:
# 목록 항목의 순서를 반대로 바꿉니다.
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [83]:
# 정렬을 이용해서 뒤집는 방식
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower, reverse = True)
print(thislist)

['Orange', 'Kiwi', 'cherry', 'banana']

* Copy a List

   - "list2 = list1"이라고 입력하는 것만으로는 목록을 복사할 수 없습니다. list2는 list1에 대한 참조일 뿐이며, list1에서 변경한 내용은 자동으로 list2에도 적용됩니다.
   - copy() 메서드를 사용하세요.
   - List의 내장 메서드인 copy()를 사용하여 목록을 복사할 수 있습니다.

In [84]:
# copy() 메서드를 사용하여 목록의 복사본을 만드세요.
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

* list() 메서드 사용
* 복사본을 만드는 또 다른 방법은 내장 메서드 list()를 사용하는 것입니다.

In [85]:
# list() 메서드를 사용하여 목록의 사본을 만듭니다.
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

* 슬라이스 연산자 사용
* : (슬라이스) 연산자를 사용하여 목록의 복사본을 만들 수도 있습니다.

In [86]:
# : 연산자를 사용하여 목록의 복사본을 만듭니다.
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

* Join Lists

   - 두 목록 결합
      - Python에서는 두 개 이상의 목록을 결합하거나 연결하는 여러 가지 방법이 있습니다.
      - 가장 쉬운 방법 중 하나는 + 연산자를 사용하는 것입니다.

In [87]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

* 두 개의 목록을 결합하는 또 다른 방법은 list2의 모든 항목을 하나씩 list1에 추가하는 것입니다.

In [88]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

* 또는 extend() 메서드를 사용할 수 있습니다. 이 메서드의 목적은 한 목록의 요소를 다른 목록에 추가하는 것입니다.

In [89]:
# extend() 메서드를 사용하여 list1의 끝에 list2를 추가합니다.
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

* List Methods
   - https://www.w3schools.com/python/python_lists_methods.asp