### w3schools - Python

- Link
  - https://www.w3schools.com/python/default.asp

In [5]:
print("Hello, World!")

Hello, World!

- 파이썬 버전 확인

In [6]:
import sys

print(sys.version)

3.13.2 (tags/v3.13.2:4f8bb39, Feb  4 2025, 15:23:48) [MSC v.1942 64 bit (AMD64)]

* 파이썬 구문 실행

In [7]:
print("hello!")

hello!

* 파이썬 들여쓰기

In [8]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [9]:
if 5 > 2:
  print("Five is greater than two!")
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [12]:
# 동일한 코드 블록에서 동일한 수의 공백을 사용해야 합니다. 그렇지 않으면 Python에서 오류가 발생합니다.
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (2828717955.py, line 4)

* 파이썬 변수

In [13]:
x = 5
y = "Hello, World!"

* 파이썬 주석

In [14]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [15]:
print("Hello, World!") #This is a comment

Hello, World!

In [16]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [17]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [18]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

* 변수 생성

In [19]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [20]:
# 변수는 특정 유형 으로 선언될 필요가 없으며 , 설정된 후에도 유형을 변경할 수 있습니다.
x = 4
x = "Sally"
print(x)

Sally

In [23]:
# 변수의 데이터 유형을 지정하려면 캐스팅을 사용하면 됩니다.
x = str(3)
y = int(3)
z= float(3)

In [24]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [25]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

* 작은 따옴표, 큰 따옴표

In [28]:
x = "John"
# is the same as
x = 'John'

print(x)

John

In [31]:
# 변수 이름은 대소문자를 구분합니다.
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

* 변수 이름

  - 변수 이름은 문자 또는 밑줄 문자로 시작해야 합니다.
  - 변수 이름은 숫자로 시작할 수 없습니다.
  - 변수 이름에는 영숫자 문자와 밑줄(Az, 0-9, _)만 포함될 수 있습니다.
  - 변수 이름은 대소문자를 구분합니다(age, Age 및 AGE는 세 개의 다른 변수입니다)
  - 변수 이름은 Python 키워드 중 하나가 될 수 없습니다 .

In [32]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [33]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

In [35]:
# Camel Case (첫 번째 단어를 제외한 모든 단어는 대문자로 시작합니다.)
myVariableName = "John"

# Pascal Case (각 단어는 대문자로 시작합니다.)
MyVariableName = "John"

# Snake Case (각 단어는 밑줄 문자로 구분됩니다.)
my_variable_name = "John"

* 여러 변수에 대한 여러 값

In [36]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

* 하나의 값을 여러 변수에

In [37]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

* 컬렉션 풀기
  - list, 등 의 값 컬렉션이 있는 경우, tuplePython에서는 값을 변수로 추출할 수 있습니다. 이를 언패킹 이라고 합니다 .

In [38]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

* 출력 변수

In [39]:
x = "Python is awesome"
print(x)

Python is awesome

In [40]:
# 함수 에서는 print()쉼표로 구분된 여러 변수를 출력합니다.
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [42]:
# +연산자를 사용하여 여러 변수를 출력할 수도 있습니다.
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

# "Python "and 뒤에 있는 공백 문자에 주목하세요. 공백 "is "문자가 없으면 결과는 "Pythonisawesome"이 됩니다.
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Python is awesome
Pythonisawesome

In [44]:
# 함수 에서 연산자 print()를 사용하여 문자열과 숫자를 결합하려고 하면 + Python에서 오류가 발생합니다.
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
x = 5
y = "John"
print(x, y)

5 John

* 전역 변수

  - 함수 외부에서 생성된 변수(이전 페이지의 모든 예제처럼)를 전역 변수라고 합니다.
  - 전역 변수는 함수 내부와 외부 모두에서 누구나 사용할 수 있습니다.

In [46]:
# 함수 외부에서 변수를 생성하고 함수 내부에서 사용합니다.
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [53]:
# 전역 변수와 동일한 이름으로 함수 내부에 변수를 생성합니다.
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

* 글로벌 키워드
  
   - 일반적으로 함수 내부에 변수를 생성하면 해당 변수는 지역 변수가 되어 해당 함수 내부에서만 사용할 수 있습니다.
   - 함수 내부에 전역 변수를 생성하려면 global키워드를 사용하면 됩니다.

In [54]:
# 키워드를 사용하면 global변수는 전역 범위에 속합니다.
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [60]:
# 또한, global함수 내에서 전역 변수를 변경하려면 키워드를 사용하세요.
# 함수 내에서 전역 변수의 값을 변경하려면 global다음 키워드를 사용하여 변수를 참조합니다.

x = "awesome"

print("Python is " + x)

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is awesome
Python is fantastic

* 내장 데이터 유형

  - 텍스트 유형: str
  - 숫자형 유형: int, float, complex
  - 시퀀스 유형: list, tuple, range
  - 매핑 유형: dict
  - 세트 유형: set,frozenset
  - 부울 유형: bool
  - 이진 유형: bytes, bytearray, memoryview
  - 없음 유형: NoneType

* 데이터 유형 가져오기

  - 다음 type() 함수를 사용하면 모든 객체의 데이터 유형을 얻을 수 있습니다.

In [61]:
x = 5
print(type(x))

<class 'int'>

* 데이터 유형 설정

  - Python에서는 변수에 값을 할당할 때 데이터 유형이 설정됩니다.

In [62]:
x = "Hello World"
print(type(x))

x = 20
print(type(x))

x = 20.5
print(type(x))

x = 1j
print(type(x))

x = ["apple", "banana", "cherry"]
print(type(x))

x = ("apple", "banana", "cherry")
print(type(x))

x = range(6)
print(type(x))

x = { "name" : "John", "age" : 36 }
print(type(x))

x = { "apple", "banana", "cherry" }
print(type(x))

x = frozenset({"apple", "banana", "cherry"})
print(type(x))

x = True
print(type(x))

x = b"Hello"
print(type(x))

x = bytearray(5)
print(type(x))

x = memoryview(bytes(5))
print(type(x))

x = None
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

* 특정 데이터 유형 설정

  - 데이터 유형을 지정하려면 다음 생성자 함수를 사용할 수 있습니다.

In [64]:
x = str("Hello World")
print(type(x))

x = int(20)
print(type(x))

x = float(20.5)
print(type(x))

x = complex(1j)
print(type(x))

x = list(("apple", "banana", "cherry"))
print(type(x))

x = tuple(("apple", "banana", "cherry"))
print(type(x))

x = range(6)
print(type(x))

x = dict(name = "John", age = 36)
print(type(x))

x = set(("apple", "banana", "cherry"))
print(type(x))

x = frozenset(("apple", "banana", "cherry"))
print(type(x))

x = bool(5)
print(type(x))

x = bytes(5)
print(type(x))

x = bytearray(5)
print(type(x))

x = memoryview(bytes(5))
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

* 파이썬 숫자

  - int
  - float
  - complex

In [65]:
# 숫자형 변수는 값을 할당할 때 생성됩니다.
x = 1
y = 2.8
z = 1j

In [66]:
# Python에서 객체의 유형을 확인하려면 다음 type()함수를 사용하세요.
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# int (Int 또는 정수는 소수점이 없는 양수 또는 음수의 정수이며, 길이는 제한이 없습니다.)
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [68]:
# Float (부동 소수점 숫자 또는 "부동 소수점 숫자"는 하나 이상의 소수점을 포함하는 양수 또는 음수 숫자입니다.)
x = 1.10
x = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'int'>
<class 'float'>

In [69]:
# Float는 10의 거듭제곱을 나타내는 "e"를 사용한 과학적 숫자일 수도 있습니다.
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [71]:
# Complex (복소수는 허수부에 "j"를 붙여서 표기합니다.)
x = 3+5j
y = 5j
z= -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
# 유형 변환 (int(), float() 및 complex() 메서드를 사용하여 한 유형에서 다른 유형으로 변환할 수 있습니다.)
# 참고: 복소수를 다른 숫자 유형으로 변환할 수 없습니다.
x = 1
y = 2.8
z = 1j

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

print(a)
print(b)
print(c)

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
1.0
2
(1+0j)

* 난수

  - Python에는 난수를 만드는 random() 함수가 없지만, Python에는 난수를 만드는 데 사용할 수 있는 random이라는 내장 모듈이 있습니다.

In [75]:
# random 모듈을 가져와서 1에서 9까지의 난수를 표시합니다.
import random

print(random.randrange(1, 10))

6

* 파이썬 캐스팅

* 변수 유형 지정
  
  - 변수에 타입을 지정해야 할 때가 있습니다. 이는 캐스팅을 통해 가능합니다. Python은 객체 지향 언어이므로 클래스를 사용하여 기본 타입을 포함한 데이터 타입을 정의합니다.
  - 따라서 파이썬에서의 캐스팅은 생성자 함수를 사용하여 수행됩니다.
    - int() - 정수 리터럴, 모든 소수점을 제거한 부동 소수점 리터럴 또는 문자열 리터럴(문자열이 정수를 나타내는 경우)에서 정수를 생성합니다.
    - float() - 정수 리터럴, float 리터럴 또는 문자열 리터럴에서 float 숫자를 구성합니다(문자열이 float 또는 정수를 나타내는 경우)
    - str() - 문자열, 정수 리터럴, 부동 소수점 리터럴을 포함한 다양한 데이터 유형에서 문자열을 구성합니다.

In [ ]:
# int
x = int(1)
y = int(2.8)
z = int("3")

In [77]:
# float
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")

In [78]:
# str
z = str("s1")
y = str(2)
z = str(3.0)

* 문자열

  - 파이썬에서 문자열은 작은따옴표나 큰따옴표로 묶습니다.
  - 'hello' 는 "hello" 와 같습니다.
  - 다음 print() 함수를 사용하여 문자열 리터럴을 표시할 수 있습니다.

In [80]:
print("Hello")
print('Hello')

Hello
Hello

* 인용문 안의 인용문

   - 문자열을 둘러싼 따옴표와 일치하지 않는 한 문자열 내부에 따옴표를 사용할 수 있습니다.

In [81]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

* 변수에 문자열 할당

  - 변수에 문자열을 할당하려면 변수 이름 뒤에 등호와 문자열을 입력합니다.

In [82]:
a = "Hello"
print(a)

Hello

* 다중줄 문자열

  - 세 개의 따옴표를 사용하여 여러 줄의 문자열을 변수에 할당할 수 있습니다.
  - 참고: 결과적으로 줄 바꿈은 코드와 같은 위치에 삽입됩니다.

In [83]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
# 또는 작은따옴표 세 개
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

- 문자열은 배열입니다.
- 다른 많은 인기 프로그래밍 언어와 마찬가지로 Python의 문자열은 유니코드 문자의 배열입니다.
- 하지만 파이썬에는 문자 데이터 유형이 없습니다. 단일 문자는 길이가 1인 문자열일 뿐입니다.
- 대괄호를 사용하여 문자열의 요소에 접근할 수 있습니다.

In [85]:
# 위치 1에 있는 문자를 가져옵니다(첫 번째 문자는 위치 0에 있다는 것을 기억하세요)
a = "Hello, World!"
print(a[1])

e

* 문자열 반복

  - 문자열은 배열이므로 for루프를 사용하여 문자열의 문자를 반복할 수 있습니다.

In [1]:
# "banana"라는 단어의 글자를 반복하세요:
for x in "banana":
    print(x)

b
a
n
a
n
a

* 문자열 길이

  - 문자열의 길이를 구하려면 len()함수를 사용하세요.

In [2]:
a = "Hello, World!"
print(len(a))

13

* 문자열 확인

  - 문자열에 특정 구문이나 문자가 있는지 확인하려면 in 키워드를 사용할 수 있습니다.

In [3]:
# 다음 텍스트에 "무료"가 있는지 확인하세요.
txt = "The best things in life are free!"
print("free" in txt)

True

In [4]:
# 다음과 같은 문장에서 if 를 사용하세요.
# "free"가 있는 경우에만 인쇄합니다.
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [5]:
# 아닌 경우 체크하세요
# 문자열에 특정 구문이나 문자가 존재하지 않는지 확인하려면 not in 키워드를 사용할 수 있습니다.

# 다음 텍스트에 "expensive"가 없는지 확인하세요
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [6]:
# 다음과 같은 문장에서 if 사용하세요.
# "expensive"가 존재하지 않는 경우에만 인쇄합니다.
txt = "The best things in life are free!"
if "extensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

* 파이썬 - 문자열 슬라이싱
  
   - 슬라이스 구문을 사용하면 다양한 문자를 반환할 수 있습니다.
   - 문자열의 일부를 반환하려면 콜론으로 구분하여 시작 인덱스와 끝 인덱스를 지정합니다.

In [10]:
# 2부터 5까지의 문자를 가져옵니다(포함되지 않음).
# 참고: 첫 번째 문자의 인덱스는 0입니다.
b = "Hello, World!"
print(b[2:5])
print(b[2])
print(b[5])

llo
l
,

In [8]:
# 처음부터 5번째 위치까지의 문자를 가져옵니다(포함되지 않음).
b = "Hello, World!"
print(b[:5])

Hello

In [11]:
# 끝까지 슬라이스
# 끝 인덱스를 생략하면 범위가 끝까지 이동합니다.

# 2번째 위치부터 끝까지 문자를 가져옵니다.
b = "Hello, World!"
print(b[2:])

llo, World!

In [14]:
# 음수 인덱싱
# 문자열의 끝에서 슬라이스를 시작하려면 음수 인덱스를 사용합니다.

# 캐릭터를 얻으세요.
# 출처: "World!"의 "o" (위치 -5)
# (단, 포함되지 않음: "World!"의 "d" (위치 -2)

b = "Hello, World!"
print(b[-5:-2])

orl

* 문자열 수정

  - Python에는 문자열에 사용할 수 있는 내장 메서드 세트가 있습니다.

In [16]:
# upper()메서드는 문자열을 대문자로 반환합니다.
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [17]:
# lower()메서드는 문자열을 소문자로 반환합니다.
a = "Hello, World!"
print(a.lower())

hello, world!

- 공백 제거
- 공백은 실제 텍스트 앞이나 뒤에 있는 공백이며, 이 공백을 제거하고 싶은 경우가 많습니다.

In [18]:
# strip()방법은 시작이나 끝의 공백을 제거합니다.
a = " Hello, World! "
print(a.strip())

Hello, World!

In [19]:
# 문자열 바꾸기
# replace()메서드는 문자열을 다른 문자열로 바꿉니다.
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

- 분할 문자열
  - split()메서드는 지정된 구분 기호 사이의 텍스트가 목록 항목이 되는 목록을 반환합니다.

In [20]:
# split()메서드는 구분 기호 인스턴스를 찾으면 문자열을 하위 문자열로 분할합니다.
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

- 문자열 연결
    - 두 개의 문자열을 연결하거나 결합하려면 + 연산자를 사용하면 됩니다.

In [23]:
# 그 사이에 공백을 추가하려면 " "를 추가하세요.
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [24]:
# 변수 a와 변수 b를 변수 c로 병합합니다.
a = "Hello"
b = "World"
c = a + "  " + b
print(c)

Hello  World

- 문자열 형식
  - Python 변수 장에서 배웠듯이 문자열과 숫자를 다음과 같이 결합할 수 없습니다.

In [25]:
age = 36
#This will produce an error:
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [27]:
# 하지만 f-string이나 format() 메서드를 사용하면 문자열과 숫자를 결합할 수 있습니다.
age = 36
name = "John"
print("My name is {}, I am {}".format(name, age))

My name is John, I am 36

- F-String
  - F-String은 Python 3.6에서 도입되었으며, 현재는 문자열을 포맷하는 데 선호되는 방법입니다.
  - 문자열을 f-문자열로 지정하려면 f문자열 리터럴 앞에 을 넣고 {}변수와 다른 연산에 대한 자리 표시자로 중괄호를 추가하기만 하면 됩니다.

In [29]:
# F-String 문자열을 만듭니다.
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

- 플레이스홀더와 수정자
  - 플레이스홀더에는 값을 형식화하기 위한 변수, 연산, 함수 및 수정자가 포함될 수 있습니다.

In [32]:
# 변수 price 에 대한 플레이스홀더를 추가합니다.
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [34]:
# 플레이스홀더에는 값의 형식을 지정하는 수정자가 포함될 수 있습니다.
# 수정자는 콜론을 추가하고 :그 뒤에 합법적인 서식 유형을 지정하여 포함됩니다. 즉, .2f소수점 이하 두 자리로 이루어진 고정 소수점 숫자를 의미합니다.

# 소수점 이하 2자리까지 가격을 표시하세요.
price = 29
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 29.00 dollars

In [35]:
# 플레이스홀더에서 수학 연산을 수행하고 결과를 반환합니다.
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

* 파이썬 - 이스케이프 문자

  - 이스케이프 문자
    - 문자열에 허용되지 않는 문자를 삽입하려면 이스케이프 문자를 사용하세요.
    - 이스케이프 문자는 백슬래시 \뒤에 삽입하려는 문자를 입력하는 것입니다.
    - 불법 문자의 예로는 큰따옴표로 둘러싸인 문자열 내부의 큰따옴표가 있습니다.

In [37]:
# 큰따옴표로 둘러싸인 문자열 안에 큰따옴표를 사용하면 오류가 발생합니다.
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (1597675808.py, line 2)

In [ ]:
# 문제를 해결하려면 이스케이프 문자를 사용하세요.
# 이스케이프 문자를 사용하면 일반적으로 허용되지 않는 큰따옴표를 사용할 수 있습니다.

txt = "We are the so-called \"Vikings\" from the north."

In [ ]:
txt = 'It\'s alright.'
print(txt)

txt = "This will insert one \\ (backslash)."
print(txt)

txt = "Hello\nWorld!"
print(txt)

txt = "Hello\rWorld!"
print(txt)

txt = "Hello\tWorld!"
print(txt) 

# 이 예제에서는 한 문자(백스페이스)를 지웁니다.
txt = "Hello \bWorld!"
print(txt) 

# 백슬래시 뒤에 정수 3개를 입력하면 8진수 값이 반환됩니다.
txt = "\110\145\154\154\157"
print(txt)

# 백슬래시 뒤에 'x'와 16진수를 입력하면 16진수 값이 나타납니다.
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

It's alright.
This will insert one \ (backslash).
Hello
World!
World!
Hello	World!
HelloWorld!
Hello
Hello

* 문자열 메서드

  - Python에는 문자열에 사용할 수 있는 내장 메서드 세트가 있습니다.
  - 참고: 모든 문자열 메서드는 새 값을 반환합니다. 원본 문자열은 변경되지 않습니다.
  - https://www.w3schools.com/python/python_strings_methods.asp

* 파이썬 Booleans
  
   - 부울은 True 또는 False 두 값 중 하나를 나타냅니다.
   - 프로그래밍에서는 표현식이 참인지 거짓인지 알아야 하는 경우가 많습니다.
   - Python에서는 모든 표현식을 평가하여 참 또는 거짓, 두 가지 결과 중 하나를 얻을 수 있습니다.
   - 두 값을 비교하면 표현식이 평가되고 Python은 부울 값을 반환합니다.

In [45]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [49]:
# if 문에서 조건을 실행하면 Python은 True 또는 False를 반환합니다.

# 조건이 참인지 거짓인지에 따라 메시지를 표시합니다.
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

- 값 및 변수 평가
  - bool() 함수를 사용하면 모든 값을 평가하여 True 또는 False 값을 반환할 수 있습니다.

In [50]:
# 문자열과 숫자를 평가합니다.
print(bool("Hello"))
print(bool(15))

True
True

In [51]:
# 두 가지 변수를 평가합니다.
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

- 대부분의 값은 참입니다.
- 어떤 종류의 내용이 있으면 거의 모든 값은 참으로 평가됩니다.
- 빈 문자열을 제외한 모든 문자열은 참입니다.
- 0을 제외한 모든 숫자는 참입니다.
- 빈 문자열을 제외한 모든 목록, 튜플, 집합, 딕셔너리는 참입니다.

In [52]:
# 다음은 True를 반환합니다.
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [55]:
# 일부 값은 False입니다.
# 실제로 (), [], {}, "", 숫자 0, None과 같은 빈 값을 제외하고는 False로 평가되는 값은 많지 않습니다. 물론 False 값은 False로 평가됩니다.

# 다음은 False를 반환합니다.
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [61]:
# 이 경우 또 다른 값 또는 객체는 False로 평가되며, __len__ 함수가 0 또는 False를 반환하는 클래스에서 만들어진 객체가 있는 경우입니다.
class myclass():
    def __len__(self):
        return 0

myobj = myclass()
print(bool(myobj))

False

In [63]:
# 함수는 부울 값을 반환할 수 있습니다.
# 부울 값을 반환하는 함수를 만들 수 있습니다.

def myFunction():
    return True

print(myFunction())

True

In [64]:
# 함수의 부울 답변을 기반으로 코드를 실행할 수 있습니다.

# 함수가 True를 반환하면 "YES!"를 출력하고, 그렇지 않으면 "NO!"를 출력합니다.
def myFunction():
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

In [66]:
# Python에는 isinstance() 함수와 같이 부울 값을 반환하는 많은 내장 함수가 있는데, 이 함수를 사용하면 객체가 특정 데이터 유형인지 확인할 수 있습니다.

# 객체가 정수인지 아닌지 확인하세요.
x = 200
print(isinstance(x, int))
print(isinstance(x, str))

True
False

* 파이썬 연산자
  
    - 연산자는 변수와 값에 대한 연산을 수행하는 데 사용됩니다.
    - 아래 예에서 우리는 +연산자를 사용하여 두 값을 더합니다.

In [67]:
print(10 + 5)

15

- Python은 연산자를 다음 그룹으로 나눕니다.
   - 산술 연산자
   - 할당 연산자
   - 비교 연산자
   - 논리 연산자
   - 항등 연산자
   - 멤버십 운영자
   - 비트 연산자

In [70]:
# 산술 연산자
# 산술 연산자는 숫자 값과 함께 사용되어 일반적인 수학 연산을 수행합니다.

x = 5
y = 3
print(x + y)

x = 5
y = 3
print(x - y)

x = 5
y = 3
print(x * y)

x = 12
y = 3
print(x / y)

x = 5
y = 2
print(x % y)

x = 2
y = 5
print(x ** y) # 2*2*2*2*2와 동일

x = 15
y = 2
print(x // y) # floor 나누기 // 결과를 가장 가까운 정수로 반올림합니다.

8
2
15
4.0
1
32
7

In [ ]:
# 할당 연산자
# 할당 연산자는 변수에 값을 할당하는 데 사용됩니다.
# 할당 연산자는 '변수에 값을 저장'하거나, 
# 기존 값에 연산을 적용한 뒤 그 결과를 다시 변수에 저장하는 역할을 합니다.
# 예: x += 3  →  x = x + 3 과 동일한 의미

# -------------------------------
# 1. 기본 할당 (=)
# -------------------------------
x = 5               # x에 숫자 5를 저장 (기본적인 할당)
print(x)            # 출력: 5

# -------------------------------
# 2. 덧셈 후 할당 (+=)
# -------------------------------
x = 5               # x를 다시 5로 초기화
x += 3              # x = x + 3 → 5 + 3 = 8
print(x)            # 출력: 8

# -------------------------------
# 3. 뺄셈 후 할당 (-=)
# -------------------------------
x = 5
x -= 3              # x = x - 3 → 5 - 3 = 2
print(x)            # 출력: 2

# -------------------------------
# 4. 곱셈 후 할당 (*=)
# -------------------------------
x = 5
x *= 3              # x = x * 3 → 5 * 3 = 15
print(x)            # 출력: 15

# -------------------------------
# 5. 나눗셈 후 할당 (/=)
# -------------------------------
x = 5
x /= 3              # x = x / 3 → 5 ÷ 3 = 1.6666...
# 주의: '/'는 항상 float(실수형) 결과를 반환합니다.
print(x)            # 출력: 1.6666666666666667

# -------------------------------
# 6. 나머지 후 할당 (%=)
# -------------------------------
x = 5
x %= 3              # x = x % 3 → 5를 3으로 나눈 나머지 = 2
print(x)            # 출력: 2

# -------------------------------
# 7. 몫 후 할당 (//=)
# -------------------------------
x = 5
x //= 3             # x = x // 3 → 5 ÷ 3의 몫 = 1
# '//'는 정수 나눗셈 (소수점 버림)
print(x)            # 출력: 1

# -------------------------------
# 8. 제곱 후 할당 (**=)
# -------------------------------
x = 5
x **= 3             # x = x ** 3 → 5³ = 125
# '**'는 제곱(거듭제곱) 연산자입니다.
print(x)            # 출력: 125

# -------------------------------
# 9. 비트 AND 후 할당 (&=)
# -------------------------------
x = 5               # 5 = 0b0101 (2진수)
x &= 3              # 3 = 0b0011
# AND 연산: 0101 & 0011 → 0001 (십진수 1)
print(x)            # 출력: 1

# -------------------------------
# 10. 비트 OR 후 할당 (|=)
# -------------------------------
x = 5               # 0b0101
x |= 3              # 0b0011
# OR 연산: 0101 | 0011 → 0111 (십진수 7)
print(x)            # 출력: 7

# -------------------------------
# 11. 비트 XOR 후 할당 (^=)
# -------------------------------
x = 5               # 0b0101
x ^= 3              # 0b0011
# XOR 연산: 0101 ^ 0011 → 0110 (십진수 6)
# XOR은 서로 다를 때만 1을 반환합니다.
print(x)            # 출력: 6

# -------------------------------
# 12. 비트 오른쪽 시프트 후 할당 (>>=)
# -------------------------------
x = 5               # 0b0101
x >>= 3             # 오른쪽으로 3비트 이동 → 0000 (십진수 0)
# 오른쪽 시프트는 2의 n제곱으로 나누는 효과가 있습니다.
# 즉, 5 >> 3 은 5 // 8 과 같습니다.
print(x)            # 출력: 0

# -------------------------------
# 13. 비트 왼쪽 시프트 후 할당 (<<=)
# -------------------------------
x = 5               # 0b0101
x <<= 3             # 왼쪽으로 3비트 이동 → 0101000 (십진수 40)
# 왼쪽 시프트는 2의 n제곱을 곱하는 효과가 있습니다.
# 즉, 5 << 3 은 5 * 8 과 같습니다.
print(x)            # 출력: 40

# -------------------------------
# 14. 바다코끼리 연산자 (:=)
# -------------------------------
# 파이썬 3.8 이상에서 도입된 "할당식" 연산자입니다.
# 표현식 내에서 변수를 동시에 '할당'하고 '사용'할 수 있습니다.
# 예시: print(x := 3)는 x에 3을 저장하고, 동시에 3을 출력함.
print(x := 3)       # 출력: 3
# 위 코드는 내부적으로 아래와 동일:
# x = 3
# print(x)

5
8
2
15
1.6666666666666667
2
1
125
1
7
6
0
40
3

In [ ]:
# 비교 연산자
# 비교 연산자는 두 값을 비교하는 데 사용됩니다.

x = 5
y = 3
print(x == y)

x = 5
y = 3
print(x != y)

x = 5
y = 3
print(x > y)

x = 5
y = 3
print(x < y)

x = 5
y = 3
print(x >= y)

x = 5
y = 3
print(x <= y)

False
True
True
False
True
False

In [74]:
# 논리 연산자
# 논리 연산자는 조건문을 결합하는 데 사용됩니다.

x = 5
print(x > 3 and x < 10) # 5가 3보다 크고 5가 10보다 작으므로 True를 반환합니다.

x = 5
print(x > 3 or x < 4) # 조건 중 하나가 참이기 때문에 True를 반환합니다(5는 3보다 크지만 5는 4보다 작지 않습니다).

x = 5
print(not(x > 3 and x < 10)) # not은 결과를 반전하는 데 사용되므로 False를 반환합니다.

True
True
False

In [75]:
# 항등 연산자
# 항등 연산자는 객체가 같은지 여부가 아니라 실제로 동일한 객체이고 동일한 메모리 위치를 가지고 있는지 여부를 비교하는 데 사용됩니다.

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z) # z와 x는 같은 객체이므로 True를 반환합니다.
print(x is y) # x와 y는 같은 내용을 가지고 있더라도 같은 객체가 아니므로 False를 반환합니다.
print(x == y) # "is"와 "=="의 차이점을 보여주기 위해: 이 비교는 x와 y가 같으므로 True를 반환합니다.

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is not z) # z와 x는 같은 객체이므로 False를 반환합니다.
print(x is not y) # x와 y는 같은 내용을 가지고 있더라도 같은 객체가 아니므로 True를 반환합니다.
print(x != y) # "is not"과 "!="의 차이점을 보여주기 위해: 이 비교는 x와 y가 같으므로 False를 반환합니다.

True
False
True
False
True
False

In [76]:
# 멤버십 연산자
# 멤버십 연산자는 객체에 시퀀스가 ​​표현되는지 테스트하는 데 사용됩니다.

x = ["apple", "banana"]
print("banana" in x) # "banana" 값을 갖는 시퀀스가 ​​목록에 있으므로 True를 반환합니다.

x = ["apple", "banana"]
print("pineapple" not in x) # "pineapple" 값을 가진 시퀀스가 ​​리스트에 없으므로 True를 반환합니다.

True
True

In [83]:
# 비트 연산자
# 비트 연산자는 (이진) 숫자를 비교하는 데 사용됩니다.

print(6 & 3)
"""
& 연산자는 각 비트를 비교하여 둘 다 1이면 1로 설정하고, 그렇지 않으면 0으로 설정합니다.

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

10진수와 2진수 값:
0 = 0000000000000000
1 = 0000000000000001
2 = 00000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 00000000000000101
6 = 00000000000000110
7 = 0000000000000111
"""

print(6 | 3)
"""
| 연산자는 각 비트를 비교하여 하나 또는 둘 다 1이면 1로 설정하고, 그렇지 않으면 0으로 설정합니다.

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

10진수와 2진수 값:
0 = 0000000000000000
1 = 0000000000000001
2 = 00000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 00000000000000101
6 = 00000000000000110
7 = 0000000000000111
"""

print(6 ^ 3)
"""
^ 연산자는 각 비트를 비교하여 하나만 1이면 1로 설정하고, 그렇지 않으면(둘 다 1이거나 둘 다 0이면) 0으로 설정합니다.

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
=====================

10진수와 2진수 값:
0 = 0000000000000000
1 = 0000000000000001
2 = 00000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 00000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

print(~3)
"""
~ 연산자는 각 비트를 반전합니다(0은 1이 되고 1은 0이 됩니다).

반전된 3은 -4가 됩니다.
3 = 0000000000000011
-4 = 11111111111111100

10진수와 2진수 값:
4 = 0000000000000100
3 = 00000000000000011
2 = 0000000000000010
1 = 0000000000000001
0 = 0000000000000000
-1 = 111111111111111111
-2 = 11111111111111110
-3 = 11111111111111101
-4 = 1111111111111100
"""

print(3 << 2)
"""
<< 연산자는 오른쪽에서 지정된 개수(이 경우 2)의 0을 삽입하고, 가장 왼쪽의 비트를 같은 개수만큼 제거합니다.

왼쪽에서 00을 삽입하면:
3 = 0000000000000011
다음과 같이 됩니다.
12 = 0000000000001100

10진수와 2진수 값:
0 = 0000000000000000
1 = 0000000000000001
2 = 00000000000000010
3 = 0000000000000011
4 = 00000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 00000000000000111
8 = 0000000000001000
9 = 00000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

print(8 >> 2)
"""
>> 연산자는 각 비트를 지정된 횟수만큼 오른쪽으로 이동합니다. 왼쪽의 빈 공간은 0으로 채워집니다.

각 비트를 오른쪽으로 두 번 이동하면 8은 2가 됩니다.
8 = 0000000000001000
다음이 됩니다.
2 = 0000000000000010

10진수와 2진수 값:
0 = 0000000000000000
1 = 0000000000000001
2 = 00000000000000010
3 = 00000000000000011
4 = 00000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 00000000000000111
8 = 0000000000001000
9 = 00000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2
7
5
-4
12
2

'\n>> 연산자는 각 비트를 지정된 횟수만큼 오른쪽으로 이동합니다. 왼쪽의 빈 공간은 0으로 채워집니다.\n\n각 비트를 오른쪽으로 두 번 이동하면 8은 2가 됩니다.\n8 = 0000000000001000\n다음이 됩니다.\n2 = 0000000000000010\n\n10진수와 2진수 값:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 00000000000000010\n3 = 00000000000000011\n4 = 00000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 00000000000000111\n8 = 0000000000001000\n9 = 00000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n'

- 연산자 우선 순위
- 연산자 우선순위는 연산이 수행되는 순서를 설명합니다.
- https://www.w3schools.com/python/python_operators.asp

In [ ]:
# 괄호는 가장 높은 우선순위를 가지므로 괄호 안의 표현식이 먼저 평가되어야 합니다.
print((6 + 3) - (6 + 3))

0

In [85]:
# 곱셈 *은 덧셈 +보다 우선순위가 높으므로 곱셈은 덧셈보다 먼저 평가됩니다.
print(100 + 5 * 3)

115

In [86]:
# 덧셈 +와 뺄셈 -는 동일한 우선순위를 가지므로 표현식을 왼쪽에서 오른쪽으로 평가합니다.
print(5 + 4 - 7 + 3)

5

* Lists

  - 리스트는 하나의 변수에 여러 항목을 저장하는 데 사용됩니다.
  - 리스트는 파이썬에서 데이터 컬렉션을 저장하는 데 사용되는 4가지 내장 데이터 유형 중 하나이고, 나머지 3가지는 튜플 , 세트 , ​​딕셔너리 이며 , 각각 다른 특성과 사용법을 가지고 있습니다.
  - 목록은 대괄호를 사용하여 생성됩니다.

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

* List Items

   - List Items 은 정렬이 가능하고 변경 가능하며 중복 값을 허용합니다.
   - List Items 에는 인덱싱이 지정되어 있으며, 첫 번째 항목의 인덱스는 [0]이고, 두 번째 항목의 인덱스는 [1]입니다.

* Ordered

  - list 가 정렬되어 있다는 것은 각 항목에 정해진 순서가 있으며, 그 순서는 변경되지 않는다는 것을 의미합니다.
  - list 에 새 항목을 추가하면 새 항목은 목록 끝에 배치됩니다.
  - 참고: 순서를 변경하는 목록 메서드도 있지만, 일반적으로 항목의 순서는 변경되지 않습니다.

* Changeable
  
  - list 는 변경 가능합니다. 즉, 목록이 만들어진 후에 목록에 있는 항목을 변경, 추가, 제거할 수 있습니다.

* Allow Duplicates
   
   - list 는 인덱싱되므로 목록에는 동일한 값을 가진 항목이 있을 수 있습니다.

In [2]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

* List Length
  
   - list 에 항목이 몇 개 있는지 확인하려면 len() 함수를 사용하세요.

In [3]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

* List Items - Data Types
   
   - List Items 은 모든 데이터 유형이 될 수 있습니다.

In [4]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

* list 에는 다양한 데이터 유형이 포함될 수 있습니다.

In [5]:
list1 = ["abc", 34, True, 40, "male"]

* type()

   - Python의 관점에서 볼 때, 리스트는 'list'라는 데이터 유형을 가진 객체로 정의됩니다.

In [6]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

* The list() Constructor

   - 새로운 목록을 생성할 때 list() 생성자를 사용하는 것도 가능합니다.

In [8]:
# list() 생성자를 사용하여 List 만들기
thislist = list(("apple", "banana", "cherry")) # 이중 둥근 괄호에 주목하세요
print(thislist)

['apple', 'banana', 'cherry']

* 파이썬 컬렉션(배열)
   
    - Python 프로그래밍 언어에는 4가지 컬렉션 데이터 유형이 있습니다.
       - 목록은 정렬되고 변경 가능한 컬렉션입니다. 중복된 멤버를 허용합니다.
       - 튜플은 순서가 있고 변경할 수 없는 컬렉션입니다. 중복된 멤버를 허용합니다.
       - 집합은 순서가 없고, 변경 불가능하며, 인덱싱되지 않은 컬렉션입니다. 중복된 멤버가 없습니다.
       - 딕셔너리는 정렬되고** 변경 가능한 컬렉션입니다. 중복된 멤버는 없습니다.

* Access List Items

   - List Items 에는 인덱싱이 되어 있으며, 인덱스 번호를 참조하여 액세스할 수 있습니다.
   - 참고: 첫 번째 항목의 인덱스는 0입니다.

In [10]:
# list 의 두 번째 항목을 인쇄합니다.
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

* 음수 인덱싱

   - 음수 인덱싱은 끝에서 시작한다는 의미입니다.
   - -1은 마지막 항목을 참조하고, -2는 두 번째로 마지막 항목을 참조합니다.

In [13]:
# list 의 마지막 항목을 인쇄합니다.
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

* Range of Indexes

   - 범위의 시작점과 끝점을 지정하여 인덱스 범위를 지정할 수 있습니다.
   - 범위를 지정하면 지정된 항목이 포함된 새 목록이 반환됩니다.
   - 참고: 검색은 인덱스 2(포함)에서 시작하여 인덱스 5(포함되지 않음)에서 끝납니다.
   - 첫 번째 항목의 인덱스는 0이라는 것을 기억하세요.
   - 시작 값을 생략하면 범위는 첫 번째 항목에서 시작됩니다.
   - 끝값을 생략하면 범위가 목록의 끝까지 이어집니다.

In [14]:
# 세 번째, 네 번째, 다섯 번째 항목을 반환합니다.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [18]:
# 처음부터 "kiwi" 전의 모든 항목을 반환합니다.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [19]:
# "cherry"부터 끝까지의 항목을 반환합니다.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

* Range of Negative Indexes
  
    - 목록의 끝에서 검색을 시작하려면 음수 인덱스를 지정하세요.

In [21]:
# "orange"(-4)부터 "mango"(-1)까지의 항목을 반환합니다. 단, "orange"(-4)는 포함되지 않습니다.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

* Check if Item Exists
  
    - 지정된 항목이 목록에 있는지 확인하려면 in 키워드를 사용합니다.

In [22]:
# 목록에 "apple"이 있는지 확인하세요.
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

* Change Item Value

   - 특정 항목의 값을 변경하려면 색인 번호를 참조하세요.

In [23]:
# 두 번째 항목을 변경하세요.
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

* Change a Range of Item Values
   
    - 특정 범위 내 항목의 값을 변경하려면 새 값이 포함된 목록을 정의하고 새 값을 삽입할 인덱스 번호 범위를 참조하세요.

In [25]:
# "banana"와 "cherry" 값을 "blackcurrant"와 "watermelon" 값으로 변경합니다.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
print(thislist[1:3])
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['banana', 'cherry']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

* 교체하는 항목보다 삽입하는 항목이 많은 경우 새 항목은 지정한 위치에 삽입되고 나머지 항목은 그에 따라 이동합니다.
* 참고: 삽입된 항목의 수가 교체된 항목의 수와 일치하지 않으면 목록의 길이가 변경됩니다.

In [27]:
# 두 번째 값을 두 개의 새 값으로 바꿔서 변경합니다.
thislist = ["apple", "banana", "cherry"]
print(thislist[1:2])
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['banana']
['apple', 'blackcurrant', 'watermelon', 'cherry']

In [29]:
# 두 번째와 세 번째 값을 하나의 값으로 바꿔서 변경합니다.
thislist = ["apple", "banana", "cherry"]
print(thislist[1:3])
thislist[1:3] = ["watermelon"]
print(thislist)

['banana', 'cherry']
['apple', 'watermelon']

* Insert Items

   - 기존 값을 바꾸지 않고 새 목록 항목을 삽입하려면 insert() 메서드를 사용할 수 있습니다.
   - insert() 메서드는 지정된 인덱스에 항목을 삽입합니다.

In [32]:
# 세 번째 항목에 "수박"을 삽입하세요.
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

* Add List Items
  
   - 목록의 끝에 항목을 추가하려면 append() 메서드를 사용합니다.

In [36]:
# append() 메서드를 사용하여 항목을 추가합니다.
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

* Insert Items
  
    - 지정된 인덱스에 목록 항목을 삽입하려면 insert() 메서드를 사용합니다.
    - insert() 메서드는 지정된 인덱스에 항목을 삽입합니다.

In [39]:
# 두 번째 위치에 항목을 삽입합니다.
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

* Extend List

   - 다른 목록의 요소를 현재 목록에 추가하려면 extend() 메서드를 사용합니다.
   - 요소는 목록의 끝에 추가됩니다.

In [40]:
# thislist 에 tropical 요소를 추가합니다.
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

* Add Any Iterable

    - extend() 메서드는 목록을 추가할 필요가 없으며, 반복 가능한 객체(튜플, 세트, ​​딕셔너리 등)를 추가할 수 있습니다.

In [41]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

* Remove List Items

   - 지정된 항목 제거
      - remove()메서드는 지정된 항목을 제거합니다.

In [43]:
# "바나나"를 제거하세요.
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [44]:
# 첫번째 "banana"를 제거하세요.
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

* 지정된 인덱스 제거
   - pop()메서드는 지정된 인덱스를 제거합니다.
   - 인덱스를 지정하지 않으면 pop()메서드는 마지막 항목을 제거합니다.

In [45]:
# 두 번째 항목을 제거합니다.
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [46]:
# 마지막 항목을 제거합니다.
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

* 키워드 del는 지정된 인덱스도 제거합니다.

In [47]:
# 첫 번째 항목을 제거합니다.
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

* 키워드 del를 사용하면 목록을 완전히 삭제할 수도 있습니다.

In [50]:
thislist = ["apple", "banana", "cherry"]
del thislist

* Clear the List

    - clear() 메서드는 list 를 비웁니다.
    - list 는 여전히 ​​남아 있지만 내용이 없습니다.

In [51]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

* Loop Lists

   - 목록을 반복합니다.
   - for 루프를 사용하여 목록 항목을 반복할 수 있습니다.

In [52]:
# 목록에 있는 모든 항목을 하나씩 인쇄합니다.
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

* 인덱스 번호를 반복합니다.

    - 인덱스 번호를 참조하여 목록 항목을 반복할 수도 있습니다.
    - range() 및 len() 함수를 사용하여 적절한 반복 가능 항목을 만듭니다.

In [54]:
# 모든 항목을 해당 색인 번호를 참조하여 인쇄하세요.
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

* While 루프 사용

   - while 루프를 사용하여 목록 항목을 반복할 수 있습니다.
   - len() 함수를 사용하여 목록의 길이를 확인한 다음, 0부터 시작하여 목록 항목의 인덱스를 참조하여 목록 항목을 반복합니다.
   - 반복할 때마다 인덱스를 1씩 증가시키는 것을 잊지 마세요.

In [55]:
# while 루프를 사용하여 모든 인덱스 번호를 살펴보며 모든 항목을 인쇄합니다.
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

* 리스트 이해를 사용한 루핑

    - 리스트 컴프리헨션은 리스트를 반복하기 위한 가장 짧은 구문을 제공합니다.

In [58]:
# 목록에 있는 모든 항목을 출력하는 간단한 for 루프
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

* List Comprehension

   - 리스트 내포는 기존 리스트의 값을 기반으로 새 리스트를 만들 때 더 짧은 구문을 제공합니다.
   - 예:
      - 과일 리스트를 기반으로 이름에 "a"가 포함된 과일만 포함하는 새 리스트를 만들려고 합니다.
      - 리스트 내포가 없다면 조건문이 포함된 for 문을 작성해야 합니다.

In [59]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [62]:
# 리스트 이해를 사용하면 단 한 줄의 코드로 이 모든 작업을 수행할 수 있습니다.
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

* The Syntax

newlist = [expression for item in iterable if condition == True]

- 반환 값은 새로운 목록이며, 기존 목록은 변경되지 않습니다.
- 조건은 True로 평가되는 항목만 허용하는 필터와 같습니다.

In [63]:
# "apple"이 아닌 항목만 허용합니다.
newlist = [x for x in fruits if x != "apple"]

* if x != "apple" 조건은 "apple"을 제외한 모든 요소에 대해 True를 반환하여 새 목록에 "apple"을 제외한 모든 과일이 포함되도록 합니다.
* 조건은 선택 사항이므로 생략할 수 있습니다.

In [64]:
# if 문이 없는 경우
newlist = [x for x in fruits]

* Iterable

   - 반복 가능한 객체는 리스트, 튜플, 세트 등 반복 가능한 객체가 될 수 있습니다.

In [65]:
# range() 함수를 사용하면 반복 가능한 객체를 만들 수 있습니다.
newlist = [x for x in range(10)]

In [66]:
# 5보다 작은 숫자만 허용
newlist = [x for x in range(10) if x < 5]

* Expression

   - 표현식은 반복의 현재 항목이지만, 새 목록의 목록 항목처럼 되기 전에 조작할 수 있는 결과이기도 합니다.

In [68]:
# 새 목록의 값을 대문자로 설정합니다.
newlist = [x.upper() for x in fruits]

In [69]:
# 새 목록의 모든 값을 'hello'로 설정합니다.
newlist = ['hello' for x in fruits]

* 표현식은 필터처럼 조건을 포함할 수 없지만, 결과를 조작하는 방법으로 사용할 수 있습니다.

In [70]:
# "banana" 대신 "orange"를 반환합니다.
newlist = [x if x != "banana" else "orange" for x in fruits]

* Sort Lists

   - 목록을 영숫자순으로 정렬
      - 목록 객체에는 기본적으로 목록을 영숫자순(오름차순)으로 정렬하는 sort() 메서드가 있습니다.

In [71]:
# 목록을 알파벳순으로 정렬하기
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
print(thislist)
thislist.sort()
print(thislist)

['orange', 'mango', 'kiwi', 'pineapple', 'banana']
['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [72]:
# 목록을 숫자순으로 정렬하세요.
thislist = [100, 50, 65, 82, 23]
print(thislist)
thislist.sort()
print(thislist)

[100, 50, 65, 82, 23]
[23, 50, 65, 82, 100]

* 내림차순 정렬

    - 내림차순으로 정렬하려면 키워드 인수 reverse = True를 사용합니다.

In [73]:
# 목록을 내림차순으로 정렬
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
print(thislist)
thislist.sort(reverse = True)
print(thislist)

['orange', 'mango', 'kiwi', 'pineapple', 'banana']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [74]:
thislist = [100, 50, 65, 82, 23]
print(thislist)
thislist.sort(reverse = True)
print(thislist)

[100, 50, 65, 82, 23]
[100, 82, 65, 50, 23]

* 정렬 기능 사용자 정의

    - 키워드 인수 key = function을 사용하여 함수를 사용자 지정할 수도 있습니다.
    - 함수는 목록을 정렬하는 데 사용할 숫자(가장 작은 숫자부터)를 반환합니다.

In [76]:
# 숫자가 50에 얼마나 가까운지에 따라 목록을 정렬하세요.
def myfunc(n):
    return abs(n - 50) # abs() 는 주어진 숫자의 절대값을 반환하는 내장 함수

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

* Case Insensitive Sort

   - 기본적으로 sort() 메서드는 대소문자를 구분하므로 모든 대문자가 소문자보다 먼저 정렬됩니다.

In [77]:
# 대소문자 구분 정렬은 예상치 못한 결과를 초래할 수 있습니다.
thislist = ["banana", "Orange", "Kiwi", "cherry"]
print(thislist)
thislist.sort()
print(thislist)

['banana', 'Orange', 'Kiwi', 'cherry']
['Kiwi', 'Orange', 'banana', 'cherry']

* 다행히 목록을 정렬할 때 내장 함수를 키 함수로 사용할 수 있습니다.
* 대소문자를 구분하지 않는 정렬 함수가 필요하다면 str.lower를 키 함수로 사용하세요.

In [78]:
# 대소문자를 구분하지 않는 목록 정렬을 수행해 보세요.
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

* 역순

    - 알파벳 순서에 관계없이 목록의 순서를 반대로 바꾸고 싶다면 어떻게 해야 할까요?
    - reverse() 메서드는 요소의 현재 정렬 순서를 반대로 바꿉니다.

In [79]:
# 목록 항목의 순서를 반대로 바꿉니다.
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [83]:
# 정렬을 이용해서 뒤집는 방식
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower, reverse = True)
print(thislist)

['Orange', 'Kiwi', 'cherry', 'banana']

* Copy a List

   - "list2 = list1"이라고 입력하는 것만으로는 목록을 복사할 수 없습니다. list2는 list1에 대한 참조일 뿐이며, list1에서 변경한 내용은 자동으로 list2에도 적용됩니다.
   - copy() 메서드를 사용하세요.
   - List의 내장 메서드인 copy()를 사용하여 목록을 복사할 수 있습니다.

In [84]:
# copy() 메서드를 사용하여 목록의 복사본을 만드세요.
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

* list() 메서드 사용
* 복사본을 만드는 또 다른 방법은 내장 메서드 list()를 사용하는 것입니다.

In [85]:
# list() 메서드를 사용하여 목록의 사본을 만듭니다.
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

* 슬라이스 연산자 사용
* : (슬라이스) 연산자를 사용하여 목록의 복사본을 만들 수도 있습니다.

In [86]:
# : 연산자를 사용하여 목록의 복사본을 만듭니다.
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

* Join Lists

   - 두 목록 결합
      - Python에서는 두 개 이상의 목록을 결합하거나 연결하는 여러 가지 방법이 있습니다.
      - 가장 쉬운 방법 중 하나는 + 연산자를 사용하는 것입니다.

In [87]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

* 두 개의 목록을 결합하는 또 다른 방법은 list2의 모든 항목을 하나씩 list1에 추가하는 것입니다.

In [88]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

* 또는 extend() 메서드를 사용할 수 있습니다. 이 메서드의 목적은 한 목록의 요소를 다른 목록에 추가하는 것입니다.

In [89]:
# extend() 메서드를 사용하여 list1의 끝에 list2를 추가합니다.
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

* List Methods
   - https://www.w3schools.com/python/python_lists_methods.asp

* Tuple

   - 튜플은 하나의 변수에 여러 항목을 저장하는 데 사용됩니다.
   - 튜플은 파이썬에서 데이터 컬렉션을 저장하는 데 사용되는 4가지 내장 데이터 유형 중 하나이고, 나머지 3가지는 list, sert, Dictionary 이며, 각각 다른 특성과 사용법을 가지고 있습니다.
   - 튜플은 순서가 있고 변경할 수 없는 컬렉션입니다.
   - 튜플은 둥근 ​​괄호로 작성됩니다.

In [1]:
# 튜플 생성
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

* 튜플 항목

    - 튜플 항목은 순서가 있고, 변경할 수 없으며, 중복 값을 허용합니다.
    - 튜플 항목은 인덱스가 지정되어 있으며, 첫 번째 항목의 인덱스는 [0]이고, 두 번째 항목의 인덱스는 [1]입니다.

* 튜플 순서

    - 튜플이 순서가 있다는 것은 항목들이 정해진 순서를 가지고 있으며, 그 순서가 변하지 않는다는 것을 의미합니다.

* 튜플 변경 불가능

    - 튜플은 변경 불가능하며, 이는 튜플이 생성된 후에는 항목을 변경, 추가 또는 제거할 수 없다는 것을 의미합니다.

* 튜플 중복 허용

    - 튜플은 인덱싱되므로 동일한 값을 가진 항목을 가질 수 있습니다.

In [2]:
# 튜플은 중복 값을 허용합니다.
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

* 튜플 길이
  
    - 튜플에 몇 개의 항목이 있는지 확인하려면 len()함수를 사용하세요.

In [3]:
# 튜플에 있는 항목의 개수를 출력합니다.
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

* 하나의 항목으로 튜플 만들기

    - 항목이 하나만 있는 튜플을 만들려면 항목 뒤에 쉼표를 추가해야 합니다. 그렇지 않으면 Python에서 튜플로 인식하지 못합니다.

In [4]:
# 한 개의 항목 튜플, 쉼표를 기억하세요.
thistuple = ("apple",)
print(type(thistuple))

# Not a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

* 튜플 항목 - 데이터 유형

   - 튜플 항목은 모든 데이터 유형이 될 수 있습니다.

In [6]:
# 문자열, 정수 및 부울 데이터 유형:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

* 튜플에는 다양한 데이터 유형이 포함될 수 있습니다.

In [7]:
# 문자열, 정수 및 부울 값을 포함하는 튜플:
tuple1 = ("abc", 34, True, 40, "male")
print(type(tuple1))

<class 'tuple'>

* Python의 관점에서 튜플은 '튜플'이라는 데이터 유형을 가진 객체로 정의됩니다.

In [8]:
# 튜플의 데이터 유형은?
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

* tuple() 생성자

    - tuple() 생성자를 사용하여 튜플을 만드는 것도 가능합니다.

In [9]:
# tuple() 메서드를 사용하여 튜플을 만듭니다.
thistuple = tuple(("apple", "banana", "cherry")) # 이중 둥근 괄호에 주목하세요
print(thistuple)

('apple', 'banana', 'cherry')

* 파이썬 컬렉션(배열)
   - Python 프로그래밍 언어에는 4가지 컬렉션 데이터 유형이 있습니다.

      - 목록은 정렬되고 변경 가능한 컬렉션입니다. 중복된 멤버를 허용합니다.
      - 튜플은 순서가 있고 변경할 수 없는 컬렉션입니다. 중복된 멤버를 허용합니다.
      - 집합은 순서가 없고, 변경 불가능하며, 인덱싱되지 않은 컬렉션입니다. 중복된 멤버가 없습니다.
      - 딕셔너리는 정렬되고** 변경 가능한 컬렉션입니다. 중복된 멤버는 없습니다.

* 튜플 항목에 접근하기

   - 튜플 항목에 액세스
     - 대괄호 안에 인덱스 번호를 참조하여 튜플 항목에 액세스할 수 있습니다.
     - 참고: 첫 번째 항목의 인덱스는 0입니다.

In [10]:
# 튜플의 두 번째 항목을 출력합니다.
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

* 음수 인덱싱

   - 음수 인덱싱은 끝에서부터 시작한다는 것을 의미합니다.
   - -1은 마지막 항목을 참조하고, -2는 두 번째로 마지막 항목을 참조합니다.

In [11]:
# 튜플의 마지막 항목을 출력합니다.
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

* 인덱스 범위

   - 범위의 시작점과 끝점을 지정하여 인덱스 범위를 지정할 수 있습니다.
   - 범위를 지정하면 반환 값은 지정된 항목이 포함된 새 튜플이 됩니다.

In [13]:
# 세 번째, 네 번째, 다섯 번째 항목을 반환합니다.
# 참고: 검색은 인덱스 2(포함)에서 시작하여 인덱스 5(포함되지 않음)에서 끝납니다.
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

* 시작 값을 생략하면 범위는 첫 번째 항목에서 시작됩니다.

In [14]:
# 처음부터 "kiwi"를 제외한 항목을 반환합니다.
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

* 끝 값을 생략하면 범위가 튜플의 끝까지 이어집니다.

In [15]:
# "cherry"부터 끝까지의 항목을 반환합니다.
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

* 음수 지수 범위

   - 튜플의 끝에서 검색을 시작하려면 음수 인덱스를 지정하세요.

In [16]:
# 인덱스 -4(포함)부터 인덱스 -1(제외)까지의 항목을 반환합니다.
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

* 항목이 있는지 확인

   - 튜플에 지정된 항목이 있는지 확인하려면 in 키워드를 사용하세요.

In [17]:
# 튜플에 "apple"이 있는지 확인하세요.
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

* 튜플 업데이트
  
   - 튜플은 변경할 수 없습니다. 즉, 튜플이 생성된 후에는 항목을 변경, 추가 또는 제거할 수 없습니다.

* 튜플 값 변경

   - 튜플이 생성되면 값을 변경할 수 없습니다. 튜플은 변경할 수 없으며 , 불변(immutable) 이라고도 합니다.
   - 하지만 해결 방법이 있습니다. 튜플을 리스트로 변환하고, 리스트를 변경한 후, 리스트를 다시 튜플로 변환하면 됩니다.

In [18]:
# 튜플을 변경할 수 있도록 목록으로 변환합니다.
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

* 항목 추가

   - 튜플은 변경 불가능하므로 내장 append()메서드가 없지만 튜플에 항목을 추가하는 다른 방법은 있습니다.
     - 1. 목록으로 변환 : 튜플을 변경 하는 것과 마찬가지로 목록으로 변환하고, 항목을 추가한 다음, 다시 튜플로 변환할 수 있습니다.
     - 2. 튜플에 튜플을 추가합니다. 튜플에 튜플을 추가할 수 있습니다. 따라서 항목을 하나(또는 여러 개) 추가하려면 해당 항목을 포함하는 새 튜플을 생성하여 기존 튜플에 추가합니다.

In [ ]:
# 튜플을 리스트로 변환하고, "orange"를 추가한 후, 다시 튜플로 변환합니다.
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [27]:
# 값이 "orange"인 새 튜플을 만들고 해당 튜플을 추가합니다.
thistuple = ("apple", "banana", "cherry")
y = ("orange",) # 참고: 항목이 하나만 있는 튜플을 생성할 때는 항목 뒤에 쉼표를 꼭 넣어야 합니다. 그렇지 않으면 튜플로 식별되지 않습니다.
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

* 항목 제거

   - 참고: 튜플의 항목을 제거할 수 없습니다.
   - 튜플은 변경할 수 없으므로 튜플에서 항목을 제거할 수 없지만 튜플 항목을 변경하고 추가하는 데 사용한 것과 동일한 해결 방법을 사용할 수 있습니다.

In [30]:
# 튜플을 리스트로 변환하고, "apple"을 제거한 후, 다시 튜플로 변환합니다.
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

* 또는 튜플을 완전히 삭제할 수 있습니다.

In [33]:
# 키워드 del는 튜플을 완전히 삭제할 수 있습니다.
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) # 튜플이 더 이상 존재하지 않기 때문에 오류가 발생합니다.

NameError: name 'thistuple' is not defined

* 튜플 압축 해제

    - 튜플 풀기
      - 튜플을 생성할 때는 일반적으로 값을 할당합니다. 이를 튜플 "패킹"이라고 합니다.

In [34]:
# 튜플 패킹
fruits = ("apple", "banana", "cherry")

* 하지만 Python에서는 값을 다시 변수로 추출할 수도 있습니다. 이를 "언패킹(unpacking)"이라고 합니다.
* 참고: 변수의 개수는 튜플의 값 개수와 일치해야 합니다. 일치하지 않으면 별표를 사용하여 나머지 값을 목록으로 수집해야 합니다.

In [35]:
# 튜플 압축 해제
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

* 별표* 사용

   - 변수의 개수가 값의 개수보다 적으면 변수 이름에 을 추가하면 *값이 목록 형태로 변수에 할당됩니다.

In [36]:
# 나머지 값을 "red"라는 목록으로 지정합니다.
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

* 별표가 마지막 변수 이름 외에 다른 변수 이름에 추가되면 Python은 남은 값의 개수가 남은 변수의 개수와 일치할 때까지 변수에 값을 할당합니다.

In [38]:
# "tropic" 변수에 값 목록을 추가합니다.
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

* 루프 튜플

    - 튜플을 통한 루프
    - for 루프를 사용하여 튜플 항목을 반복할 수 있습니다.

In [39]:
# 항목을 반복하고 값을 인쇄합니다.
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

* 인덱스 번호를 반복합니다

    - 튜플 항목의 인덱스 번호를 참조하여 해당 항목을 반복할 수도 있습니다.
    - range()및 함수를 사용하여 len()적합한 반복 가능한 항목을 만듭니다.

In [40]:
# 모든 항목을 해당 색인 번호를 참조하여 인쇄하세요.
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

* While 루프 사용
  
    - while 루프를 사용하여 튜플 항목을 반복할 수 있습니다.
    - len() 함수를 사용하여 튜플의 길이를 확인한 다음, 0부터 시작하여 인덱스를 참조하여 튜플 항목을 반복합니다.
    - 매번 반복할 때마다 인덱스를 1씩 증가시키는 것을 잊지 마세요.

In [42]:
# while루프를 사용하여 모든 인덱스 번호를 차례로 살펴보며 모든 항목을 인쇄합니다.
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

* 튜플 조인

   - 두 개의 튜플을 결합합니다.
   - 두 개 이상의 튜플을 결합하려면 다음 + 연산자를 사용할 수 있습니다.

In [43]:
# 두 개의 튜플을 결합합니다.
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3= tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

* 튜플 곱하기
  - 튜플의 내용을 주어진 횟수만큼 곱하려면 다음 * 연산자를 사용하면 됩니다.

In [44]:
# 과일 튜플을 2로 곱합니다.
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

* 튜플 메서드
  - https://www.w3schools.com/python/python_tuples_methods.asp

* 파이썬 - Sets

   - 집합은 여러 항목을 하나의 변수에 저장하는 데 사용됩니다.
   - Set은 데이터 컬렉션을 저장하는 데 사용되는 Python의 4가지 내장 데이터 유형 중 하나이고, 나머지 3가지는 List , Tuple , Dictionary 이며 , 각각 다른 특성과 사용법을 가지고 있습니다.
   - 집합은 순서가 없고 , 변경 불가능하며 , 색인이 없는 컬렉션입니다.
   - 참고: 설정된 아이템은 변경할 수 없지만, 아이템을 삭제하고 새로운 아이템을 추가할 수 있습니다.
   - 집합은 중괄호로 표기합니다.
   - 참고: 세트에는 순서가 없으므로 항목이 어떤 순서로 나타나는지 확신할 수 없습니다.

In [1]:
# 세트 만들기
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

* 세트 아이템
  - 설정 항목은 순서가 없고, 변경할 수 없으며, 중복된 값을 허용하지 않습니다.

* 순서 없음
  - 순서 없음은 집합의 항목에 정의된 순서가 없다는 것을 의미합니다.
  - 설정된 항목은 사용할 때마다 다른 순서로 나타날 수 있으며, 인덱스나 키로 참조할 수 없습니다.

* 변하지 않는
  - 세트 항목은 변경할 수 없습니다. 즉, 세트가 생성된 후에는 항목을 변경할 수 없습니다.

* 세트가 생성되면 항목을 변경할 수 없지만 항목을 제거하고 새 항목을 추가할 수는 있습니다.

* 중복은 허용되지 않습니다.
  - 세트에는 같은 값을 갖는 두 항목이 있을 수 없습니다.

In [3]:
# 중복된 값은 무시됩니다.
thisset =  {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'cherry', 'banana'}

* 참고: 값 True 과 값 1은 집합에서 동일한 값으로 간주되며 중복으로 처리됩니다.

In [ ]:
# True 그리고 1 은 동일한 값으로 간주됩니다.
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'apple', 'cherry', 'banana'}

* 참고: 값 False 과 값 0은 집합에서 동일한 값으로 간주되며 중복으로 처리됩니다.

In [6]:
# False 그리고 0 은 동일한 값으로 간주됩니다.
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{False, True, 'apple', 'cherry', 'banana'}

* 세트의 길이를 구하세요
  - 세트에 몇 개의 항목이 있는지 확인하려면 len() 함수를 사용하세요.

In [7]:
# 세트에 있는 항목의 개수를 구하세요.
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

* 항목 설정 - 데이터 유형
  - 설정 항목은 모든 데이터 유형이 될 수 있습니다.

In [9]:
# 문자열, 정수 및 부울 데이터 유형
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'apple', 'cherry', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

* 집합에는 다양한 데이터 유형이 포함될 수 있습니다.

In [11]:
# 문자열, 정수 및 부울 값을 포함하는 집합
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'male', 40, 'abc'}

* Set 의 type()
  - Python의 관점에서 보면, 집합은 'set'이라는 데이터 유형을 가진 객체로 정의됩니다.

In [12]:
# 집합의 데이터 유형은?
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

* set() 생성자
  - set() 생성자를 사용하여 집합을 만드는 것도 가능합니다.

In [13]:
# set() 생성자를 사용하여 집합을 만듭니다.
thisset = set(("apple", "banana", "cherry")) # 이중 둥근 괄호에 주목하세요
print(thisset)

{'apple', 'cherry', 'banana'}

* 파이썬 컬렉션(배열)
  - Python 프로그래밍 언어에는 4가지 컬렉션 데이터 유형이 있습니다.
    
    - 목록은 정렬되고 변경 가능한 컬렉션입니다. 중복된 멤버를 허용합니다.
    - 튜플은 순서가 있고 변경할 수 없는 컬렉션입니다. 중복된 멤버를 허용합니다.
    - 집합은 순서가 없고, 변경 불가능하며, 인덱싱되지 않은 컬렉션입니다. 중복된 멤버가 없습니다.
    - 딕셔너리는 정렬되고** 변경 가능한 컬렉션입니다. 중복된 멤버는 없습니다.

* set 항목 접근
  - 인덱스나 키를 참조하여 집합의 항목에 접근할 수 없습니다.
  - 하지만 for 루프를 사용하여 집합의 항목을 순회하거나, in 키워드를 사용하여 지정된 값이 집합에 있는지 확인할 수 있습니다.

In [15]:
# 집합을 반복하고 값을 출력합니다.
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana

In [17]:
# 세트에 "banana"가 있는지 확인하세요.
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [19]:
# 세트에 "banana"가 없는지 확인하세요.
thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

* set 항목 추가

  - 세트가 생성되면 항목을 변경할 수 없지만 새 항목을 추가할 수는 있습니다.
  - 세트에 항목을 하나 추가하려면 add() 메서드를 사용합니다.

In [25]:
# add() 메서드를 사용하여 세트에 항목을 추가합니다.
# set(집합)은 순서를 보장하지 않는 자료형이라, add()로 "orange"를 추가할 때마다 출력 순서가 달라질 수 있습니다.
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'orange', 'banana'}

* 세트 추가
  - 다른 세트의 항목을 현재 세트에 추가하려면 update() 메서드를 사용합니다.

In [27]:
# thisset 에 tropical 의 요소를 추가하세요.
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'apple', 'cherry', 'banana', 'mango', 'pineapple'}

* 반복 가능한 항목 추가
  - update() 메서드의 객체는 집합일 필요는 없으며, 반복 가능한 객체(튜플, 리스트, 딕셔너리 등)이면 됩니다.

In [28]:
# set 에 목록의 요소를 추가합니다. 
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'kiwi', 'cherry', 'orange', 'banana'}

* set 항목 제거
  - 세트에서 항목을 제거하려면 remove() 또는 discard() 메서드를 사용합니다.
  - 참고: 제거할 항목이 존재하지 않으면 remove() 오류가 발생합니다.
  - 참고: 제거할 항목이 존재하지 않으면 discard() 오류가 발생 하지 않습니다.

In [30]:
# remove() 을 사용하여 "banana"를 제거하세요.
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [31]:
#  discard() 을 사용하여 "banana"를 제거하세요.
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

* pop() 메서드를 사용하여 항목을 제거할 수도 있지만, 이 메서드는 무작위 항목을 제거하므로 어떤 항목이 제거되는지 확신할 수 없습니다.
* pop() 메서드의 반환값은 제거된 항목입니다.
* 참고: 집합은 순서가 없으므로 pop() 메서드를 사용할 때 어떤 항목이 제거되는지 알 수 없습니다.

In [37]:
# pop() 메서드를 사용하여 무작위 항목을 제거합니다.
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

In [38]:
# clear() 메서드는 집합을 비웁니다.
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [39]:
# del 키워드는 set 를 완전히 삭제합니다.
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

* set 반복
  - for 루프를 사용하여 set 항목을 반복할 수 있습니다.

In [40]:
# 집합을 반복하고 값을 출력합니다.
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana

* set 결합

  - Python에서 두 개 이상의 집합을 결합하는 방법은 여러 가지가 있습니다.
  - union()과 update() 메서드는 두 집합의 모든 항목을 결합합니다.
  - intersection() 메서드는 중복된 항목만 유지합니다.
  - difference() 메서드는 첫 번째 집합의 항목 중 다른 집합에는 없는 항목을 유지합니다.
  - symmetric_difference() 메서드는 중복된 항목을 제외한 모든 항목을 유지합니다.

* Union
  - union() 메서드는 두 집합의 모든 항목을 포함하는 새 집합을 반환합니다.

In [41]:
# set1과 set2를 새로운 세트로 결합합니다.
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 'c', 2, 3, 'a'}

* union() 메서드 대신 | 연산자를 사용하면 동일한 결과를 얻을 수 있습니다.

In [42]:
# 두 set 를 결합하려면 |를 사용합니다.
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'b', 1, 'c', 2, 3, 'a'}

* 여러 set 결합

  - 모든 결합 방법과 연산자를 사용하여 여러 set 를 결합할 수 있습니다.
  - 방법을 사용할 때는 괄호 안에 쉼표로 구분하여 set 를 추가하기만 하면 됩니다.

In [43]:
# union() 메서드를 사용하여 여러 set 를 결합합니다.
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'John', 1, 'c', 2, 3, 'apple', 'b', 'bananas', 'cherry', 'a', 'Elena'}

* | 연산자를 사용할 때는 더 많은 | 연산자로 set 를 구분하세요.

In [44]:
# 두 set 를 결합하려면 |를 사용합니다.
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 | set4
print(myset)

{'John', 1, 'c', 2, 3, 'apple', 'b', 'bananas', 'cherry', 'a', 'Elena'}

* set 과 튜플 결합
   - union() 메서드를 사용하면 set 을 리스트나 튜플과 같은 다른 데이터 유형과 결합할 수 있습니다.
   - 결과는 set 이 됩니다.
   - 참고: | 연산자는 set 끼리만 결합할 수 있고, union() 메서드처럼 다른 데이터 유형과는 결합할 수 없습니다.

In [45]:
# 튜플로 set 을 조인합니다.
x = {"a", "b", "c"} # set
y = (1, 2, 3) # tuple

z = x.union(y)
print(z)

{1, 'c', 2, 3, 'b', 'a'}

* set - 업데이트

  - update() 메서드는 한 set 의 모든 항목을 다른 set 에 삽입합니다.
  - update()는 원래 set 을 변경하며, 새 set 을 반환하지 않습니다.
  - 참고: union()과 update()는 모두 중복 항목을 제외합니다.

In [46]:
# update() 메서드는 set2의 항목을 set1에 삽입합니다.
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 'c', 2, 3, 'a'}

* set - 교집합

  - 중복된 항목만 유지합니다.
  - intersection() 메서드는 두 set 에 모두 존재하는 항목만 포함하는 새 set 을 반환합니다.

In [47]:
# set1과 set2를 결합하지만 중복된 것만 유지합니다.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

* intersection() 메서드 대신 & 연산자를 사용하면 동일한 결과를 얻을 수 있습니다.
* 참고: & 연산자는 집합끼리만 결합할 수 있고, intersection() 메서드처럼 다른 데이터 유형과는 결합할 수 없습니다.

In [48]:
# 두 set 를 결합하려면 &를 사용합니다.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

* intersection_update() 메서드는 중복된 항목만 유지하지만, 새로운 세트를 반환하는 대신 원본 세트를 변경합니다.

In [50]:
# set1과 set2에 모두 존재하는 항목을 유지합니다.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

* True와 1은 같은 값으로 간주됩니다. False와 0도 마찬가지입니다.

In [51]:
# True, False, 1, 0 값을 포함하는 집합을 결합하고 무엇이 중복으로 간주되는지 확인하세요.
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

* set - Difference
  - difference() 메서드는 다른 set 에는 없는 첫 번째 set 의 항목만 포함하는 새 set 를 반환합니다.

In [52]:
# set2에 없는 set1의 모든 항목을 유지합니다.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

* difference() 메서드 대신 - 연산자를 사용하면 동일한 결과를 얻을 수 있습니다.
* 참고: - 연산자는 집합끼리만 결합할 수 있고, difference() 메서드처럼 다른 데이터 유형과는 결합할 수 없습니다.

In [53]:
# - 를 사용하여 두 set 를 결합합니다.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2

print(set3)

{'cherry', 'banana'}

* difference_update() 메서드는 다른 세트에 없는 첫 번째 세트의 항목을 유지하지만, 새로운 세트를 반환하는 대신 원래 세트를 변경합니다.

In [54]:
# 두 세트에 모두 없는 항목을 유지하려면 difference_update() 메서드를 사용합니다.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

* set - Symmetric Differences (대칭 차이)
  - symmetric_difference() 메서드는 두 set 모두에 존재하지 않는 요소만 유지합니다.

In [55]:
# 두 set 모두에 없는 항목은 그대로 두세요.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'microsoft', 'cherry', 'banana', 'google'}

* symmetric_difference() 메서드 대신 ^ 연산자를 사용하면 동일한 결과를 얻을 수 있습니다.
* 참고: ^ 연산자는 집합끼리만 결합할 수 있고, symmetric_difference() 메서드처럼 다른 데이터 유형과는 결합할 수 없습니다.

In [1]:
# 두 set 를 결합하려면 ^를 사용하세요.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2

print(set3)

{'google', 'microsoft', 'cherry', 'banana'}

* symmetric_difference_update() 메서드는 중복된 항목을 제외한 모든 항목을 유지하지만, 새 세트를 반환하는 대신 원본 세트를 변경합니다.

In [2]:
# 두 set 에 모두 존재하지 않는 항목을 유지하려면 symmetric_difference_update() 메서드를 사용합니다.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'cherry', 'banana', 'google', 'microsoft'}

* set - frozenset

  - frozenset은 set의 불변 버전입니다.
  - set과 마찬가지로, frozenset은 고유하고 순서가 없으며 변경할 수 없는 요소를 포함합니다.
  - set과 달리 frozenset에서는 요소를 추가하거나 제거할 수 없습니다.

* frozenset 만들기
  - frozenset() 생성자를 사용하여 반복 가능한 객체로부터 frozenset을 만듭니다.
  
  - frozenset methods
    - https://www.w3schools.com/python/python_frozenset.asp

In [3]:
# frozenset을 생성하고 해당 유형을 확인하세요.
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>

* Set Methods
  - https://www.w3schools.com/python/python_sets_methods.asp

* set - Dictionary

  - Dictionary 은 키:값 쌍으로 데이터 값을 저장하는 데 사용됩니다.
  - Dictionary 은 순서가 있고, 변경 가능하며, 중복을 허용하지 않는 컬렉션입니다.
  - Python 3.7 버전부터 Dictionary 은 순서가 있습니다. Python 3.6 이하 버전에서는 Dictionary 이 순서가 없습니다.
  - Dictionary 은 중괄호로 작성되며, 키와 값을 가집니다.

In [5]:
# Dictionary 를 만들고 출력하세요.
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

* Dictionary 항목
  - Dictionary 항목은 정렬되고 변경 가능하며 중복을 허용하지 않습니다.
  - Dictionary 항목은 키:값 쌍으로 표시되며 키 이름을 사용하여 참조할 수 있습니다.

In [6]:
# Dictionary 의 "brand" 값을 출력하세요.
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict["brand"])

Ford

* set - Dictionary
  - 순서가 있나요, 아니면 순서가 없나요?
    - Python 3.7 버전부터 Dictionary 은 순서가 있습니다. Python 3.6 이하 버전에서는 Dictionary 이 순서가 없습니다.
    - Dictionary 이 순서가 있다는 것은 항목에 정의된 순서가 있으며, 그 순서는 변경되지 않는다는 것을 의미합니다.
    - 순서가 없다는 것은 항목에 정의된 순서가 없으며, 인덱스를 사용하여 항목을 참조할 수 없다는 것을 의미합니다.

  - 변경 가능
    - Dictionary 은 변경 가능합니다. 즉, Dictionary 이 생성된 후에도 항목을 변경, 추가 또는 제거할 수 있습니다.
  
  - 중복 불가
    - Dictionary 에는 동일한 키를 가진 두 항목이 있을 수 없습니다.

In [7]:
# 중복된 값은 기존 값을 덮어씁니다.
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

* Dictionary 길이
  - Dictionary 에 있는 항목 수를 확인하려면 len() 함수를 사용하세요.

In [8]:
# Dictionary 의 항목 수를 출력하세요.
print(len(thisdict))

3

* Dictionary Items - Data Types
  
   - Dictionary 항목의 값은 모든 데이터 유형이 될 수 있습니다.

In [9]:
# 문자열, 정수, 부울 및 목록 데이터 유형
thisdict = {
    "brand": "Ford",
    "electric": False,
    "year": 1964,
    "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

* Dictionary 의 type()
  - Python 관점에서 Dictionary 는 'dict' 데이터 유형을 가진 객체로 정의됩니다.

In [ ]:
# Dictionary 의 데이터 유형을 출력합니다.
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(type(thisdict))

<class 'dict'>

* dict() 생성자
  - dict() 생성자를 사용하여 Dictionary 을 만들 수도 있습니다.

In [11]:
# dict() 메서드를 사용하여 Dictionary 을 만듭니다.
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

* Python 컬렉션(배열)
  - Python 프로그래밍 언어에는 네 가지 컬렉션 데이터 유형이 있습니다.

    - List는 순서가 있고 변경 가능한 컬렉션입니다. 중복된 멤버를 허용합니다.
    - Tuple은 순서가 있고 변경 불가능한 컬렉션입니다. 중복된 멤버를 허용합니다.
    - Set은 순서가 없고, 변경 불가능하며,* 인덱스가 없는 컬렉션입니다. 중복된 멤버는 없습니다.
    - Dictionary는 순서가 있고** 변경 가능한 컬렉션입니다. 중복된 멤버는 없습니다.

* Dictionary 항목 액세스
  - 대괄호 안에 키 이름을 참조하면 Dictionary 항목에 액세스할 수 있습니다.

In [13]:
# "모델" 키의 값을 가져옵니다.
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

* 동일한 결과를 제공하는 get()이라는 메서드도 있습니다.

In [15]:
# "모델" 키의 값을 가져옵니다.
x = thisdict.get("model")
print(x)

Mustang

* 키 가져오기
  - keys() 메서드는 Dictionary 의 모든 키 목록을 반환합니다.

In [17]:
# 키 목록을 받으세요.
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

* 키 목록은 Dictionary 의 보기이며, 이는 Dictionary 에 적용된 모든 변경 사항이 키 목록에 반영됨을 의미합니다.

In [20]:
# 원래 Dictionary 에 새 항목을 추가하고 키 목록도 업데이트되는지 확인하세요.

# dict.keys()가 ‘실시간 뷰(View)’ 객체를 반환하기 때문
# x = car.keys() 를 하면,
# x에는 단순히 “현재 키 목록의 복사본”이 들어가는 게 아니라,
# car 딕셔너리의 키들을 실시간으로 바라보는 ‘뷰 객체(dict_keys)’ 가 들어갑니다.
# 즉, x는 car와 연결된 상태로,
# car에 변화가 생기면 x도 자동으로 업데이트됩니다.

# x = car.keys()는 **변수 복사(값 복사)**가 아니라,
# car 딕셔너리 객체를 **참조(reference)**하는 뷰 객체 복사, 즉 “객체 연결”에 더 가깝습니다.

car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = car.keys() # 변경 전

print(x)

car["color"] = "white"

print(x) # 변경 후

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

* 값 가져오기
  - values() 메서드는 Dictionary 의 모든 값 목록을 반환합니다.

In [22]:
# 값 목록을 가져옵니다.
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

* 값 목록은 사전의 보기이며, 이는 사전에 적용된 모든 변경 사항이 값 목록에 반영됨을 의미합니다.

In [23]:
# 원본 Dictionary 에서 변경 사항을 만들고 값 목록도 업데이트되는지 확인하세요.
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = car.values()

print(x) # 변경 전

car["year"] = 2020

print(x) # 변경 후

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [25]:
# 원래 Dictionary 에 새 항목을 추가하고 값 목록도 업데이트되는지 확인하세요.
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = car.values()

print(x) # 변경 전

car["color"] = "white"

print(x) # 변경 후

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'white'])

* 항목 가져오기
  - items() 메서드는 Dictionary 의 각 항목을 목록의 튜플로 반환합니다.

In [26]:
# 키:값 쌍 목록 가져오기
x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

* 반환된 목록은 Dictionary 항목에 대한 뷰입니다. 즉, Dictionary 에 적용된 모든 변경 사항은 항목 목록에 반영됩니다.

In [29]:
# 원본 Dictionary 에서 변경 사항을 만들고 항목 목록도 업데이트되는지 확인하세요.
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = car.items()

print(x) # 변경 전

car["year"] = 2020

print(x) # 변경 후

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [32]:
# 원래 Dictionary 에 새 항목을 추가하면 항목 목록도 업데이트되는지 확인하세요.
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = car.items()

print(x) # 변경 전

car["color"] = "red"

print(x) # 변경 후

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

* 키가 있는지 확인
  - 지정된 키가 Dictionary 에 있는지 확인하려면 in 키워드를 사용하세요.

In [34]:
# Dictionary 에 "model"이 있는지 확인하세요.
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

* Dictionary 항목 변경
  - 값 변경
    - 키 이름을 참조하여 특정 항목의 값을 변경할 수 있습니다.

In [38]:
# "year"를 2018년으로 변경하세요.
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict["year"] = 2018
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2018)])

* Dictionary 업데이트
  - update() 메서드는 주어진 인수의 항목으로 Dictionary 을 업데이트합니다.
  - 인수는 Dictionary 이거나 키:값 쌍을 가진 반복 가능한 객체여야 합니다.

In [37]:
# update() 메서드를 사용하여 자동차의 "year"를 업데이트합니다.
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.update({"year": 2020})
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

* Dictionary 항목 추가
  - 항목 추가
    - Dictionary 에 항목을 추가하려면 새 인덱스 키를 사용하고 해당 키에 값을 할당합니다.

In [39]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

* Dictionary 업데이트
  - update() 메서드는 주어진 인수의 항목으로 Dictionary 을 업데이트합니다. 항목이 없으면 항목이 추가됩니다.
  - 인수는 Dictionary 이거나 키:값 쌍을 가진 반복 가능한 객체여야 합니다.

In [40]:
# update() 메서드를 사용하여 Dictionary 에 색상 항목을 추가합니다.
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.update({"color": "red"})
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

* Dictionary 항목 제거
  - 항목 제거
    - Dictionary 에서 항목을 제거하는 방법에는 여러 가지가 있습니다.

In [41]:
# pop() 메서드는 지정된 키 이름을 가진 항목을 제거합니다.
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [43]:
# popitem() 메서드는 마지막으로 삽입된 항목을 제거합니다(3.7 이전 버전에서는 대신 임의의 항목이 제거됨).
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [44]:
# del 키워드는 지정된 키 이름을 가진 항목을 제거합니다.
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [46]:
# del 키워드는 사전을 완전히 삭제할 수도 있습니다.
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
del thisdict
print(thisdict) # "thisdict"가 더 이상 존재하지 않기 때문에 오류가 발생합니다.

NameError: name 'thisdict' is not defined

In [48]:
# clear() 메서드는 Dictionary 을 비웁니다.
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.clear()
print(thisdict)

{}

* 루프 Dictionary
  - Dictionary 루프
    - for 루프를 사용하여 Dictionary 을 루프할 수 있습니다.
    - Dictionary 을 루프할 때 반환 값은 Dictionary 의 키이지만, 값을 반환하는 메서드도 있습니다.

In [51]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

In [52]:
# Dictionary 에 있는 모든 주요 이름을 하나씩 출력하세요.
for x in thisdict:
    print(x)

brand
model
year

In [53]:
# Dictionary 에 있는 모든 값을 하나씩 출력하세요.
for x in thisdict:
    print(thisdict[x])

Ford
Mustang
1964

In [54]:
# values() 메서드를 사용하여 Dictionary 의 값을 반환할 수도 있습니다.
for x in thisdict.values():
    print(x)

Ford
Mustang
1964

In [55]:
# keys() 메서드를 사용하면 Dictionary 의 키를 반환할 수 있습니다.
for x in thisdict.keys():
    print(x)

brand
model
year

In [56]:
# items() 메서드를 사용하여 키와 값을 모두 반복합니다.
for x, y in thisdict.items():
    print(x, y)

brand Ford
model Mustang
year 1964

* Dictionary 복사
   - dict2 = dict1이라고 입력하는 것만으로는 사전을 복사할 수 없습니다. dict2는 dict1에 대한 참조일 뿐이며, dict1에서 변경한 내용은 자동으로 dict2에도 반영되기 때문입니다.
   - Dictionary 을 복사하는 방법은 여러 가지가 있는데, 그중 하나는 Dictionary 내장 메서드인 copy()를 사용하는 것입니다.

In [57]:
# copy() 메서드를 사용하여 Dictionary 의 복사본을 만듭니다.
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

* 복사본을 만드는 또 다른 방법은 내장 함수 dict()를 사용하는 것입니다.

In [58]:
# dict() 함수를 사용하여 Dictionary 의 복사본을 만듭니다.
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

* 중첩 Dictionary
  - Dictionary 은 여러 Dictionary 을 포함할 수 있는데, 이를 중첩 Dictionary 이라고 합니다.

In [61]:
# 세 개의 Dictionary 을 포함하는 Dictionary 을 만듭니다.
myfamily = {
    "child1" : {
        "name" : "Emil",
        "year" : 2004
    },
    "child2" : {
        "name" : "Tobias",
        "year" : 2007
    },
    "child3" : {
        "name" : "Linus",
        "year" : 2011
    }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

* 또는 새 Dictionary 에 세 개의 Dictionary 을 추가하려면 다음을 수행합니다.

In [64]:
# 세 개의 Dictionary 을 만든 다음, 나머지 세 개의 Dictionary 을 포함하는 하나의 Dictionary 을 만듭니다.
child1 = {
    "name" : "Emil",
    "year" : 2004
}
child2 = {
    "name" : "Tobias",
    "year" : 2007
}
child3 = {
    "name" : "Linus",
    "year" : 2011
}

myfamily = {
    "child1" : child1,
    "child2" : child2,
    "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

* 중첩된 Dictionary 의 항목에 접근하기
  - 중첩된 Dictionary 의 항목에 접근하려면 바깥쪽 Dictionary 부터 시작하여 Dictionary 이름을 사용합니다.

In [65]:
# "2번째 child" 의 "name"을 출력하세요.
print(myfamily["child2"]["name"])

Tobias

* 중첩된 Dictionary 반복
  - items() 메서드를 사용하여 다음과 같이 Dictionary 을 반복할 수 있습니다.

In [67]:
# 중첩된 모든 Dictionary 의 키와 값을 반복합니다.
for x, obj in myfamily.items():
    print(x)

    for y in obj:
        print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

* Dictionary Methods
  - https://www.w3schools.com/python/python_dictionaries_methods.asp

* If ... Else
   - 조건문 및 If 문
     - Python은 수학에서 흔히 사용되는 논리 조건을 지원합니다.
       - 같음: a == b
       - 같지 않음: a != b
       - 작음: a < b
       - 작거나 같음: a <= b
       - 큼: a > b
       - 큼이나 같음: a >= b
     - 이러한 조건문은 여러 가지 방법으로 사용할 수 있으며, 특히 "if 문"과 반복문에서 많이 사용됩니다.
     - "if 문"은 if 키워드를 사용하여 작성합니다.

In [2]:
# If 문
a = 33
b = 200

# 이 예제에서는 두 변수 a와 b를 사용합니다.
# 이 변수들은 if 문의 일부로 사용되어 b가 a보다 큰지 여부를 검사합니다. a는 33이고 b는 200이므로 200이 33보다 크다는 것을 알 수 있고, 
# 따라서 "b is greater than a"를 화면에 출력합니다.
if b > a:
    print("b is greater than a")

b is greater than a

* 들여쓰기
  - Python은 들여쓰기(줄 시작 부분의 공백)를 사용하여 코드의 범위를 정의합니다. 다른 프로그래밍 언어에서는 이러한 목적으로 중괄호를 사용하는 경우가 많습니다.

In [3]:
# 들여쓰기 없는 if 문(오류 발생)
a = 33
b = 200

if b > a:
print("b is greater than a") # 오류가 발생합니다

IndentationError: expected an indented block after 'if' statement on line 5 (3809537412.py, line 6)

* Elif
  - elif 키워드는 Python에서 "이전 조건이 참이 아니면 이 조건을 시도하세요"라고 말하는 방식입니다.

In [5]:
a = 33
b = 33

# 이 예에서 a는 b와 같으므로 첫 번째 조건은 참이 아니지만 elif 조건은 참이므로 "a와 b는 같다"라는 내용을 화면에 출력합니다.
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

* Else
  - else 키워드는 이전 조건에 해당하지 않는 모든 항목을 처리합니다.

In [7]:
a = 200
b = 33

# 이 예에서 a는 b보다 크므로 첫 번째 조건은 참이 아닙니다. 또한 elif 조건도 참이 아니므로 else 조건으로 이동하여 "a는 b보다 크다"를 화면에 출력합니다.
# elif 없이 else를 사용할 수도 있습니다.
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [8]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

* 간단한 if 문
  - 실행할 명령문이 하나뿐인 경우 if 문과 같은 줄에 입력할 수 있습니다.

In [9]:
# 한 줄 if 문
if a > b: print("a is greater than b")

a is greater than b

* If ... Else의 간단한 사용법
  - 실행할 명령문이 if와 else 각각 하나씩만 있는 경우, 모두 같은 줄에 입력할 수 있습니다.

In [12]:
# 한 줄의 if else 문
a = 2
b = 330

# 이 기술은 삼항 연산자 또는 조건식이라고 합니다.
# 파이썬의 삼항 연산자 문법
#  참일_때_값 if 조건 else 거짓일_때_값
print("A") if a > b else print("B")

B

* 같은 줄에 여러 개의 else 문을 사용할 수도 있습니다.

In [14]:
# 3가지 조건이 있는 한 줄의 if else 문
a = 330
b = 330

print("A") if a > b else print("=") if a == b else print("B")

# 아래와 같음
# if a > b:
#     print("A")
# else:
#     if a == b:
#         print("=")
#     else:
#         print("B")

=

* And
  - and 키워드는 논리 연산자이며, 조건문을 결합하는 데 사용됩니다.

In [15]:
# a가 b보다 큰지, 그리고 c가 a보다 큰지 테스트합니다.
a = 200
b = 33
c = 500

if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

* Or
  - or 키워드는 논리 연산자이며 조건문을 결합하는 데 사용됩니다.

In [16]:
# a가 b보다 큰지, 또는 a가 c보다 큰지 테스트합니다.
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

* Not
  - not 키워드는 논리 연산자이며, 조건문의 결과를 반전하는 데 사용됩니다.

In [17]:
# a가 b보다 크지 않은지 테스트합니다.
a = 33
b = 200
if not a > b:
    print("a is NOT greater than b")

a is NOT greater than b

* 중첩된 if 문
  - if 문 안에 if 문을 넣을 수 있는데, 이를 중첩된 if 문이라고 합니다.

In [19]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

* pass 문
  - if 문은 비어 있을 수 없지만, 어떤 이유로든 내용이 없는 if 문이 있는 경우, 오류를 방지하기 위해 pass 문을 삽입하세요.

In [20]:
a = 33
b = 200

if b > a:
    pass

* Match
  - match 문은 다양한 조건에 따라 다양한 동작을 수행하는 데 사용됩니다.
  - Python Match 문
    - if..else 문을 여러 개 작성하는 대신 match 문을 사용할 수 있습니다.
    - match 문은 실행할 여러 코드 블록 중 하나를 선택합니다.

* match 문법
    ```
    match expression:
    case x:
        code block
    case y:
        code block
    case z:
        code block
    ```

* match 작동 방식은 다음과 같습니다.
  - 일치 표현식은 한 번 평가됩니다.
  - 표현식의 값은 각 case의 값과 비교됩니다.
  - 일치하는 항목이 있으면 연관된 코드 블록이 실행됩니다.

In [21]:
# 이 예제에서는 요일 번호를 사용하여 요일 이름을 출력합니다.
day = 4
match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")
    case 7:
        print("Sunday")

Thursday

* 기본값
  - 다른 일치 항목이 없을 때 코드 블록을 실행하려면 마지막 case 값으로 밑줄 문자 _를 사용하세요.
  - 값 _는 항상 일치하므로 기본 케이스처럼 동작하도록 하려면 마지막 케이스에 두는 것이 중요합니다.

In [22]:
day = 4
match day:
    case 6:
        print("Today is Saturday")
    case 7:
        print("Today is Sunday")
    case _:
        print("Looking forward to the Weekend")

Looking forward to the Weekend

* 값 결합
  - 케이스 평가에서 파이프 문자 |를 or 연산자로 사용하여 하나의 케이스에서 두 개 이상의 값이 일치하는지 확인합니다.

In [23]:
day = 4
match day:
    case 1 | 2 | 3 | 4 | 5:
        print("Today is a weekday")
    case 6 | 7:
        print("I love weekends!")

Today is a weekday

* if 문을 가드로 사용
  - 케이스 평가에 if 문을 추가 조건 검사로 사용할 수 있습니다.

In [24]:
month = 5
day = 4
match day:
    case 1 | 2 | 3 | 4 | 5 if month == 4:
        print("A weekday in April")
    case 1 | 2 | 3 | 4 | 5 if month == 5:
        print("A weekday in May")
    case _:
        print("No match")

A weekday in May

* While 루프
  - Python에는 두 가지 기본 루프 명령이 있습니다.
    - while 루프
    - for 루프

  - while 루프
    - while 루프를 사용하면 조건이 참인 동안 일련의 명령문을 실행할 수 있습니다.

In [27]:
# while 루프는 관련 변수가 준비되어야 합니다. 이 예에서는 인덱싱 변수 i를 정의하고 1로 설정해야 합니다.
# i가 6보다 작은 경우 i를 출력합니다.
# 참고: i를 증가시키는 것을 잊지 마세요. 그렇지 않으면 루프가 영원히 계속됩니다.
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

* break 문
  - break 문을 사용하면 while 조건이 참이면 루프를 중단할 수 있습니다.

In [28]:
# i가 3일 때 루프를 종료합니다.
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

* continue 문
  - continue 문을 사용하면 현재 반복을 중단하고 다음 반복을 계속할 수 있습니다.

In [29]:
# i가 3이면 다음 반복을 계속합니다.
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

* else 문
  - else 문을 사용하면 조건이 더 이상 참이 아닐 때 코드 블록을 한 번 실행할 수 있습니다.

In [30]:
# 조건이 거짓이면 메시지를 출력합니다.
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

* for 루프
  - for 루프는 시퀀스(리스트, 튜플, 딕셔너리, 집합 또는 문자열)를 반복하는 데 사용됩니다.
  - 이는 다른 프로그래밍 언어의 for 키워드와는 다르며, 다른 객체 지향 프로그래밍 언어에서 볼 수 있는 반복자 메서드와 더 유사하게 작동합니다.
  - for 루프를 사용하면 리스트, 튜플, 집합 등의 각 항목에 대해 한 번씩 일련의 명령문을 실행할 수 있습니다.

In [31]:
# fruits 목록에 있는 각 과일을 출력하세요.
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

* for 루프는 인덱싱 변수를 미리 설정할 필요가 없습니다.

* 문자열 반복하기
  - 문자열도 반복 가능한 객체이며, 일련의 문자를 포함합니다.

In [32]:
# "banana"라는 단어의 글자를 반복하세요.
for x in "banana":
    print(x)

b
a
n
a
n
a

* break 문
  - break 문을 사용하면 모든 항목을 순회하기 전에 루프를 중단할 수 있습니다.

In [33]:
# x가 "banana"일 때 루프를 종료합니다.
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [34]:
# x가 "banana"일 때 루프를 종료하지만 이번에는 break가 print보다 먼저 옵니다.
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

* continue 문
  - continue 문을 사용하면 루프의 현재 반복을 중단하고 다음 반복을 계속할 수 있습니다.

In [35]:
# "banana"를 출력하지 마세요.
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

* range() 함수
  - 지정된 횟수만큼 코드 집합을 반복하려면 range() 함수를 사용할 수 있습니다.
  - range() 함수는 기본적으로 0부터 시작하여 1씩 증가(기본값)하고 지정된 숫자에서 끝나는 일련의 숫자를 반환합니다.

In [37]:
# range() 함수를 사용합니다.
# range(6)은 0~6의 값이 아니라 0~5의 값이라는 점에 유의하세요.
for x in range(6):
    print(x)

0
1
2
3
4
5

* range() 함수는 기본적으로 시작 값으로 0을 사용하지만 매개변수 range(2, 6)를 추가하여 시작 값을 지정할 수 있습니다. 이는 2에서 6까지의 값(6은 제외)을 의미합니다.

In [40]:
# 시작 매개변수 사용
for x in range(2, 6):
    print(x)

2
3
4
5

In [42]:
# 시작 매개변수 사용
for x in range(3, 15):
    print(x)

3
4
5
6
7
8
9
10
11
12
13
14

* range() 함수는 기본적으로 시퀀스를 1씩 증가시키지만 세 번째 매개변수를 추가하여 증가 값을 지정할 수 있습니다. 예를 들어 range(2, 30, 3)

In [43]:
# 시퀀스를 3씩 증가시킵니다(기본값은 1)
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

* for 루프의 else
  - for 루프의 else 키워드는 루프가 완료되었을 때 실행될 코드 블록을 지정합니다.

In [44]:
# 0부터 5까지의 모든 숫자를 출력하고, 루프가 끝나면 메시지를 출력합니다.
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

* 참고: 루프가 break 문으로 중단되면 else 블록은 실행되지 않습니다.

In [45]:
# x가 3일 때 루프를 중단하고 else 블록에서 무슨 일이 일어나는지 살펴보세요.
for x in range(6):
    if x == 3: break
    print(x)
else:
    print("Finally finished!")

0
1
2

* 중첩 루프
  - 중첩 루프는 루프 안에 있는 루프입니다.
  - "내부 루프"는 "외부 루프"가 반복될 때마다 한 번씩 실행됩니다.

In [46]:
# 각 과일에 대한 형용사를 각각 출력하세요.
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

* pass 문
  - for 루프는 비어 있을 수 없지만, 어떤 이유로든 내용이 없는 for 루프가 있는 경우, 오류를 방지하기 위해 pass 문을 삽입하세요.

In [47]:
for x in [0, 1, 2]:
    pass

* 함수

  - 함수는 호출될 때만 실행되는 코드 블록입니다.
  - 매개변수라고 하는 데이터를 함수에 전달할 수 있습니다.
  - 함수는 결과로 데이터를 반환할 수 있습니다.

- 함수 만들기
  - Python에서 함수는 다음 def 키워드를 사용하여 정의됩니다.

In [1]:
def my_function():
    print("Hello from a function")

- 함수 호출
  - 함수를 호출하려면 함수 이름 뒤에 괄호를 사용합니다.

In [2]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

* 인수
  - 정보는 인수로 함수에 전달될 수 있습니다.
  - 인수는 함수 이름 뒤 괄호 안에 지정합니다. 인수는 원하는 만큼 추가할 수 있으며, 쉼표로 구분하면 됩니다.
  - 다음 예제는 인수가 하나인 함수(fname)를 사용합니다. 함수가 호출될 때 이름을 전달하는데, 이 이름은 함수 내부에서 전체 이름을 출력하는 데 사용됩니다.
  - Python 문서에서는 인수를 args 로 줄여서 쓰는 경우가 많습니다.

In [ ]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

* 매개변수 또는 인수?
  - 매개변수 와 인수라는 용어는 같은 의미로 사용될 수 있습니다. 즉, 함수에 전달되는 정보를 의미합니다.
  - 함수의 관점에서:
    - 매개변수는 함수 정의에서 괄호 안에 나열된 변수입니다.
    - 인수는 함수가 호출될 때 전달되는 값입니다.

- 인수의 수
  - 기본적으로 함수는 올바른 개수의 인수로 호출되어야 합니다. 즉, 함수가 인수를 두 개 예상한다면, 인수를 두 개 이상 또는 그 이하로 지정해서 호출해야 합니다.

In [4]:
# 이 함수는 2개의 인수를 기대하고 2개의 인수를 받습니다.
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

* 1개 또는 3개의 인수로 함수를 호출하려고 하면 오류가 발생합니다.

In [6]:
# 이 함수는 2개의 인수를 기대하지만 1개만 받습니다.
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

- 임의의 인수, *args
  - 함수에 전달될 인수의 개수를 모르는 경우, *함수 정의에서 매개변수 이름 앞에 를 추가합니다.
  - 이렇게 하면 함수는 인수 튜플을 받고 그에 따라 항목에 액세스할 수 있습니다.
  - Python 문서에서는 임의의 인수를 종종 *args 로 줄여서 표기합니다.

In [ ]:
# 인수의 개수를 알 수 없는 경우 매개변수 이름 앞에 *를 추가합니다.
def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

* 키워드 인수
  - 키 = 값 구문을 사용하여 인수를 보낼 수도 있습니다.
  - 이렇게 하면 인수의 순서는 중요하지 않습니다.
  - Python 문서에서는 키워드 인수라는 문구 를 종종 kwargs 로 줄여서 사용합니다.

In [8]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

- 임의의 키워드 인수, **kwargs
  - 함수에 전달될 키워드 인수의 개수를 모르는 경우 **함수 정의에서 매개변수 이름 앞에 별표 두 개를 추가합니다.
  - 이렇게 하면 함수는 인수 사전을 받고 그에 따라 항목에 액세스할 수 있습니다.
  - 임의의 Kword 인수는 Python 문서에서 종종 **kwargs 로 줄여서 표기됩니다.

In [9]:
# 키워드 인수의 개수를 알 수 없는 경우 매개변수 이름 앞에 **를 두 개 추가합니다.
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

- 기본 매개변수 값
  - 다음 예제에서는 기본 매개변수 값을 사용하는 방법을 보여줍니다.
  - 인수 없이 함수를 호출하면 기본값이 사용됩니다.

In [10]:
def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

- 인수로 목록 전달하기
  - 함수에 어떤 데이터 유형(문자열, 숫자, 목록, 사전 등)의 인수를 보낼 수 있으며, 이는 함수 내부에서 동일한 데이터 유형으로 처리됩니다.
  - 예를 들어 인수로 목록을 보내면 함수에 도달할 때 여전히 목록이 됩니다.

In [12]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

- 반환 값
  - 함수가 값을 반환하도록 하려면 return 다음 명령문을 사용하세요.

In [13]:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

- pass 구문
  - 함수 정의는 비어 있을 수 없지만, 어떤 이유로 내용이 없는 함수 정의가 있는 경우 pass 문을 넣어 오류를 방지하세요.

In [ ]:
def my_function():
    pass

- 위치 전용 인수
  - 함수가 위치 인수만 가질 수 있도록 지정하거나 키워드 인수만 가질 수 있도록 지정할 수 있습니다.
  - 함수가 위치 인수만 가질 수 있도록 지정하려면 인수 뒤에 `, /` 를 추가합니다.

In [14]:
def my_function(x, /):
    print(x)


my_function(3)

3

* `, /` 없이도 함수가 위치 인수를 기대하더라도 키워드 인수를 사용할 수 있습니다.

In [17]:
def my_function(x):
    print(x)

my_function(x = 3)

3

* 하지만 `, /`를 추가할 때 키워드 인수를 보내려고 하면 오류가 발생합니다.

In [18]:
def my_function(x, /):
    print(x)

my_function(x = 3)

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'x'

* 키워드 전용 인수
  - 함수가 키워드 인수만 가질 수 있도록 지정하려면 인수 `*,` 앞에 다음을 추가합니다.

In [19]:
def my_function(*, x):
    print(x)

my_function(x = 3)

3

- 키워드 인수를 기대하는 함수 `*,` 라도 위치 인수를 사용할 수 있습니다.

In [20]:
def my_function(x):
    print(x)

my_function(3)

3

* 하지만 `*,` 위치 인수를 보내려고 하면 오류가 발생합니다.

In [21]:
def my_function(*, x):
    print(x)

my_function(3)

TypeError: my_function() takes 0 positional arguments but 1 was given

- 위치 전용과 키워드 전용을 결합합니다.
  - 동일한 함수에서 두 가지 인수 유형을 결합할 수 있습니다.
  - 앞에 있는 인수는 위치 `/ ,`전용이고 뒤에 있는 인수는 키워드 `*, ` 전용입니다.

In [22]:
def my_function(a, b, /, *, c, d):
    print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

In [23]:
def func(a, /, b, *, c):
    print(a, b, c)

func(1, 2, c = 3) # a=1 (위치 인자), b=2 (위치 인자), c=3 (키워드 인자)

# func(a=1, b=2, c=3) 오류: a는 위치 전용이라 키워드로 전달 불가
# func(1, 2, 3)오류: c는 키워드 전용이므로 반드시 c=3 형태여야 함

1 2 3

* 재귀
  - 파이썬은 또한 함수 재귀를 허용하는데, 이는 정의된 함수가 자기 자신을 호출할 수 있다는 것을 의미합니다.
  - 재귀는 일반적인 수학 및 프로그래밍 개념입니다. 함수가 자기 자신을 호출한다는 의미입니다. 이는 데이터를 반복하여 결과에 도달할 수 있다는 장점이 있습니다.
  - 개발자는 재귀를 사용할 때 매우 주의해야 합니다. 종료되지 않는 함수나 과도한 메모리 또는 프로세서 성능을 사용하는 함수를 작성하게 될 수 있기 때문입니다. 하지만 올바르게 작성하면 재귀는 매우 효율적이고 수학적으로 우아한 프로그래밍 방식이 될 수 있습니다.
  - 이 예제에서 tri_recursion() 은 자기 자신을 호출하도록 정의한 함수입니다("recurse"). k 변수를 데이터로 사용하는데, 이 변수는 재귀가 발생할 때마다 감소( -1 )합니다. 재귀는 조건이 0보다 크지 않을 때(즉, 0이 될 때) 종료됩니다.
  - 새로운 개발자에게는 이것이 정확히 어떻게 작동하는지 알아내는 데 시간이 걸릴 수 있으며, 알아내는 가장 좋은 방법은 테스트하고 수정하는 것입니다.

In [24]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21

* 데코레이터
  - 데코레이터를 사용하면 함수의 코드를 변경하지 않고도 함수에 추가적인 동작을 추가할 수 있습니다.
  - 데코레이터는 다른 함수를 입력으로 받아서 새로운 함수를 반환하는 함수입니다.

* 기본 데코레이터
  - 먼저 데코레이터를 정의한 다음, @decorator_name함수 위에 적용합니다.

In [26]:
# 데코레이팅된 함수의 반환 값을 대문자로 바꾸는 기본 데코레이터입니다.
def changecase(func):
    def myinner():
        return func().upper()
    return myinner

@changecase
def myfunction():
    return "Hello Sally"

print(myfunction())

# @changecase를 함수 정의 바로 위에 배치함으로써 myfunction 함수는 changecase 함수로 "데코레이팅"됩니다.
# changecase 함수는 데코레이터입니다.
# myfunction 함수는 데코레이팅되는 함수입니다.

HELLO SALLY

- 여러 데코레이터 호출
  - 데코레이터는 여러 번 호출될 수 있습니다. 데코레이터를 데코레이션하려는 함수 위에 배치하기만 하면 됩니다.

In [27]:
# @changecase두 가지 함수에 데코레이터 사용
def changecase(func):
    def myinner():
        return func().upper()
    return myinner

@changecase
def myfunction():
    return "Hello Sally"

@changecase
def otherfunction():
    return "I am speed!"

print(myfunction())
print(otherfunction())

HELLO SALLY
I AM SPEED!

* 데코레이팅된 함수의 인수
  - 인수가 필요한 함수도 데코레이팅할 수 있습니다. 단, 래퍼 함수에 인수를 전달해야 합니다.

In [28]:
# 인수가 있는 함수도 데코레이트할 수 있습니다.
def changecase(func):
    def myinner(x):
        return func(x).upper()
    return myinner

@changecase
def myfunction(name):
    return "Hello " + name

print(myfunction("John"))

HELLO JOHN

* *args 및 **kwargs
  - 데코레이터 함수가 데코레이팅된 함수에서 전달되는 인수를 제어할 수 없는 경우가 있습니다. 이 문제를 해결하려면 래퍼 함수에 (*args, **kwargs)를 추가합니다. 이렇게 하면 래퍼 함수가 원하는 개수와 유형의 인수를 받아 데코레이팅된 함수에 전달할 수 있습니다.

In [29]:
# *args 및 **kwargs 인수를 사용하여 함수를 보호합니다.
def changecase(func):
    def myinner(*args, **kwargs):
        return func(*args, **kwargs).upper()
    return myinner

@changecase
def myfunction(name):
    return "Hello " + name

print(myfunction("John"))

HELLO JOHN

* 인수가 있는 데코레이터
  - 데코레이터는 다른 래퍼 수준을 추가하여 자체 인수를 받을 수 있습니다.

In [31]:
# 인수를 받아서 인수 값에 따라 케이스를 변환하는 데코레이터 팩토리입니다.
def changecase(n):
    def changecase(func):
        def myinner():
            if n == 1:
                a = func().lower()
            else:
                a = func().upper()
            return a
        return myinner
    return changecase

@changecase(1)
def myfunction():
    return "Hello Linus"

print(myfunction())

hello linus

* 여러 데코레이터
  - 하나의 함수에 여러 데코레이터를 사용할 수 있습니다.
  - 데코레이터 호출을 서로 겹쳐서 배치하면 됩니다.
  - 데코레이터는 지정된 순서대로 호출됩니다.

In [32]:
# 대문자를 위한 데코레이터 하나와 인사말을 추가하기 위한 데코레이터 하나:
def changecase(func):
    def myinner():
        return func().upper()
    return myinner

def addgreeting(func):
    def myinner():
        return "Hello " + func() + " Have a good day!"
    return myinner

@changecase
@addgreeting
def myfunction():
    return "Tobias"

print(myfunction())

HELLO TOBIAS HAVE A GOOD DAY!

- 함수 메타데이터 보존
  - Python 함수에는 `__name__` 및 `__doc__` 속성을 사용하여 액세스할 수 있는 메타데이터가 있습니다.

In [33]:
# 일반적으로 함수의 이름은 __name__ 속성을 사용하여 반환될 수 있습니다.
def myfunction():
    return "Have a great day!"

print(myfunction.__name__)

myfunction

* 하지만 함수가 데코레이팅되면 원래 함수의 메타데이터가 손실됩니다.

In [34]:
# 장식된 함수에서 이름을 반환해 보면 같은 결과를 얻을 수 없습니다.
def changecase(func):
    def myinner():
        return func().upper()
    return myinner

@changecase
def myfunction():
    return "Have a great day!"

print(myfunction.__name__)

myinner

* 이 문제를 해결하기 위해 Python에는 functools.wraps라는 내장 함수가 있는데, 이를 사용하여 원래 함수의 이름과 docstring을 보존할 수 있습니다.

In [35]:
# 원래 함수 이름과 docstring을 보존하려면 functools.wraps를 가져옵니다.
import functools

def changecase(func):
    @functools.wraps(func)
    def myinner():
        return func().upper()
    return myinner

@changecase
def myfunction():
    return "Have a great day!"

print(myfunction.__name__)

myfunction

* Python - Range

  - 내장 함수 range()는 특정 횟수만큼 반복하는 데 일반적으로 사용되는 불변 숫자 시퀀스를 반환합니다.
  - 이 숫자 세트는 범위라는 자체 데이터 유형을 갖습니다.
  - 참고: 불변이란 생성된 후에는 수정할 수 없다는 것을 의미합니다.

* range 만들기
  - range() 함수는 다음 구문을 사용하여 1개, 2개 또는 3개의 인수로 호출할 수 있습니다.

In [36]:
range(start, stop, step)

NameError: name 'start' is not defined

- 하나의 인수로 range() 호출
  - range 함수를 하나의 인수로만 호출하면, 해당 인수는 종료 값을 나타냅니다.
  - 시작 인수는 선택 사항이며, 지정하지 않으면 기본값은 0입니다.
  - range(10)은 0부터 9까지의 각 숫자의 시퀀스를 반환합니다. (시작 인수 0은 포함되고, 종료 인수 10은 제외됩니다.)

In [41]:
# 0~9까지의 숫자 범위를 만듭니다.
x = range(10)

* 두 개의 인수로 range() 호출
  - range 함수가 두 개의 인수로 호출되면 첫 번째 인수는 시작 값을, 두 번째 인수는 종료 값을 나타냅니다.
  - range(3, 10)은 3부터 9까지 각 숫자의 시퀀스를 반환합니다.

In [42]:
# 3에서 9까지의 숫자 범위를 만듭니다.
x = range(3, 10)

* 세 개의 인수로 range() 호출
  - range 함수를 세 개의 인수로 호출하면 세 번째 인수는 단계 값을 나타냅니다.
  - 단계 값은 시퀀스의 각 숫자 사이의 차이를 의미합니다. 선택 사항이며, 지정하지 않으면 기본값은 1입니다.

In [ ]:
# range(3, 10, 2)는 3부터 9까지 각 숫자의 단계가 2인 시퀀스를 반환합니다.
x = range(3, 10, 2)

* 범위 사용
  - 범위는 for 루프에서 숫자 시퀀스를 반복하는 데 자주 사용됩니다.

In [44]:
# 범위 내의 각 값을 반복합니다.
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

* 목록을 사용하여 범위 표시하기
  - 범위 객체는 변경 불가능한 숫자 시퀀스를 나타내는 데이터 유형이며, 직접 표시할 수 없습니다.
  - 따라서 범위를 목록으로 변환하여 표시하는 경우가 많습니다.

In [45]:
# 다양한 범위를 목록으로 변환
print(list(range(5)))
print(list(range(1, 6)))
print(list(range(5, 20, 3)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[5, 8, 11, 14, 17]

* 범위 슬라이싱
  - 다른 시퀀스와 마찬가지로 범위도 슬라이싱하여 하위 시퀀스를 추출할 수 있습니다.
  - 참고: 첫 번째 print 문은 인덱스 2의 값을 반환하고, 두 번째 print 문은 인덱스 0부터 3까지의 새로운 범위 객체를 반환합니다.

In [47]:
# 범위에서 하위 시퀀스 추출
r = range(10)
print(r[2])
print(r[:3])

2
range(0, 3)

* 멤버십 테스트
  - 범위는 in 연산자를 사용하여 멤버십 테스트를 지원합니다.
  - 숫자가 범위 내에 있으면 반환 값은 True이고, 없으면 반환 값은 False입니다.

In [51]:
# 숫자 6과 7이 범위 내에 존재하는지 테스트합니다.
r = range(0, 10, 2)
print(6 in r)
print(7 in r)

True
False

* 길이
  - 범위는 범위 내 요소의 개수를 가져오는 len() 함수를 지원합니다.

In [52]:
# 범위의 길이를 가져옵니다.
r = range(0, 10, 2)
print(len(r))

5